In [25]:
import pandas as pd

In [26]:
from sodapy import Socrata

In [27]:
client = Socrata("data.cityofnewyork.us", "1vscl5xBtxiCI6ReKRmVwa0zt")

In [28]:
final_results = []
loops = 67 
records = 50000
identified = "k397-673e"
for i in range(loops):
    results = client.get(identified, limit=records, offset=records*i)
    final_results.append(pd.DataFrame(results))

In [29]:
final_results

[      fiscal_year payroll_number                agency_name   last_name  \
 0            2019             67  ADMIN FOR CHILDREN'S SVCS     SIMMONS
 1            2019             67  ADMIN FOR CHILDREN'S SVCS    MOHAMMED
 2            2019             67  ADMIN FOR CHILDREN'S SVCS       MCRAE
 3            2019             67  ADMIN FOR CHILDREN'S SVCS       ROZON
 4            2019             67  ADMIN FOR CHILDREN'S SVCS       LOPEZ
 ...           ...            ...                        ...         ...
 49995        2019              3          BOARD OF ELECTION   GUERRIERI
 49996        2019              3          BOARD OF ELECTION       OFNER
 49997        2019              3          BOARD OF ELECTION     EDOUARD
 49998        2019              3          BOARD OF ELECTION      BAYBAY
 49999        2019              3          BOARD OF ELECTION  TRAFICENTI

         first_name        agency_start_date work_location_borough  \
 0           DONALD  2011-07-04T00:00:00.000             MANHATTAN
 1           KATHIE  2011-10-24T00:00:00.000             MANHATTAN
 2          TANESIA  2017-09-11T00:00:00.000              BROOKLYN
 3         GINNETTE  2017-08-14T00:00:00.000             MANHATTAN
 4           RAFAEL  2012-01-17T00:00:00.000             MANHATTAN
 ...            ...                      ...                   ...
 49995      ELEANOR  2005-07-31T00:00:00.000             MANHATTAN
 49996  CHRISTOPHER  2002-10-20T00:00:00.000             MANHATTAN
 49997      AUGUSTE  2006-06-11T00:00:00.000              BROOKLYN
 49998    FERDINAND  2004-10-03T00:00:00.000                QUEENS
 49999       NICOLE  2003-08-24T00:00:00.000              RICHMOND

                       title_description leave_status_as_of_july_31  \
 0                       SPECIAL OFFICER                     CEASED
 1           CHILD PROTECTIVE SPECIALIST                   ON LEAVE
 2                    CLERICAL ASSOCIATE                     CEASED
 3           CHILD PROTECTIVE SPECIALIST                     CEASED
 4                      PROTECTION AGENT                     CEASED
 ...                                 ...                        ...
 49995          ADMINISTRATIVE ASSOCIATE                     ACTIVE
 49996          ADMINISTRATIVE ASSOCIATE                     ACTIVE
 49997  SENIOR VOTING MACHINE TECHNICIAN                     ACTIVE
 49998                 TRAINER ASSISTANT                     ACTIVE
 49999                 TRAINER ASSISTANT                     ACTIVE

       base_salary  pay_basis regular_hours regular_gross_paid ot_hours  \
 0        43731.00  per Annum          0.00               0.00     0.00
 1        57070.00  per Annum          0.00              32.87     0.00
 2        31192.00  per Annum          0.00               4.69     0.00
 3        48195.00  per Annum          0.00               7.24     0.00
 4        63436.00  per Annum          0.00               9.03     0.00
 ...           ...        ...           ...                ...      ...
 49995    67018.00  per Annum       1825.00           68157.17   278.75
 49996    58384.00  per Annum       1825.00           59377.09   453.00
 49997    39506.00  per Annum       1825.00           47677.33  1088.00
 49998    53371.00  per Annum       1825.00           61777.97   487.00
 49999    62260.00  per Annum       1825.00           63318.50   332.00

       total_ot_paid total_other_pay mid_init
 0             -0.31            1.30      NaN
 1              0.00          -30.48        S
 2              0.00            0.00        M
 3              0.00            0.00      NaN
 4              0.00            0.00      NaN
 ...             ...             ...      ...
 49995      12875.09          849.68        J
 49996      21336.84         1196.35        M
 49997      33699.29          613.11        V
 49998      19490.45          855.56        C
 49999      17145.90         1729.42        E

 [50000 rows x 17 columns],
       fiscal_year payroll_number                     agency_name  \
 0            2019              3               BOARD OF ELECTION
 1            2019              3               BOARD OF ELECTION
 2            2019              3               BOARD OF ELECTION
 3            2019              3               BOARD OF ELECTION
 4            2019              3               BOARD OF ELECTION
 ...           ...            ...                             ...
 49995        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49996        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49997        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49998        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49999        2016            NaN  BOARD OF ELECTION POLL WORKERS

            last_name first_name        agency_start_date  \
 0            SEMIDAY   JONATHAN  2012-09-30T00:00:00.000
 1                DAY     ROBERT  2006-03-12T00:00:00.000
 2      HARPER-CASTLE  CONSTANCE  2010-10-31T00:00:00.000
 3             SLATER     ROBERT  2011-06-19T00:00:00.000
 4           ROBINSON     BLAINE  2014-07-28T00:00:00.000
 ...              ...        ...                      ...
 49995         DUNCAN    CARLENE  2014-01-01T00:00:00.000
 49996         DUNCAN       CORA  2010-01-01T00:00:00.000
 49997         DUNCAN     DASEAN  2015-01-01T00:00:00.000
 49998         DUNCAN      DIANE  2010-01-01T00:00:00.000
 49999         DUNCAN     DIANNA  2010-01-01T00:00:00.000

       work_location_borough  \
 0                 MANHATTAN
 1                 MANHATTAN
 2                 MANHATTAN
 3                  BROOKLYN
 4                  BROOKLYN
 ...                     ...
 49995         MANHATTAN
 49996         MANHATTAN
 49997         MANHATTAN
 49998         MANHATTAN
 49999         MANHATTAN

                                        title_description  \
 0                                      TRAINER ASSISTANT
 1                             SENIOR COMPUTER PROGRAMMER
 2                                      TRAINER ASSISTANT
 3                       SENIOR VOTING MACHINE TECHNICIAN
 4                                      TRAINER ASSISTANT
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE    56500.00  per Annum       1825.00
 1                         ACTIVE    80101.00  per Annum       1825.00
 2                         ACTIVE    56500.00  per Annum       1825.00
 3                         ACTIVE    38463.00  per Annum       1825.00
 4                         ACTIVE    57302.00  per Annum       1825.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay mid_init
 0               57459.52   573.75      24794.39            6.23      NaN
 1               81462.93     0.00          0.00          849.68        J
 2               57459.97   575.25      24409.24          636.26      NaN
 3               46616.70  1156.50      35299.64          760.34        N
 4               58308.62   549.00      24070.66          465.08      NaN
 ...                  ...      ...           ...             ...      ...
 49995             584.97     0.00          0.00            0.00      NaN
 49996             775.00     0.00          0.00            0.00      NaN
 49997             300.00     0.00          0.00            0.00        A
 49998             300.00     0.00          0.00            0.00        L
 49999             300.00     0.00          0.00            0.00        E

 [50000 rows x 17 columns],
       fiscal_year                     agency_name last_name first_name  \
 0            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN  FREDERICK
 1            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN     IVETTE
 2            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN     JEROME
 3            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN      LINDA
 4            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN    PHYLLIS
 ...           ...                             ...       ...        ...
 49995        2015  BOARD OF ELECTION POLL WORKERS   STEWART      JAMES
 49996        2015  BOARD OF ELECTION POLL WORKERS   STEWART     JEROME
 49997        2015  BOARD OF ELECTION POLL WORKERS   STEWART      KISHA
 49998        2015  BOARD OF ELECTION POLL WORKERS   STEWART      LARRY
 49999        2015  BOARD OF ELECTION POLL WORKERS   STEWART       LISA

       mid_init        agency_start_date work_location_borough  \
 0            H  2011-01-01T00:00:00.000         MANHATTAN
 1          NaN  2011-01-01T00:00:00.000         MANHATTAN
 2          NaN  2014-01-01T00:00:00.000         MANHATTAN
 3          NaN  2014-01-01T00:00:00.000         MANHATTAN
 4          NaN  2011-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995      NaN  2010-01-01T00:00:00.000         MANHATTAN
 49996        O  2013-01-01T00:00:00.000         MANHATTAN
 49997      NaN  2014-01-01T00:00:00.000         MANHATTAN
 49998      NaN  2011-01-01T00:00:00.000         MANHATTAN
 49999        F  2010-09-01T00:00:00.000         MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay
 0                 300.00     0.00          0.00            0.00
 1                 300.00     0.00          0.00            0.00
 2                 200.00     0.00          0.00            0.00
 3                 580.00     0.00          0.00            0.00
 4                 300.00     0.00          0.00            0.00
 ...                  ...      ...           ...             ...
 49995             275.00     0.00          0.00            0.00
 49996             460.00     0.00          0.00            0.00
 49997             575.00     0.00          0.00            0.00
 49998             784.00     0.00          0.00            0.00
 49999             575.00     0.00          0.00            0.00

 [50000 rows x 16 columns],
       fiscal_year                     agency_name last_name  first_name  \
 0            2015  BOARD OF ELECTION POLL WORKERS   STEWART       LOETA
 1            2015  BOARD OF ELECTION POLL WORKERS   STEWART    LYNNETTE
 2            2015  BOARD OF ELECTION POLL WORKERS   STEWART    MARGAREE
 3            2015  BOARD OF ELECTION POLL WORKERS   STEWART  MARGUERITE
 4            2015  BOARD OF ELECTION POLL WORKERS   STEWART     MARIEAH
 ...           ...                             ...       ...         ...
 49995        2017  BOARD OF ELECTION POLL WORKERS  GACUSANA     LEONORA
 49996        2017  BOARD OF ELECTION POLL WORKERS    GADDIS       WANDA
 49997        2017  BOARD OF ELECTION POLL WORKERS     GADDY    LYNNETTE
 49998        2017  BOARD OF ELECTION POLL WORKERS     GADDY      MELODY
 49999        2017  BOARD OF ELECTION POLL WORKERS     GADEA    JENNIFER

       mid_init        agency_start_date work_location_borough  \
 0            L  2014-01-01T00:00:00.000         MANHATTAN
 1          NaN  2013-01-01T00:00:00.000         MANHATTAN
 2          NaN  2010-01-01T00:00:00.000         MANHATTAN
 3            A  2010-01-01T00:00:00.000         MANHATTAN
 4            M  2013-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995        G  2010-01-01T00:00:00.000         MANHATTAN
 49996        L  2014-01-01T00:00:00.000         MANHATTAN
 49997      NaN  2010-01-01T00:00:00.000         MANHATTAN
 49998        J  2016-01-01T00:00:00.000         MANHATTAN
 49999        C  2016-01-01T00:00:00.000         MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay payroll_number
 0                 575.00     0.00          0.00            0.00            NaN
 1                 300.00     0.00          0.00            0.00            NaN
 2                 578.00     0.00          0.00            0.00            NaN
 3                1025.00     0.00          0.00            0.00            NaN
 4                 575.00     0.00          0.00            0.00            NaN
 ...                  ...      ...           ...             ...            ...
 49995             303.00     0.00          0.00            0.00            NaN
 49996             775.00     0.00          0.00            0.00            NaN
 49997             784.00     0.00          0.00            0.00            NaN
 49998             300.00     0.00          0.00            0.00            NaN
 49999             853.00     0.00          0.00            0.00            NaN

 [50000 rows x 17 columns],
       fiscal_year                     agency_name  last_name first_name  \
 0            2017  BOARD OF ELECTION POLL WORKERS      GADEA    MELISSA
 1            2017  BOARD OF ELECTION POLL WORKERS     GADKAR      ANANT
 2            2017  BOARD OF ELECTION POLL WORKERS  GADPAILLE    OLUMIDE
 3            2017  BOARD OF ELECTION POLL WORKERS    GADSDEN       DARA
 4            2017  BOARD OF ELECTION POLL WORKERS    GADSDEN      DAVID
 ...           ...                             ...        ...        ...
 49995        2018  BOARD OF ELECTION POLL WORKERS     GUSHUE        ANA
 49996        2018  BOARD OF ELECTION POLL WORKERS    GUTHWIN       CARL
 49997        2018  BOARD OF ELECTION POLL WORKERS  GUTIERREZ    DANIELA
 49998        2018  BOARD OF ELECTION POLL WORKERS  GUTIERREZ   VICTORIA
 49999        2018  BOARD OF ELECTION POLL WORKERS     GUZMAN     ADRIAN

       mid_init        agency_start_date work_location_borough  \
 0            E  2016-01-01T00:00:00.000         MANHATTAN
 1            A  2010-01-01T00:00:00.000         MANHATTAN
 2          NaN  2012-01-02T00:00:00.000         MANHATTAN
 3            A  2012-01-02T00:00:00.000         MANHATTAN
 4            R  2010-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995        E  2016-01-01T00:00:00.000             MANHATTAN
 49996      NaN  2016-01-01T00:00:00.000             MANHATTAN
 49997        D  2016-01-01T00:00:00.000             MANHATTAN
 49998        E  2016-01-01T00:00:00.000             MANHATTAN
 49999        M  2016-01-01T00:00:00.000             MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995                                    ELECTION WORKER
 49996                                    ELECTION WORKER
 49997                                    ELECTION WORKER
 49998                                    ELECTION WORKER
 49999                                    ELECTION WORKER

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay payroll_number
 0                 578.00     0.00          0.00            0.00            NaN
 1                 781.00     0.00          0.00            0.00            NaN
 2                 575.00     0.00          0.00            0.00            NaN
 3                 575.00     0.00          0.00            0.00            NaN

In [30]:
updated_result = pd.concat(final_results, sort=True)

In [31]:
updated_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.00,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.00,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.00,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.00,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.00,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.00,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.00,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.00,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.00,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.00,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.00,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.00,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.00,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.00,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.00,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.00,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.00,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.00,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.00,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.00,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.00,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33338,TEACHERS RETIREMENT SYSTEM,2001-11-19T00:00:00.000,127486.00,ALEX,2017,TSENBAKHT,ACTIVE,NaN,0.00,per Annum,NaN,131164.60,1825.00,COMPUTER SPECIALIST ...,0.00,5258.86,MANHATTAN
33339,TEACHERS RETIREMENT SYSTEM,2017-05-01T00:00:00.000,150000.00,IGOR,2017,TSIRKEL,ACTIVE,NaN,0.00,per Annum,NaN,23013.68,310.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33340,TEACHERS RETIREMENT SYSTEM,2015-10-19T00:00:00.000,149350.00,RAJESHKUMAR,2017,VEERASAMY,ACTIVE,NaN,0.00,per Annum,NaN,153683.27,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33341,TEACHERS RETIREMENT SYSTEM,2007-03-26T00:00:00.000,46424.00,NENITA,2017,VILLAVICENCIO,ACTIVE,S,0.00,per Annum,NaN,47763.68,1825.00,BOOKKEEPER ...,0.00,653.75,MANHATTAN
33342,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,88080.00,RAYMOND,2017,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,NaN,88156.48,1825.00,ASSOCIATE STAFF ANALYST ...,0.00,3843.53,MANHATTAN
33343,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,69407.00,YEVGENIYA,2017,VIZENTAL,ACTIVE,NaN,0.00,per Annum,NaN,71409.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8584.81,MANHATTAN
33344,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,58600.00,NIASHA,2017,WALKER,ACTIVE,C,10.50,per Annum,NaN,59247.15,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,397.36,2718.04,MANHATTAN
33345,TEACHERS RETIREMENT SYSTEM,2003-03-10T00:00:00.000,153559.00,MARY,2017,WALL,CEASED,NaN,0.00,per Annum,NaN,-11240.19,0.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33346,TEACHERS RETIREMENT SYSTEM,2012-05-20T00:00:00.000,54724.00,DENZIL,2017,WALLACE,ACTIVE,L,0.00,per Annum,NaN,56302.98,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1229.95,MANHATTAN
33347,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,75244.00,SHELLIANN,2017,WALTERS-LUCES,ACTIVE,M,75.25,per Annum,NaN,72119.15,1825.00,ADMINISTRATIVE STAFF ANALYST ...,5103.63,1515.29,MANHATTAN
33348,TEACHERS RETIREMENT SYSTEM,2006-01-23T00:00:00.000,58926.00,SWADINE,2017,WELCH,ACTIVE,S,0.00,per Annum,NaN,60626.50,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,17.50,MANHATTAN
33349,TEACHERS RETIREMENT SYSTEM,1988-06-29T00:00:00.000,151353.00,JEANNE,2017,WIERZBOWSKI,ACTIVE,E,0.00,per Annum,NaN,155744.55,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33350,TEACHERS RETIREMENT SYSTEM,2004-10-12T00:00:00.000,50790.00,JACQUELINE,2017,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,52255.63,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4712.50,MANHATTAN
33351,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,71323.00,SONIA,2017,WILLIAMS,ACTIVE,NaN,0.00,per Annum,NaN,73381.18,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8.25,MANHATTAN
33352,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,66547.00,HILLARY,2017,WILLIAMS-WOODS,ACTIVE,J,0.00,per Annum,NaN,68467.32,1825.00,CUSTOMER INFORMATION REPRESENTATIVE ...,0.00,853.51,MANHATTAN
33353,TEACHERS RETIREMENT SYSTEM,2005-07-11T00:00:00.000,55942.00,JOHN,2017,WILSON,ACTIVE,C,0.00,per Annum,NaN,57556.29,1825.00,COMPUTER ASSOCIATE ...,0.00,5547.05,MANHATTAN
33354,TEACHERS RETIREMENT SYSTEM,2006-02-21T00:00:00.000,54904.00,CONSTANCE,2017,WRIGHT,ACTIVE,E,0.00,per Annum,NaN,56488.38,1825.00,ACCOUNTANT ...,0.00,5849.93,MANHATTAN
33355,TEACHERS RETIREMENT SYSTEM,2003-12-17T00:00:00.000,54965.00,JING,2017,WU,ACTIVE,H,0.00,per Annum,NaN,56551.08,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,5213.12,MANHATTAN
33356,TEACHERS RETIREMENT SYSTEM,2011-10-11T00:00:00.000,53237.00,YAN JUAN,2017,WU,ACTIVE,NaN,0.00,per Annum,NaN,54957.06,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,2860.70,MANHATTAN
33357,TEACHERS RETIREMENT SYSTEM,2012-10-15T00:00:00.000,50763.00,JILL,2017,WURM,ACTIVE,I,0.00,per Annum,NaN,51356.27,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,0.00,334.32,MANHATTAN
33358,TEACHERS RETIREMENT SYSTEM,1999-08-02T00:00:00.000,122174.00,BING,2017,XIAO,ACTIVE,NaN,0.00,per Annum,NaN,123838.21,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,786.00,MANHATTAN
33359,TEACHERS RETIREMENT SYSTEM,2011-02-06T00:00:00.000,50790.00,BORISLAV,2017,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,52255.63,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4703.98,MANHATTAN
33360,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,64285.00,SVETLANA,2017,YANCHENKO,ACTIVE,NaN,0.00,per Annum,NaN,66708.51,1825.00,ACCOUNTANT ...,0.00,6364.41,MANHATTAN
33361,TEACHERS RETIREMENT SYSTEM,2010-12-20T00:00:00.000,61691.00,IRAM,2017,YEATES,ACTIVE,S,13.25,per Annum,NaN,63471.05,1825.00,COMPUTER ASSOCIATE ...,721.66,4888.88,MANHATTAN
33362,TEACHERS RETIREMENT SYSTEM,2016-06-06T00:00:00.000,10.00,CONSTANTINE,2017,YEOSTROS,CEASED,L,0.00,per Hour,NaN,3667.50,235.75,SUMMER COLLEGE INTERN ...,0.00,70.00,MANHATTAN
33363,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,75895.00,DAVID,2017,YERUSHALMI,ACTIVE,NaN,0.00,per Annum,NaN,76949.14,1825.00,ASSOCIATE STAFF ANALYST ...,0.00,3903.75,MANHATTAN
33364,TEACHERS RETIREMENT SYSTEM,2010-09-13T00:00:00.000,50790.00,ALEXANDER,2017,YUKHVIDOV,ON LEAVE,V,0.00,per Annum,NaN,48359.41,1655.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4353.26,MANHATTAN
33365,TEACHERS RETIREMENT SYSTEM,2010-10-04T00:00:00.000,54965.00,ELLA,2017,ZAMKOVSKY,ACTIVE,NaN,0.00,per Annum,NaN,56551.08,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,5510.12,MANHATTAN
33366,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,65012.00,HUI ZHEN,2017,ZHOU,ACTIVE,NaN,57.25,per Annum,NaN,66887.79,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,2523.27,5312.09,MANHATTAN
33367,TEACHERS RETIREMENT SYSTEM,2004-10-04T00:00:00.000,46424.00,JIN CHANG,2017,ZHU,ACTIVE,NaN,0.00,per Annum,NaN,47763.68,1825.00,BOOKKEEPER ...,0.00,3913.01,MANHATTAN

In [32]:
updated_result.iloc[3333367]

agency_name                                      TEACHERS RETIREMENT SYSTEM
agency_start_date                                       2004-10-04T00:00:00.000
base_salary                                                            46424.00
first_name                                                            JIN CHANG
fiscal_year                                                                2017
last_name                                                                   ZHU
leave_status_as_of_july_31                                               ACTIVE
mid_init                                                                    NaN
ot_hours                                                                   0.00
pay_basis                                                             per Annum
payroll_number                                                              NaN
regular_gross_paid                                                     47763.68
regular_hours                                                           1825.00
title_description             BOOKKEEPER                                    ...
total_ot_paid                                                              0.00
total_other_pay                                                         3913.01
work_location_borough                                             MANHATTAN
Name: 33367, dtype: object

In [88]:
updated_result['base_salary'] =updated_result['base_salary'].astype(float) # convert salary to number

In [89]:
updated_result['regular_gross_paid'] =updated_result['regular_gross_paid'].astype(float) # convert salary to number

In [90]:
updated_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333368 entries, 0 to 33367
Data columns (total 17 columns):
agency_name                   object
agency_start_date             object
base_salary                   float64
first_name                    object
fiscal_year                   object
last_name                     object
leave_status_as_of_july_31    object
mid_init                      object
ot_hours                      object
pay_basis                     object
payroll_number                object
regular_gross_paid            float64
regular_hours                 object
title_description             object
total_ot_paid                 object
total_other_pay               object
work_location_borough         object
dtypes: float64(2), object(15)
memory usage: 457.8+ MB

In [91]:
def filter_result_by_year(result, year):
    return result[result['fiscal_year'] == year]

In [92]:
filter_result_by_year(updated_result, "2019")

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.0,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.0,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.0,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.0,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.0,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.0,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.0,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.0,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.0,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.0,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.0,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.0,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.0,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.0,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.0,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.0,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.0,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.0,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.0,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.0,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.0,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31413,TEACHERS RETIREMENT SYSTEM,1998-06-08T00:00:00.000,74369.0,YU,2019,CHEN,ACTIVE,NaN,192.75,per Annum,41,74822.14,1825.00,ACCOUNTANT,8976.19,6954.54,MANHATTAN
31414,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,90705.0,IRINA,2019,KRIVITSKIY,ACTIVE,NaN,0.00,per Annum,41,91254.14,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31415,TEACHERS RETIREMENT SYSTEM,2005-12-19T00:00:00.000,86409.0,CHRISTOPHER,2019,TOY,ACTIVE,R,9.50,per Annum,41,86773.10,1825.00,COMPUTER SPECIALIST,588.76,5143.18,MANHATTAN
31416,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,92106.0,SAMUEL,2019,SANTOS,ACTIVE,NaN,0.00,per Annum,41,92663.40,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN
31417,TEACHERS RETIREMENT SYSTEM,2001-10-15T00:00:00.000,85572.0,GEORGE,2019,HO,ACTIVE,NaN,0.00,per Annum,41,86066.26,1825.00,COMPUTER SPECIALIST,0.00,6790.56,MANHATTAN
31418,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,91929.0,BOE,2019,CHAN,ACTIVE,NaN,0.00,per Annum,41,92485.74,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,447.50,MANHATTAN
31419,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,92641.0,MONIQUE,2019,PROVIDENCE,ACTIVE,NaN,0.00,per Annum,41,93146.20,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN
31420,TEACHERS RETIREMENT SYSTEM,2002-09-30T00:00:00.000,92613.0,MADELINE,2019,PETERS,ACTIVE,NaN,0.00,per Annum,41,93173.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31421,TEACHERS RETIREMENT SYSTEM,2017-10-23T00:00:00.000,94136.0,JACOB,2019,KANNAMPUZHA,ACTIVE,J,0.00,per Annum,41,93344.82,1825.00,COMPUTER SPECIALIST,0.00,57.75,MANHATTAN
31588,TEACHERS RETIREMENT SYSTEM,2010-09-20T00:00:00.000,67703.0,JANET,2019,TCHERNOVA,ACTIVE,NaN,177.50,per Annum,41,68141.05,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,9568.71,5383.21,MANHATTAN
31589,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,69885.0,YUN-LAM,2019,CHOI,ACTIVE,A,98.00,per Annum,41,70366.52,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3935.02,8830.07,MANHATTAN
31590,TEACHERS RETIREMENT SYSTEM,2007-06-12T00:00:00.000,82821.0,ST. JOHN,2019,BUTVICK,ACTIVE,M,0.00,per Annum,41,82538.58,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,731.51,MANHATTAN
31591,TEACHERS RETIREMENT SYSTEM,2001-07-16T00:00:00.000,76958.0,BHANU,2019,PRAKASH,ACTIVE,NaN,0.00,per Annum,41,77401.69,1825.00,COMPUTER ASSOCIATE,0.00,5955.59,MANHATTAN
31592,TEACHERS RETIREMENT SYSTEM,2002-04-15T00:00:00.000,75374.0,ROSE ANN,2019,REID,ACTIVE,NaN,62.25,per Annum,41,75826.72,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,2781.16,4828.64,MANHATTAN
31593,TEACHERS RETIREMENT SYSTEM,2018-09-30T00:00:00.000,115000.0,ERICC,2019,DIAZ,ACTIVE,E,0.00,per Annum,41,83808.24,1370.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN
31594,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,68987.0,SVETLANA,2019,YANCHENKO,ACTIVE,NaN,69.25,per Annum,41,69386.74,1825.00,ACCOUNTANT,3614.65,11035.25,MANHATTAN
31595,TEACHERS RETIREMENT SYSTEM,1996-12-23T00:00:00.000,83778.0,LILLIAN,2019,MCDOUGALD,ACTIVE,NaN,0.00,per Annum,41,84285.40,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31596,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,80582.0,TERRI,2019,BOYD,ACTIVE,NaN,0.00,per Annum,41,81058.96,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,3432.67,MANHATTAN
31597,TEACHERS RETIREMENT SYSTEM,1997-07-01T00:00:00.000,65542.0,ELENA,2019,RYBAK,ACTIVE,NaN,208.00,per Annum,41,65997.35,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,9977.32,8747.57,MANHATTAN
31598,TEACHERS RETIREMENT SYSTEM,1997-01-08T00:00:00.000,75781.0,ALICE,2019,LIN,ACTIVE,NaN,0.00,per Annum,41,76296.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN
31599,TEACHERS RETIREMENT SYSTEM,2000-12-04T00:00:00.000,71148.0,LEVI,2019,CUNHA,ACTIVE,T,105.00,per Annum,41,71636.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,4690.78,8607.32,MANHATTAN
31600,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,68022.0,HUI ZHEN,2019,ZHOU,ACTIVE,NaN,199.00,per Annum,41,68462.51,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,8360.17,8502.77,MANHATTAN
31601,TEACHERS RETIREMENT SYSTEM,2006-07-24T00:00:00.000,77426.0,ARISTEA,2019,AFTOUSMIS,ACTIVE,NaN,0.00,per Annum,41,77920.96,1825.00,INVESTMENT ANALYST,0.00,7458.37,MANHATTAN
31602,TEACHERS RETIREMENT SYSTEM,2000-07-31T00:00:00.000,85133.0,JOSEPH,2019,ST.JUSTE,ACTIVE,F,0.00,per Annum,41,85649.02,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,0.00,MANHATTAN
31603,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,85399.0,ANDREA,2019,BENNETT,ACTIVE,Y,0.00,per Annum,41,85916.64,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN
31604,TEACHERS RETIREMENT SYSTEM,1998-03-09T00:00:00.000,79353.0,ERIBERTA,2019,RAMIREZ,ACTIVE,NaN,0.00,per Annum,41,79833.99,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,6102.33,MANHATTAN
31605,TEACHERS RETIREMENT SYSTEM,1990-03-19T00:00:00.000,80706.0,AMANI,2019,ANIS,ACTIVE,S,1.50,per Annum,41,81217.93,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,99.29,4799.01,MANHATTAN
31606,TEACHERS RETIREMENT SYSTEM,2012-03-29T00:00:00.000,72839.0,JONATHAN,2019,SEKULA,ACTIVE,P,113.00,per Annum,41,73250.77,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,5075.69,7811.73,MANHATTAN
31607,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,78306.0,SHARON,2019,JACOBS,ACTIVE,A,56.00,per Annum,41,78677.45,1825.00,ACCOUNTANT,2965.57,5858.43,MANHATTAN
31608,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,85930.0,EVELYN,2019,GARROVILLAS,ACTIVE,R,0.00,per Annum,41,86431.23,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,1237.52,MANHATTAN

In [93]:
filter_result_by_year(updated_result, "2019").iloc[592718]

agency_name                               TEACHERS RETIREMENT SYSTEM
agency_start_date                            1996-01-08T00:00:00.000
base_salary                                                    85930
first_name                                                    EVELYN
fiscal_year                                                     2019
last_name                                                GARROVILLAS
leave_status_as_of_july_31                                    ACTIVE
mid_init                                                           R
ot_hours                                                        0.00
pay_basis                                                  per Annum
payroll_number                                                    41
regular_gross_paid                                           86431.2
regular_hours                                                1825.00
title_description             ASSOCIATE RETIREMENT BENEFITS EXAMINER
total_ot_paid                                                   0.00
total_other_pay                                              1237.52
work_location_borough                                      MANHATTAN
Name: 31608, dtype: object

In [94]:
def filter_column_by_value(result, column, value):
    return result[result[column].str.contains(value)]

In [95]:
yearly_result = filter_result_by_year(updated_result, "2019")

In [96]:
annual_result = filter_column_by_value(yearly_result, 'pay_basis', 'Annum')

In [98]:
def add_count_of_value(result, new_column_name, value_count_column):
    result[new_column_name] = result[value_count_column].map(result[value_count_column].value_counts())
    return result

In [99]:
active_result = filter_column_by_value(annual_result, 'leave_status_as_of_july_31', 'ACTIVE')

In [101]:
add_count_of_value(active_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
188,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,43807.0,ADE-BAYO,2019,ADEYEMO,ACTIVE,NaN,17.00,per Annum,67,1680.27,125.72,CUSTODIAN,0.00,40.20,MANHATTAN,1.0
212,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,62834.0,TERRANCE,2019,RATLIFF,ACTIVE,D,5.25,per Annum,67,2410.07,110.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,0.00,MANHATTAN,49.0
232,ADMIN FOR CHILDREN'S SVCS,2019-06-17T00:00:00.000,145000.0,YURIJ,2019,PAWLUK,ACTIVE,O,0.00,per Annum,67,2780.82,75.00,EXECUTIVE AGENCY COUNSEL,0.00,0.00,MANHATTAN,1.0
243,ADMIN FOR CHILDREN'S SVCS,2019-04-15T00:00:00.000,40275.0,ANDRE,2019,GRUBBS,ACTIVE,NaN,0.00,per Annum,67,3089.58,140.00,CASEWORKER,0.00,0.00,BRONX,270.0
247,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHRISTOPHER,2019,ESCOBAR,ACTIVE,C,0.00,per Annum,67,3201.09,227.00,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BROOKLYN,2535.0
248,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,32426.0,JOHNNY,2019,AYALA JR,ACTIVE,NaN,2.00,per Annum,67,3108.57,231.63,SPECIAL OFFICER,46.59,62.12,BROOKLYN,146.0
257,ADMIN FOR CHILDREN'S SVCS,2019-06-03T00:00:00.000,61280.0,ANDREA,2019,PURVIS,ACTIVE,L,0.00,per Annum,67,3525.70,145.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN,685.0
258,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERMANN,2019,TOUVOLI,ACTIVE,F,0.00,per Annum,67,3537.84,210.92,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BRONX,1.0
259,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JERMAINE,2019,TROTMAN,ACTIVE,J,0.00,per Annum,67,3554.07,185.92,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,88.0
261,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHAD,2019,SCOTT,ACTIVE,H,0.00,per Annum,67,3547.57,183.17,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,61.0
263,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAVID,2019,DANIEL,ACTIVE,E,0.00,per Annum,67,3715.96,180.37,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,2139.0
267,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,RAMEL,2019,WILLIAMSON,ACTIVE,T,0.00,per Annum,67,3754.91,192.17,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN,10.0
333,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERNAN,2019,CASTILLO,ACTIVE,N,0.00,per Annum,67,3887.57,194.52,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,6.0
335,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EDGAR,2019,NORALES OLIVA,ACTIVE,A,0.00,per Annum,67,3907.05,199.57,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,117.0
336,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CARL,2019,MARCUS,ACTIVE,A,0.00,per Annum,67,3907.05,200.50,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN,197.0
337,ADMIN FOR CHILDREN'S SVCS,2019-05-13T00:00:00.000,32426.0,VINCENT,2019,FOX,ACTIVE,B,0.00,per Annum,67,3731.22,285.72,SPECIAL OFFICER,0.00,225.17,BRONX,684.0
338,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,GABRIEL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Annum,67,3949.65,197.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,179.0
340,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JASON,2019,COLLINS,ACTIVE,M,0.00,per Annum,67,3980.08,203.43,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,1118.0
342,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAQUAN,2019,SEYMOUR,ACTIVE,A,0.00,per Annum,67,4010.52,204.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,12.0
344,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CONSTANTIN,2019,JEAN PIERRE,ACTIVE,NaN,0.00,per Annum,67,4016.60,203.42,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,17.0
345,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MIGUEL,2019,WRIGHT,ACTIVE,NaN,0.00,per Annum,67,4066.51,198.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,326.0
346,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,TORISHEJU,2019,WILKIE,ACTIVE,M,0.00,per Annum,67,4063.26,206.33,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
348,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KALVIN,2019,CONTRERAS,ACTIVE,L,0.00,per Annum,67,4073.80,205.47,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,4.0
351,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ISIAH,2019,ABNEY,ACTIVE,A,0.00,per Annum,67,4163.06,207.95,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,11.0
353,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DESTEN,2019,LEVANT,ACTIVE,B,0.00,per Annum,67,4193.49,204.68,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,1.0
354,ADMIN FOR CHILDREN'S SVCS,2019-05-19T00:00:00.000,44426.0,DAVON,2019,REEVES,ACTIVE,C,0.00,per Annum,67,4205.26,207.78,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,22.0
355,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,110000.0,SAMANTHA,2019,FRIED,ACTIVE,A,0.00,per Annum,67,4219.18,110.00,DIRECTOR OF FIELD OPERATIONS,0.00,0.00,MANHATTAN,666.0
356,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,WRICKFORD,2019,DALGETTY,ACTIVE,A,0.00,per Annum,67,4202.42,205.83,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
357,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ABU,2019,SWARAY,ACTIVE,NaN,0.00,per Annum,67,4218.24,211.62,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,20.0
358,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,BERNARD,2019,CHERRY II,ACTIVE,C,0.00,per Annum,67,4218.63,211.28,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31413,TEACHERS RETIREMENT SYSTEM,1998-06-08T00:00:00.000,74369.0,YU,2019,CHEN,ACTIVE,NaN,192.75,per Annum,41,74822.14,1825.00,ACCOUNTANT,8976.19,6954.54,MANHATTAN,19.0
31414,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,90705.0,IRINA,2019,KRIVITSKIY,ACTIVE,NaN,0.00,per Annum,41,91254.14,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,154.0
31415,TEACHERS RETIREMENT SYSTEM,2005-12-19T00:00:00.000,86409.0,CHRISTOPHER,2019,TOY,ACTIVE,R,9.50,per Annum,41,86773.10,1825.00,COMPUTER SPECIALIST,588.76,5143.18,MANHATTAN,2535.0
31416,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,92106.0,SAMUEL,2019,SANTOS,ACTIVE,NaN,0.00,per Annum,41,92663.40,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN,326.0
31417,TEACHERS RETIREMENT SYSTEM,2001-10-15T00:00:00.000,85572.0,GEORGE,2019,HO,ACTIVE,NaN,0.00,per Annum,41,86066.26,1825.00,COMPUTER SPECIALIST,0.00,6790.56,MANHATTAN,676.0
31418,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,91929.0,BOE,2019,CHAN,ACTIVE,NaN,0.00,per Annum,41,92485.74,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,447.50,MANHATTAN,1.0
31419,TEACHERS RETIREMENT SYSTEM,1998-03-30T00:00:00.000,92641.0,MONIQUE,2019,PROVIDENCE,ACTIVE,NaN,0.00,per Annum,41,93146.20,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN,343.0
31420,TEACHERS RETIREMENT SYSTEM,2002-09-30T00:00:00.000,92613.0,MADELINE,2019,PETERS,ACTIVE,NaN,0.00,per Annum,41,93173.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,121.0
31421,TEACHERS RETIREMENT SYSTEM,2017-10-23T00:00:00.000,94136.0,JACOB,2019,KANNAMPUZHA,ACTIVE,J,0.00,per Annum,41,93344.82,1825.00,COMPUTER SPECIALIST,0.00,57.75,MANHATTAN,120.0
31588,TEACHERS RETIREMENT SYSTEM,2010-09-20T00:00:00.000,67703.0,JANET,2019,TCHERNOVA,ACTIVE,NaN,177.50,per Annum,41,68141.05,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,9568.71,5383.21,MANHATTAN,383.0
31589,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,69885.0,YUN-LAM,2019,CHOI,ACTIVE,A,98.00,per Annum,41,70366.52,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3935.02,8830.07,MANHATTAN,1.0
31590,TEACHERS RETIREMENT SYSTEM,2007-06-12T00:00:00.000,82821.0,ST. JOHN,2019,BUTVICK,ACTIVE,M,0.00,per Annum,41,82538.58,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,731.51,MANHATTAN,1.0
31591,TEACHERS RETIREMENT SYSTEM,2001-07-16T00:00:00.000,76958.0,BHANU,2019,PRAKASH,ACTIVE,NaN,0.00,per Annum,41,77401.69,1825.00,COMPUTER ASSOCIATE,0.00,5955.59,MANHATTAN,1.0
31592,TEACHERS RETIREMENT SYSTEM,2002-04-15T00:00:00.000,75374.0,ROSE ANN,2019,REID,ACTIVE,NaN,62.25,per Annum,41,75826.72,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,2781.16,4828.64,MANHATTAN,7.0
31593,TEACHERS RETIREMENT SYSTEM,2018-09-30T00:00:00.000,115000.0,ERICC,2019,DIAZ,ACTIVE,E,0.00,per Annum,41,83808.24,1370.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN,1.0
31594,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,68987.0,SVETLANA,2019,YANCHENKO,ACTIVE,NaN,69.25,per Annum,41,69386.74,1825.00,ACCOUNTANT,3614.65,11035.25,MANHATTAN,88.0
31595,TEACHERS RETIREMENT SYSTEM,1996-12-23T00:00:00.000,83778.0,LILLIAN,2019,MCDOUGALD,ACTIVE,NaN,0.00,per Annum,41,84285.40,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,176.0
31596,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,80582.0,TERRI,2019,BOYD,ACTIVE,NaN,0.00,per Annum,41,81058.96,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,3432.67,MANHATTAN,48.0
31597,TEACHERS RETIREMENT SYSTEM,1997-07-01T00:00:00.000,65542.0,ELENA,2019,RYBAK,ACTIVE,NaN,208.00,per Annum,41,65997.35,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,9977.32,8747.57,MANHATTAN,180.0
31598,TEACHERS RETIREMENT SYSTEM,1997-01-08T00:00:00.000,75781.0,ALICE,2019,LIN,ACTIVE,NaN,0.00,per Annum,41,76296.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN,134.0
31599,TEACHERS RETIREMENT SYSTEM,2000-12-04T00:00:00.000,71148.0,LEVI,2019,CUNHA,ACTIVE,T,105.00,per Annum,41,71636.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,4690.78,8607.32,MANHATTAN,15.0
31600,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,68022.0,HUI ZHEN,2019,ZHOU,ACTIVE,NaN,199.00,per Annum,41,68462.51,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,8360.17,8502.77,MANHATTAN,2.0
31601,TEACHERS RETIREMENT SYSTEM,2006-07-24T00:00:00.000,77426.0,ARISTEA,2019,AFTOUSMIS,ACTIVE,NaN,0.00,per Annum,41,77920.96,1825.00,INVESTMENT ANALYST,0.00,7458.37,MANHATTAN,1.0
31602,TEACHERS RETIREMENT SYSTEM,2000-07-31T00:00:00.000,85133.0,JOSEPH,2019,ST.JUSTE,ACTIVE,F,0.00,per Annum,41,85649.02,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,0.00,MANHATTAN,2952.0
31603,TEACHERS RETIREMENT SYSTEM,2011-01-02T00:00:00.000,85399.0,ANDREA,2019,BENNETT,ACTIVE,Y,0.00,per Annum,41,85916.64,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN,685.0
31604,TEACHERS RETIREMENT SYSTEM,1998-03-09T00:00:00.000,79353.0,ERIBERTA,2019,RAMIREZ,ACTIVE,NaN,0.00,per Annum,41,79833.99,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,6102.33,MANHATTAN,1.0
31605,TEACHERS RETIREMENT SYSTEM,1990-03-19T00:00:00.000,80706.0,AMANI,2019,ANIS,ACTIVE,S,1.50,per Annum,41,81217.93,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,99.29,4799.01,MANHATTAN,6.0
31606,TEACHERS RETIREMENT SYSTEM,2012-03-29T00:00:00.000,72839.0,JONATHAN,2019,SEKULA,ACTIVE,P,113.00,per Annum,41,73250.77,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,5075.69,7811.73,MANHATTAN,972.0
31607,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,78306.0,SHARON,2019,JACOBS,ACTIVE,A,56.00,per Annum,41,78677.45,1825.00,ACCOUNTANT,2965.57,5858.43,MANHATTAN,759.0
31608,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,85930.0,EVELYN,2019,GARROVILLAS,ACTIVE,R,0.00,per Annum,41,86431.23,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,1237.52,MANHATTAN,416.0

In [102]:
import numpy as np

In [103]:
def get_data_set(result, column, threshold, groupby_col, agg_call):
    return result[result[column] > threshold].groupby(groupby_col).agg({agg_call: np.mean}).sort_values(agg_call, ascending=False)

In [104]:
get_data_set(active_result, 'name_count', 1000, 'first_name', 'base_salary')

              base_salary
first_name
JOHN         87144.859037
PETER        86461.812133
PAUL         86416.906578
THOMAS       86371.300761
ROBERT       85217.293135
JAMES        84955.521863
RICHARD      84665.036628
BRIAN        84414.674282
WILLIAM      84184.450122
LISA         83690.910083
MICHAEL      83445.923987
JOSEPH       82801.045965
DAVID        82728.230014
STEVEN       82644.494071
JENNIFER     81340.469973
DANIEL       80919.404703
ANDREW       80656.846908
KEVIN        79796.129737
MATTHEW      79584.878319
ELIZABETH    79523.934011
JASON        78661.385420
MICHELLE     78322.481247
PATRICIA     77904.361878
MELISSA      77696.055921
CHRISTOPHER  77493.037475
ANTHONY      76784.892391
NICOLE       76239.456141
JESSICA      76088.518229
JOSE         74113.177449
MARIA        74111.045568
STEPHANIE    71903.868999

In [105]:
updated_active_result = add_count_of_value(annual_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [119]:
get_data_set(updated_active_result, 'name_count', 1000, 'first_name', 'base_salary')

              base_salary
first_name
SUSAN        88984.106833
MARK         88321.657094
JOHN         87016.393392
THOMAS       86514.558075
PAUL         86277.341995
PETER        86218.844710
ROBERT       85573.319946
JAMES        85096.200295
RICHARD      84546.388392
WILLIAM      84129.556207
BRIAN        83939.193262
KAREN        83393.289768
MICHAEL      83298.735022
LISA         83210.703429
JOSEPH       82955.739116
STEVEN       82751.202186
DAVID        82312.321619
MARY         81646.896185
CHRISTINE    81621.280939
ERIC         80767.152622
DANIEL       80503.956167
ANDREW       80187.867629
JENNIFER     80132.887913
JACQUELINE   79905.518130
KEVIN        79416.339439
MATTHEW      79286.559304
ELIZABETH    78830.171083
PATRICIA     78743.019006
JASON        77784.758310
MICHELLE     77072.682608
CHRISTOPHER  77054.538143
DANIELLE     76679.201878
ANTHONY      76664.332391
MELISSA      76397.748512
NICOLE       74769.834911
JESSICA      74439.625845
ANGELA       74372.037773
CHRISTINA    73907.487252
NICHOLAS     73865.411135
MARIA        73653.531821
JOSE         73628.410277
JONATHAN     73034.898054
STEPHANIE    70997.148629

In [108]:
get_data_set(active_result, 'name_count', 1000, 'first_name', 'regular_gross_paid')

             regular_gross_paid
first_name
JOHN               86282.504936
LISA               86035.753577
PAUL               85837.984795
PETER              85731.719031
THOMAS             85162.671446
ROBERT             84755.443033
JAMES              84108.787707
RICHARD            83984.839862
BRIAN              83195.634164
WILLIAM            83076.485201
JENNIFER           82627.976197
MICHAEL            82101.387979
DAVID              81730.782309
STEVEN             81603.635960
JOSEPH             81465.381528
PATRICIA           80495.033232
ELIZABETH          80379.572356
DANIEL             79244.422802
MICHELLE           79127.985907
ANDREW             78917.480443
KEVIN              78355.192274
MELISSA            77575.408865
MATTHEW            77515.980111
JASON              77308.071726
MARIA              76743.427621
NICOLE             75721.041591
JESSICA            75262.774720
CHRISTOPHER        75000.459984
ANTHONY            74972.255020
JOSE               73876.045656
STEPHANIE          70566.912295

In [109]:
get_data_set(updated_active_result, 'name_count', 500, 'first_name', 'base_salary')

             base_salary
first_name
SCOTT       89759.774700
SUSAN       88984.106833
AMY         88498.200340
MARK        88321.657094
JOHN        87016.393392
...                  ...
SAMANTHA    68624.421265
CARMEN      67625.336842
ANA         67460.268519
TIFFANY     63882.503949
ASHLEY      60889.344262

[108 rows x 1 columns]

In [110]:
get_data_set(updated_active_result, 'name_count', 500, 'first_name', 'regular_gross_paid')

            regular_gross_paid
first_name
SCOTT             84253.216329
AMY               83251.237708
JOHN              80602.948489
MARK              80328.156956
PAUL              79710.049137
...                        ...
SAMANTHA          61952.532315
ANA               61620.012454
CARMEN            59567.641293
TIFFANY           56727.109684
ASHLEY            52607.337273

[108 rows x 1 columns]

In [111]:
pd.set_option('display.max_rows', 150)

In [112]:
get_data_set(updated_active_result, 'name_count', 500, 'first_name', 'regular_gross_paid')

             regular_gross_paid
first_name
SCOTT              84253.216329
AMY                83251.237708
JOHN               80602.948489
MARK               80328.156956
PAUL               79710.049137
THOMAS             79311.022496
LISA               79126.837120
PETER              79051.201758
TIMOTHY            78926.983729
FRANK              78840.002740
EDWARD             78602.515289
BRIAN              78516.526418
STEPHEN            78481.245548
JAMES              78339.575262
KEITH              77986.223906
ROBERT             77893.429592
PATRICK            77667.656474
WILLIAM            77412.999339
MICHELE            77412.471193
ADAM               77396.663448
KATHLEEN           77358.407755
RICHARD            77290.605462
MICHAEL            77050.984059
JEFFREY            76936.028265
JOSEPH             76526.887531
KAREN              76450.161668
JENNIFER           76307.188808
CHRISTINE          76290.741391
LAURA              76285.563280
SUSAN              75850.271684
DAVID              75597.407620
STEVEN             75341.740649
VINCENT            75273.537516
PAMELA             75089.047527
ERIC               75060.905796
KENNETH            75048.089703
GREGORY            74600.165834
CHARLES            74598.713472
JACQUELINE         74041.604847
DEBORAH            74024.381898
LAUREN             73990.585541
DANIEL             73989.402476
GEORGE             73902.008967
RACHEL             73845.509415
KEVIN              73705.687298
RAYMOND            73660.106696
SEAN               73540.634398
ANDREW             73517.184924
NANCY              73282.386102
JASON              73169.285449
DEBRA              73033.481508
MATTHEW            72935.048911
RONALD             72784.544858
ANDREA             72495.983401
KELLY              72357.429171
MICHELLE           72356.084188
CATHERINE          72153.030413
MELISSA            72141.463051
DANIELLE           71897.041146
ELIZABETH          71703.985122
CHRISTOPHER        71154.209978
MARGARET           71034.878534
DONNA              71021.960405
CARLOS             70772.081975
DENISE             70722.962732
ANNA               70638.896628
MARY               70553.449059
ANTHONY            70477.693094
SHARON             70334.568201
DIANE              70282.726811
THERESA            70239.219687
KIMBERLY           69986.759496
NICOLE             69393.180827
SARAH              69201.361578
MARIE              69069.944485
JESSICA            68967.005376
ERICA              68751.171610
PATRICIA           68743.722390
ALEXANDER          68701.465808
JUAN               68693.728990
CYNTHIA            68688.262076
ANGELA             68378.447853
JOSE               68291.103303
DIANA              68209.354189
VALERIE            68178.574901
MARIA              68017.727169
CHRISTINA          67999.028461
VICTOR             67841.993762
BARBARA            67832.574021
EMILY              67827.458445
KATHERINE          67735.423765
NICHOLAS           67246.929719
JOSHUA             67170.486713
SANDRA             66929.738495
JONATHAN           65714.461068
VICTORIA           65366.666814
LUIS               64725.709582
STEPHANIE          64604.470296
VANESSA            64086.469434
RYAN               63727.967075
JUSTIN             62342.276636
LINDA              62272.147674
AMANDA             62056.359599
SAMANTHA           61952.532315
ANA                61620.012454
CARMEN             59567.641293
TIFFANY            56727.109684
ASHLEY             52607.337273

In [113]:
get_data_set(updated_active_result, 'name_count', 500, 'first_name', 'base_salary')

              base_salary
first_name
SCOTT        89759.774700
SUSAN        88984.106833
AMY          88498.200340
MARK         88321.657094
JOHN         87016.393392
THOMAS       86514.558075
PAUL         86277.341995
PETER        86218.844710
TIMOTHY      85884.682929
STEPHEN      85840.722045
EDWARD       85666.416322
ROBERT       85573.319946
JAMES        85096.200295
FRANK        84750.462486
RICHARD      84546.388392
KATHLEEN     84334.621861
JEFFREY      84174.400749
WILLIAM      84129.556207
BRIAN        83939.193262
PATRICK      83633.175801
LAURA        83526.259087
KAREN        83393.289768
KEITH        83298.974609
MICHAEL      83298.735022
LISA         83210.703429
KENNETH      83203.978986
MICHELE      83058.526235
JOSEPH       82955.739116
STEVEN       82751.202186
DEBORAH      82718.523573
DAVID        82312.321619
NANCY        82290.784383
CHARLES      82282.931280
DEBRA        82263.291777
BARBARA      82246.662291
VINCENT      82129.341055
GEORGE       82029.354592
ADAM         81764.328240
DIANE        81667.455760
MARY         81646.896185
CHRISTINE    81621.280939
RAYMOND      81492.698214
MARGARET     81452.856678
LAUREN       81090.668383
ERIC         80767.152622
RACHEL       80731.052133
RONALD       80527.745552
DANIEL       80503.956167
PAMELA       80463.032491
CATHERINE    80247.029052
ANDREW       80187.867629
JENNIFER     80132.887913
GREGORY      79963.112102
JACQUELINE   79905.518130
SEAN         79797.916882
KEVIN        79416.339439
MATTHEW      79286.559304
DONNA        79201.427027
ELIZABETH    78830.171083
ANDREA       78825.420986
PATRICIA     78743.019006
KELLY        78246.234568
THERESA      77947.845486
ANNA         77865.654664
JASON        77784.758310
SARAH        77716.046639
EMILY        77193.570058
SHARON       77150.076425
KATHERINE    77109.254573
MICHELLE     77072.682608
CHRISTOPHER  77054.538143
LINDA        77005.182022
DANIELLE     76679.201878
ANTHONY      76664.332391
CYNTHIA      76534.622795
MELISSA      76397.748512
ALEXANDER    76265.944680
CARLOS       76196.109875
DENISE       76097.415902
VALERIE      75770.615079
KIMBERLY     75624.929030
VICTOR       75400.403960
ERICA        75230.512922
SANDRA       75117.603193
DIANA        75048.237101
NICOLE       74769.834911
MARIE        74490.676575
JESSICA      74439.625845
ANGELA       74372.037773
CHRISTINA    73907.487252
VICTORIA     73882.138983
NICHOLAS     73865.411135
MARIA        73653.531821
JOSE         73628.410277
JUAN         73460.462329
JONATHAN     73034.898054
JOSHUA       72955.170052
LUIS         71600.114883
STEPHANIE    70997.148629
RYAN         70423.640788
VANESSA      70326.652516
AMANDA       69808.867178
JUSTIN       68964.475923
SAMANTHA     68624.421265
CARMEN       67625.336842
ANA          67460.268519
TIFFANY      63882.503949
ASHLEY       60889.344262

In [115]:
per_hour_result = filter_column_by_value(yearly_result, 'pay_basis', 'Hour')

In [116]:
per_hour_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
199,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ZARIA,2019,CYRUS,CEASED,A,0.00,per Hour,67,1980.15,59.75,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
217,ADMIN FOR CHILDREN'S SVCS,2018-07-02T00:00:00.000,15.50,KELVIN,2019,ARACHE,CEASED,NaN,0.00,per Hour,67,2402.50,155.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
229,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,TENESHER,2019,YOUNG,CEASED,D,0.00,per Hour,67,2622.40,123.65,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN
236,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,LORISBEL,2019,ROMERO,CEASED,A,0.00,per Hour,67,2772.97,115.90,SUMMER COLLEGE INTERN,0.00,108.50,BRONX
242,ADMIN FOR CHILDREN'S SVCS,2000-01-31T00:00:00.000,24.52,SONYA,2019,WARD,ON LEAVE,NaN,0.00,per Hour,67,3046.64,0.75,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN
250,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ALONDRA,2019,CASTILLO ARELLA,CEASED,NaN,0.00,per Hour,67,3198.98,147.38,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
265,ADMIN FOR CHILDREN'S SVCS,2018-06-12T00:00:00.000,15.50,JOSHUA,2019,HAZELWOOD,CEASED,NaN,0.00,per Hour,67,3640.95,164.90,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
266,ADMIN FOR CHILDREN'S SVCS,2001-06-04T00:00:00.000,28.74,MILANA,2019,MAKSUMOV,ON LEAVE,NaN,0.00,per Hour,67,3527.87,31.25,CHILDREN'S COUNSELOR,28.47,209.73,MANHATTAN
311,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.11,ESTHER,2019,BOONE,CEASED,A,0.00,per Hour,67,246.84,0.00,CHILDREN'S COUNSELOR,0.00,0.00,MANHATTAN
371,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,NAYA,2019,JACKSON,CEASED,NaN,0.00,per Hour,67,4166.16,209.47,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
383,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ASHLEY,2019,DAVIS,CEASED,N,0.00,per Hour,67,4185.00,200.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
400,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JENNIFER,2019,OLIVA,CEASED,L,0.00,per Hour,67,4607.38,234.25,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
404,ADMIN FOR CHILDREN'S SVCS,2019-07-01T00:00:00.000,15.50,PANNA,2019,HUSSAIN,ACTIVE,B,0.00,per Hour,67,4696.50,234.00,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN
410,ADMIN FOR CHILDREN'S SVCS,2018-06-28T00:00:00.000,15.50,MALANIE,2019,THOMPSON,CEASED,M,0.00,per Hour,67,4789.50,295.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
411,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,AUTUMN,2019,STATEN,CEASED,J,0.00,per Hour,67,4803.50,251.40,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
415,ADMIN FOR CHILDREN'S SVCS,2018-07-02T00:00:00.000,15.50,GABRIEL,2019,MCCARTHY,CEASED,A,0.00,per Hour,67,4944.50,319.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
417,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,DAMIEN,2019,NIEVES,CEASED,B,0.00,per Hour,67,5009.39,245.18,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
418,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,AMANDA,2019,ADINOLFI,CEASED,M,0.00,per Hour,67,5053.00,256.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
420,ADMIN FOR CHILDREN'S SVCS,2019-07-22T00:00:00.000,15.50,SELENA,2019,ROODE,CEASED,R,0.00,per Hour,67,5099.50,266.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
423,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,KEYMONNI,2019,WHITE PENDARVIS,CEASED,A,0.00,per Hour,67,5314.17,280.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
425,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,KOMAL,2019,SEEDARNEE,CEASED,NaN,0.00,per Hour,67,5270.01,271.75,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
426,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JASMINE,2019,EDWARDS,CEASED,NaN,0.00,per Hour,67,5281.64,298.75,SUMMER COLLEGE INTERN,0.00,108.50,RICHMOND
517,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,DASHAWN,2019,JOHNSON,CEASED,C,0.00,per Hour,67,5347.50,296.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
518,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JUDELINE,2019,CAME,CEASED,NaN,0.00,per Hour,67,5351.38,275.25,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
519,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,MARLIE,2019,MUNOZ,CEASED,M,0.00,per Hour,67,5363.00,290.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
522,ADMIN FOR CHILDREN'S SVCS,2018-06-11T00:00:00.000,15.50,KAMAL,2019,WOODS,CEASED,C,0.00,per Hour,67,5392.78,276.92,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
525,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,MALIAH,2019,WOODARD COLLINS,CEASED,K,0.00,per Hour,67,5456.00,282.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
528,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,TIFFANY,2019,WILKS,CEASED,D,0.00,per Hour,67,5540.53,287.20,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN
697,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,SHAIANNA,2019,VIERA,CEASED,S,0.00,per Hour,67,3933.13,191.25,SUMMER COLLEGE INTERN,0.00,108.50,RICHMOND
830,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,THOMAS,2019,IOANNOU,ACTIVE,S,0.00,per Hour,67,5997.27,292.45,MAINTENANCE WORKER,0.00,317.17,BROOKLYN
831,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,STEPHEN,2019,WILKINSON,ACTIVE,W,0.00,per Hour,67,5998.65,292.50,MAINTENANCE WORKER,0.00,321.11,BROOKLYN
845,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,23.73,ROLDA,2019,CHARLES,CEASED,NaN,0.00,per Hour,67,6620.68,210.00,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN
851,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,29.04,ALEXANDRA,2019,BUTLER,ON LEAVE,NaN,0.00,per Hour,67,6910.49,168.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,0.00,MANHATTAN
856,ADMIN FOR CHILDREN'S SVCS,2018-06-18T00:00:00.000,23.73,ORLANDO,2019,HAWKINS,CEASED,C,0.00,per Hour,67,7006.39,261.75,SUMMER GRADUATE INTERN,0.00,0.00,MANHATTAN
875,ADMIN FOR CHILDREN'S SVCS,2019-06-24T00:00:00.000,15.50,MECCA,2019,SNIPE,ACTIVE,E,0.00,per Hour,67,7119.01,266.00,SUMMER COLLEGE INTERN,0.00,166.11,BROOKLYN
1059,ADMIN FOR CHILDREN'S SVCS,2018-06-03T00:00:00.000,23.73,JENNIFER,2019,SILVERIO,CEASED,NaN,0.00,per Hour,67,7913.97,264.25,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN
1104,ADMIN FOR CHILDREN'S SVCS,2019-07-22T00:00:00.000,23.73,NATALIA,2019,RICHARDS,CEASED,L,0.00,per Hour,67,8958.08,307.50,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN
1714,ADMIN FOR CHILDREN'S SVCS,2018-12-17T00:00:00.000,19.00,SHANIA,2019,ISHMAEL,ACTIVE,S,51.25,per Hour,67,26796.99,1600.02,COMMUNITY ASSISTANT,912.00,232.21,MANHATTAN
1800,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,20.45,BRANDON,2019,GONZALEZ,ACTIVE,L,0.00,per Hour,67,32073.08,1666.00,COMMUNITY ASSISTANT,0.00,108.50,MANHATTAN
1861,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,29.00,SHAHIDA,2019,ABDUL-SALAM,ACTIVE,NaN,0.00,per Hour,67,33993.65,1529.00,COMMUNITY COORDINATOR,0.00,108.50,MANHATTAN
1902,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,28.81,REGINALD,2019,DICKEY,ACTIVE,NaN,0.00,per Hour,67,18762.46,608.15,CHILDREN'S COUNSELOR,0.00,1273.55,MANHATTAN
2165,ADMIN FOR CHILDREN'S SVCS,1998-07-27T00:00:00.000,28.74,FRANCINE,2019,MCINTYRE,ACTIVE,NaN,0.00,per Hour,67,49516.78,1702.23,CHILDREN'S COUNSELOR,13.48,2265.44,MANHATTAN
2718,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.74,LASHAWN,2019,MOODY,ACTIVE,NaN,19.75,per Hour,67,47882.65,1650.97,CHILDREN'S COUNSELOR,495.79,2322.05,BROOKLYN
3942,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,25.36,JENKINS,2019,EKPO,ACTIVE,NaN,570.50,per Hour,67,44408.18,1751.68,CHILDREN'S COUNSELOR,19738.42,1036.99,MANHATTAN
4864,ADMIN FOR CHILDREN'S SVCS,2007-09-10T00:00:00.000,39.40,ROSSELLA,2019,PETRONE,ACTIVE,L,4.50,per Hour,67,66176.84,1722.00,COMMUNITY COORDINATOR,177.30,463.95,MANHATTAN
8099,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,35.19,EVGUENI,2019,GALINSKI,ACTIVE,NaN,1610.00,per Hour,67,72045.84,2020.00,CITY LABORER,85837.29,5214.26,MANHATTAN
8566,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,170.00,MARTIN,2019,IRWIN,ACTIVE,A,0.00,per Hour,67,180372.68,1237.00,CITY MEDICAL DIRECTOR,0.00,0.00,MANHATTAN
44634,ADMIN TRIALS AND HEARINGS,2014-08-18T00:00:00.000,15.33,NATASHA,2019,TAYLOR,CEASED,S,0.00,per Hour,820,0.53,0.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44635,ADMIN TRIALS AND HEARINGS,2016-10-17T00:00:00.000,15.33,SHAQUISA,2019,CARR,CEASED,NaN,0.00,per Hour,820,25.20,0.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44638,ADMIN TRIALS AND HEARINGS,2017-08-14T00:00:00.000,16.90,NAJMIN,2019,BEGUM,CEASED,NaN,0.00,per Hour,820,65.73,0.00,COMMUNITY ASSISTANT,0.00,0.00,QUEENS
44640,ADMIN TRIALS AND HEARINGS,2011-07-05T00:00:00.000,25.44,SHAUNA,2019,DURRANT,CEASED,N,0.00,per Hour,820,97.98,0.00,COMMUNITY ASSOCIATE,0.00,3.50,MANHATTAN
44645,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,15.33,SHAUNISE,2019,FELDER,CEASED,R,0.00,per Hour,820,266.70,0.00,COMMUNITY SERVICE AIDE,0.00,6.30,MANHATTAN
44648,ADMIN TRIALS AND HEARINGS,2013-02-04T00:00:00.000,17.63,PRISCA,2019,TOUSSAINT,CEASED,A,0.00,per Hour,820,296.45,0.00,COMMUNITY SERVICE AIDE,0.00,19.60,BROOKLYN
44649,ADMIN TRIALS AND HEARINGS,2011-11-07T00:00:00.000,17.63,MARCUS,2019,COBIAN,CEASED,J,0.00,per Hour,820,362.79,0.00,COMMUNITY SERVICE AIDE,0.00,19.60,QUEENS
44652,ADMIN TRIALS AND HEARINGS,2015-08-10T00:00:00.000,17.63,KERRIANN,2019,SAMUELS,CEASED,Y,0.00,per Hour,820,441.13,0.00,COMMUNITY SERVICE AIDE,0.00,22.05,QUEENS
44654,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MICHAEL,2019,AMMIRATO,ACTIVE,NaN,0.00,per Hour,820,511.58,9.50,HEARING OFFICER,0.00,0.00,BRONX
44655,ADMIN TRIALS AND HEARINGS,2017-05-22T00:00:00.000,175.10,DEBRA,2019,SCOTTO,CEASED,NaN,0.00,per Hour,820,525.30,0.00,MEMBER OF THE ENVIRONMENTAL CONTROL BOARD - OATH,0.00,0.00,MANHATTAN
44661,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,54.93,JOHN,2019,LANGELL,ACTIVE,R,0.00,per Hour,820,1278.94,23.75,HEARING OFFICER,0.00,0.00,BRONX
44664,ADMIN TRIALS AND HEARINGS,2017-10-30T00:00:00.000,15.50,LOIS,2019,CHAPMAN,CEASED,E,0.00,per Hour,820,13211.30,842.50,COLLEGE AIDE,0.00,0.00,MANHATTAN
44665,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,ROBERTO,2019,ENGLISH,ACTIVE,B,0.00,per Hour,820,13402.78,287.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44666,ADMIN TRIALS AND HEARINGS,2018-07-31T00:00:00.000,18.03,ASIA,2019,KENNEDY,ACTIVE,C,0.00,per Hour,820,13745.37,973.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44670,ADMIN TRIALS AND HEARINGS,2018-12-10T00:00:00.000,15.67,MONIQUE,2019,HARRIS,ACTIVE,S,0.00,per Hour,820,14076.10,967.83,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44671,ADMIN TRIALS AND HEARINGS,2018-09-17T00:00:00.000,15.67,DESHON,2019,TOPPING,ACTIVE,K,0.00,per Hour,820,14237.68,979.65,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44674,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,FRAN,2019,CARROLL,ACTIVE,NaN,0.00,per Hour,820,14499.13,257.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44675,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,JOYCE,2019,CAMPBELL PRIVET,CEASED,D,0.00,per Hour,820,14994.60,279.50,HEARING OFFICER,0.00,0.00,BRONX
44676,ADMIN TRIALS AND HEARINGS,2019-02-04T00:00:00.000,23.43,THOMAS,2019,KURIAN,ACTIVE,NaN,0.00,per Hour,820,15065.49,713.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN
44677,ADMIN TRIALS AND HEARINGS,2018-05-21T00:00:00.000,15.75,BRIANNA,2019,SHIPP,ACTIVE,P,0.00,per Hour,820,15236.75,1063.75,COLLEGE AIDE,0.00,0.00,RICHMOND
44678,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,EVI,2019,IGLAUER,ACTIVE,NaN,0.00,per Hour,820,15253.12,252.50,HEARING OFFICER,0.00,0.00,MANHATTAN
44679,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JACQUELYN,2019,KAMIN,ACTIVE,A,0.00,per Hour,820,15457.46,276.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44680,ADMIN TRIALS AND HEARINGS,2012-09-19T00:00:00.000,54.93,JANET,2019,WINTER,ACTIVE,NaN,0.00,per Hour,820,15518.00,292.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44681,ADMIN TRIALS AND HEARINGS,2018-08-06T00:00:00.000,15.67,NANDY,2019,EUGENE,ON LEAVE,R,0.00,per Hour,820,15655.40,1004.07,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS
44683,ADMIN TRIALS AND HEARINGS,2018-09-04T00:00:00.000,15.67,ELLISSA,2019,CHAMBERS,CEASED,L,0.00,per Hour,820,16172.50,1034.40,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS
44684,ADMIN TRIALS AND HEARINGS,2015-06-01T00:00:00.000,54.93,STEVEN,2019,BIRO,ACTIVE,G,0.00,per Hour,820,16428.75,275.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44685,ADMIN TRIALS AND HEARINGS,2016-03-14T00:00:00.000,18.03,TYRONE,2019,BRITTON,ACTIVE,NaN,0.00,per Hour,820,16751.93,885.23,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44686,ADMIN TRIALS AND HEARINGS,2017-09-05T00:00:00.000,15.75,ISAAC,2019,LEWIS,ACTIVE,I,0.00,per Hour,820,17318.34,1144.50,COLLEGE AIDE,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26828,TAXI & LIMOUSINE COMMISSION,2015-10-09T00:00:00.000,17.39,ANASTAISYA,2019,COGGINS,ACTIVE,Y,0.00,per Hour,156,28165.38,1526.50,COMMUNITY ASSISTANT,0.00,1403.05,MANHATTAN
26833,TAXI & LIMOUSINE COMMISSION,2017-05-15T00:00:00.000,20.07,VERONICA,2019,RIOS,ACTIVE,NaN,0.00,per Hour,156,29350.32,1743.00,CLERICAL ASSOCIATE,0.00,1267.10,QUEENS
26837,TAXI & LIMOUSINE COMMISSION,2012-01-23T00:00:00.000,35.58,ANDREA,2019,SOCCI,ACTIVE,M,0.00,per Hour,156,31315.33,986.82,STAFF ANALYST,0.00,16.50,QUEENS
26838,TAXI & LIMOUSINE COMMISSION,2017-10-23T00:00:00.000,15.12,JASON,2019,CARSON,ACTIVE,E,22.25,per Hour,156,30683.85,2016.00,COMMUNITY ASSISTANT,627.75,24.62,MANHATTAN
26839,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,THERESA,2019,WELCH,ACTIVE,E,131.50,per Hour,156,27804.79,1383.47,OPERATIONS COMMUNICATIONS SPECIALIST,2971.37,869.53,QUEENS
26841,TAXI & LIMOUSINE COMMISSION,2018-02-20T00:00:00.000,15.12,ARTHUR,2019,SCOTT,ACTIVE,E,7.00,per Hour,156,31454.41,2080.00,COMMUNITY ASSISTANT,3.59,217.78,QUEENS
26842,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,RASHEEM,2019,JOHNSON,ACTIVE,K,0.00,per Hour,156,31419.55,2000.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS
26845,TAXI & LIMOUSINE COMMISSION,2017-04-17T00:00:00.000,17.40,NEIL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Hour,156,31871.75,2041.00,COMMUNITY ASSISTANT,0.00,381.12,QUEENS
26886,TAXI & LIMOUSINE COMMISSION,2018-06-18T00:00:00.000,50.27,DENNIS,2019,WOLFF,ACTIVE,A,0.00,per Hour,156,86976.18,1741.00,CERTIFIED IT DEVELOPER,0.00,373.39,MANHATTAN
26955,TAXI & LIMOUSINE COMMISSION,2008-09-08T00:00:00.000,24.56,ABIBATA,2019,ZONO,ACTIVE,NaN,0.00,per Hour,156,43110.46,1743.00,COMMUNITY ASSOCIATE,0.00,1911.91,QUEENS
26959,TAXI & LIMOUSINE COMMISSION,2006-11-28T00:00:00.000,23.19,LUISA,2019,CALA,ACTIVE,NaN,25.00,per Hour,156,40724.74,1743.00,CLERICAL ASSOCIATE,611.28,3925.03,QUEENS
26970,TAXI & LIMOUSINE COMMISSION,2000-12-18T00:00:00.000,23.45,GLORIA,2019,RAMOS,ACTIVE,E,60.75,per Hour,156,41193.32,1743.00,COMMUNITY ASSOCIATE,1741.37,3119.52,QUEENS
26978,TAXI & LIMOUSINE COMMISSION,1999-08-09T00:00:00.000,24.48,BARBARA,2019,MILES,ACTIVE,A,11.00,per Hour,156,43003.94,1743.00,COMMUNITY ASSOCIATE,271.52,3199.70,QUEENS
26991,TAXI & LIMOUSINE COMMISSION,2016-01-11T00:00:00.000,26.28,DICKSON,2019,PORRAS,ACTIVE,NaN,71.25,per Hour,156,47046.45,1778.00,COMPUTER AIDE-NON-SPVR,2744.27,13084.73,QUEENS
26992,TAXI & LIMOUSINE COMMISSION,2000-06-05T00:00:00.000,33.60,SHELLITA,2019,MALCOLM,ACTIVE,C,0.00,per Hour,156,58991.17,1743.00,COMMUNITY ASSOCIATE,0.00,3908.64,MANHATTAN
27328,TAXI & LIMOUSINE COMMISSION,2013-01-02T00:00:00.000,23.59,CHRISTOS,2019,HARETOPOULOS,ACTIVE,NaN,38.00,per Hour,156,40845.95,1742.55,SUPERVISOR OF STOCK WORKERS,807.96,1890.64,QUEENS
27329,TAXI & LIMOUSINE COMMISSION,2014-09-02T00:00:00.000,24.08,SABIHA,2019,AFRIN,ACTIVE,NaN,13.25,per Hour,156,41333.33,1740.00,COMMUNITY ASSOCIATE,349.75,1883.23,QUEENS
27332,TAXI & LIMOUSINE COMMISSION,1997-08-04T00:00:00.000,23.48,ANA,2019,BARRETO,ACTIVE,L,0.00,per Hour,156,41216.57,1743.00,COMMUNITY ASSOCIATE,0.00,3121.73,QUEENS
30946,TEACHERS RETIREMENT SYSTEM,2019-06-10T00:00:00.000,17.00,BELLA,2019,NATASHA,ACTIVE,NaN,0.00,per Hour,41,595.00,100.75,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30947,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,PHILIP,2019,PEGUS,ACTIVE,M,0.00,per Hour,41,740.14,105.75,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30950,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,17.00,SHASHIKANT,2019,PRAJAPATI,ACTIVE,R,0.00,per Hour,41,956.25,126.25,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30951,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,CHRISTOPHER,2019,MUNGIELLO,ACTIVE,F,0.00,per Hour,41,972.65,132.25,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30952,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,RUSSELL,2019,JOHNSON,ACTIVE,D,0.00,per Hour,41,1073.39,132.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30953,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,EMMA,2019,BOYD,ACTIVE,J,0.00,per Hour,41,1073.39,122.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30954,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,ANTHONY,2019,LIN,ACTIVE,NaN,0.00,per Hour,41,1085.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30955,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,ALEXANDRA,2019,GAYLE,ACTIVE,E,0.00,per Hour,41,1085.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30956,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,MICHELLE,2019,WONG,ACTIVE,M,0.00,per Hour,41,1085.01,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30957,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,MICHAEL,2019,SMITH,ACTIVE,J,0.00,per Hour,41,1085.02,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30958,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,THOMAS,2019,FLYNN,ACTIVE,J,0.00,per Hour,41,1085.02,119.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30959,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,AKHIL,2019,KESANI,ACTIVE,S,0.00,per Hour,41,1085.03,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30960,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,GENESIS,2019,RODRIGUEZ,ACTIVE,L,0.00,per Hour,41,1085.04,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30961,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,CHIRAG,2019,VENKATESAN,ACTIVE,NaN,0.00,per Hour,41,1155.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30962,TEACHERS RETIREMENT SYSTEM,2019-06-02T00:00:00.000,16.50,NITHYASREE,2019,NATARAJAN,ACTIVE,NaN,0.00,per Hour,41,1155.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30963,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,JOVIE,2019,BANDOY,ACTIVE,A,0.00,per Hour,41,1155.01,139.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30964,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,RANSES,2019,CRUZ,ACTIVE,R,0.00,per Hour,41,1155.03,138.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN
30968,TEACHERS RETIREMENT SYSTEM,2018-06-03T00:00:00.000,13.00,MICHAEL,2019,RAUCCI,CEASED,P,0.00,per Hour,41,2245.75,114.25,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN
30969,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,13.00,JAMES,2019,AMMIRATI,CEASED,V,0.00,per Hour,41,2249.00,118.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN
30970,TEACHERS RETIREMENT SYSTEM,2018-06-28T00:00:00.000,13.00,KUNAL,2019,KANWAR,CEASED,NaN,0.00,per Hour,41,2522.00,180.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN
30971,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,13.00,GLORIA,2019,KOUZMINE,CEASED,NaN,0.00,per Hour,41,2908.75,153.75,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN
30972,TEACHERS RETIREMENT SYSTEM,2018-07-02T00:00:00.000,13.00,SHRABUNY,2019,JALAL,CEASED,NaN,0.00,per Hour,41,2990.00,230.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN
30973,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,14.00,ALEXIS,2019,SMITH,CEASED,M,0.00,per Hour,41,3003.00,144.50,SUMMER COLLEGE INTERN,0.00,98.00,MANHATTAN
30974,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,13.00,JONATHAN,2019,ARROYO,CEASED,G,0.00,per Hour,41,3016.00,162.50,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN

In [117]:
add_count_of_value(per_hour_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
199,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ZARIA,2019,CYRUS,CEASED,A,0.00,per Hour,67,1980.15,59.75,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,4
217,ADMIN FOR CHILDREN'S SVCS,2018-07-02T00:00:00.000,15.50,KELVIN,2019,ARACHE,CEASED,NaN,0.00,per Hour,67,2402.50,155.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,32
229,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,TENESHER,2019,YOUNG,CEASED,D,0.00,per Hour,67,2622.40,123.65,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN,1
236,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,LORISBEL,2019,ROMERO,CEASED,A,0.00,per Hour,67,2772.97,115.90,SUMMER COLLEGE INTERN,0.00,108.50,BRONX,1
242,ADMIN FOR CHILDREN'S SVCS,2000-01-31T00:00:00.000,24.52,SONYA,2019,WARD,ON LEAVE,NaN,0.00,per Hour,67,3046.64,0.75,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN,23
250,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ALONDRA,2019,CASTILLO ARELLA,CEASED,NaN,0.00,per Hour,67,3198.98,147.38,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,6
265,ADMIN FOR CHILDREN'S SVCS,2018-06-12T00:00:00.000,15.50,JOSHUA,2019,HAZELWOOD,CEASED,NaN,0.00,per Hour,67,3640.95,164.90,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,144
266,ADMIN FOR CHILDREN'S SVCS,2001-06-04T00:00:00.000,28.74,MILANA,2019,MAKSUMOV,ON LEAVE,NaN,0.00,per Hour,67,3527.87,31.25,CHILDREN'S COUNSELOR,28.47,209.73,MANHATTAN,5
311,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.11,ESTHER,2019,BOONE,CEASED,A,0.00,per Hour,67,246.84,0.00,CHILDREN'S COUNSELOR,0.00,0.00,MANHATTAN,93
371,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,NAYA,2019,JACKSON,CEASED,NaN,0.00,per Hour,67,4166.16,209.47,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,3
383,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,ASHLEY,2019,DAVIS,CEASED,N,0.00,per Hour,67,4185.00,200.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,187
400,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JENNIFER,2019,OLIVA,CEASED,L,0.00,per Hour,67,4607.38,234.25,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,379
404,ADMIN FOR CHILDREN'S SVCS,2019-07-01T00:00:00.000,15.50,PANNA,2019,HUSSAIN,ACTIVE,B,0.00,per Hour,67,4696.50,234.00,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN,3
410,ADMIN FOR CHILDREN'S SVCS,2018-06-28T00:00:00.000,15.50,MALANIE,2019,THOMPSON,CEASED,M,0.00,per Hour,67,4789.50,295.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,1
411,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,AUTUMN,2019,STATEN,CEASED,J,0.00,per Hour,67,4803.50,251.40,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,10
415,ADMIN FOR CHILDREN'S SVCS,2018-07-02T00:00:00.000,15.50,GABRIEL,2019,MCCARTHY,CEASED,A,0.00,per Hour,67,4944.50,319.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,63
417,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,DAMIEN,2019,NIEVES,CEASED,B,0.00,per Hour,67,5009.39,245.18,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,19
418,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,AMANDA,2019,ADINOLFI,CEASED,M,0.00,per Hour,67,5053.00,256.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,149
420,ADMIN FOR CHILDREN'S SVCS,2019-07-22T00:00:00.000,15.50,SELENA,2019,ROODE,CEASED,R,0.00,per Hour,67,5099.50,266.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,20
423,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,KEYMONNI,2019,WHITE PENDARVIS,CEASED,A,0.00,per Hour,67,5314.17,280.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,1
425,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,KOMAL,2019,SEEDARNEE,CEASED,NaN,0.00,per Hour,67,5270.01,271.75,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,3
426,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JASMINE,2019,EDWARDS,CEASED,NaN,0.00,per Hour,67,5281.64,298.75,SUMMER COLLEGE INTERN,0.00,108.50,RICHMOND,135
517,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,DASHAWN,2019,JOHNSON,CEASED,C,0.00,per Hour,67,5347.50,296.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,10
518,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,JUDELINE,2019,CAME,CEASED,NaN,0.00,per Hour,67,5351.38,275.25,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,2
519,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,MARLIE,2019,MUNOZ,CEASED,M,0.00,per Hour,67,5363.00,290.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,1
522,ADMIN FOR CHILDREN'S SVCS,2018-06-11T00:00:00.000,15.50,KAMAL,2019,WOODS,CEASED,C,0.00,per Hour,67,5392.78,276.92,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,14
525,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,MALIAH,2019,WOODARD COLLINS,CEASED,K,0.00,per Hour,67,5456.00,282.00,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,1
528,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,TIFFANY,2019,WILKS,CEASED,D,0.00,per Hour,67,5540.53,287.20,SUMMER COLLEGE INTERN,0.00,108.50,MANHATTAN,187
697,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,15.50,SHAIANNA,2019,VIERA,CEASED,S,0.00,per Hour,67,3933.13,191.25,SUMMER COLLEGE INTERN,0.00,108.50,RICHMOND,1
830,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,THOMAS,2019,IOANNOU,ACTIVE,S,0.00,per Hour,67,5997.27,292.45,MAINTENANCE WORKER,0.00,317.17,BROOKLYN,280
831,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,STEPHEN,2019,WILKINSON,ACTIVE,W,0.00,per Hour,67,5998.65,292.50,MAINTENANCE WORKER,0.00,321.11,BROOKLYN,155
845,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,23.73,ROLDA,2019,CHARLES,CEASED,NaN,0.00,per Hour,67,6620.68,210.00,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN,2
851,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,29.04,ALEXANDRA,2019,BUTLER,ON LEAVE,NaN,0.00,per Hour,67,6910.49,168.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,0.00,MANHATTAN,82
856,ADMIN FOR CHILDREN'S SVCS,2018-06-18T00:00:00.000,23.73,ORLANDO,2019,HAWKINS,CEASED,C,0.00,per Hour,67,7006.39,261.75,SUMMER GRADUATE INTERN,0.00,0.00,MANHATTAN,31
875,ADMIN FOR CHILDREN'S SVCS,2019-06-24T00:00:00.000,15.50,MECCA,2019,SNIPE,ACTIVE,E,0.00,per Hour,67,7119.01,266.00,SUMMER COLLEGE INTERN,0.00,166.11,BROOKLYN,6
1059,ADMIN FOR CHILDREN'S SVCS,2018-06-03T00:00:00.000,23.73,JENNIFER,2019,SILVERIO,CEASED,NaN,0.00,per Hour,67,7913.97,264.25,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN,379
1104,ADMIN FOR CHILDREN'S SVCS,2019-07-22T00:00:00.000,23.73,NATALIA,2019,RICHARDS,CEASED,L,0.00,per Hour,67,8958.08,307.50,SUMMER GRADUATE INTERN,0.00,166.11,MANHATTAN,38
1714,ADMIN FOR CHILDREN'S SVCS,2018-12-17T00:00:00.000,19.00,SHANIA,2019,ISHMAEL,ACTIVE,S,51.25,per Hour,67,26796.99,1600.02,COMMUNITY ASSISTANT,912.00,232.21,MANHATTAN,10
1800,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,20.45,BRANDON,2019,GONZALEZ,ACTIVE,L,0.00,per Hour,67,32073.08,1666.00,COMMUNITY ASSISTANT,0.00,108.50,MANHATTAN,104
1861,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,29.00,SHAHIDA,2019,ABDUL-SALAM,ACTIVE,NaN,0.00,per Hour,67,33993.65,1529.00,COMMUNITY COORDINATOR,0.00,108.50,MANHATTAN,9
1902,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,28.81,REGINALD,2019,DICKEY,ACTIVE,NaN,0.00,per Hour,67,18762.46,608.15,CHILDREN'S COUNSELOR,0.00,1273.55,MANHATTAN,49
2165,ADMIN FOR CHILDREN'S SVCS,1998-07-27T00:00:00.000,28.74,FRANCINE,2019,MCINTYRE,ACTIVE,NaN,0.00,per Hour,67,49516.78,1702.23,CHILDREN'S COUNSELOR,13.48,2265.44,MANHATTAN,62
2718,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.74,LASHAWN,2019,MOODY,ACTIVE,NaN,19.75,per Hour,67,47882.65,1650.97,CHILDREN'S COUNSELOR,495.79,2322.05,BROOKLYN,11
3942,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,25.36,JENKINS,2019,EKPO,ACTIVE,NaN,570.50,per Hour,67,44408.18,1751.68,CHILDREN'S COUNSELOR,19738.42,1036.99,MANHATTAN,1
4864,ADMIN FOR CHILDREN'S SVCS,2007-09-10T00:00:00.000,39.40,ROSSELLA,2019,PETRONE,ACTIVE,L,4.50,per Hour,67,66176.84,1722.00,COMMUNITY COORDINATOR,177.30,463.95,MANHATTAN,1
8099,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,35.19,EVGUENI,2019,GALINSKI,ACTIVE,NaN,1610.00,per Hour,67,72045.84,2020.00,CITY LABORER,85837.29,5214.26,MANHATTAN,1
8566,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,170.00,MARTIN,2019,IRWIN,ACTIVE,A,0.00,per Hour,67,180372.68,1237.00,CITY MEDICAL DIRECTOR,0.00,0.00,MANHATTAN,65
44634,ADMIN TRIALS AND HEARINGS,2014-08-18T00:00:00.000,15.33,NATASHA,2019,TAYLOR,CEASED,S,0.00,per Hour,820,0.53,0.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,93
44635,ADMIN TRIALS AND HEARINGS,2016-10-17T00:00:00.000,15.33,SHAQUISA,2019,CARR,CEASED,NaN,0.00,per Hour,820,25.20,0.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,3
44638,ADMIN TRIALS AND HEARINGS,2017-08-14T00:00:00.000,16.90,NAJMIN,2019,BEGUM,CEASED,NaN,0.00,per Hour,820,65.73,0.00,COMMUNITY ASSISTANT,0.00,0.00,QUEENS,2
44640,ADMIN TRIALS AND HEARINGS,2011-07-05T00:00:00.000,25.44,SHAUNA,2019,DURRANT,CEASED,N,0.00,per Hour,820,97.98,0.00,COMMUNITY ASSOCIATE,0.00,3.50,MANHATTAN,7
44645,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,15.33,SHAUNISE,2019,FELDER,CEASED,R,0.00,per Hour,820,266.70,0.00,COMMUNITY SERVICE AIDE,0.00,6.30,MANHATTAN,1
44648,ADMIN TRIALS AND HEARINGS,2013-02-04T00:00:00.000,17.63,PRISCA,2019,TOUSSAINT,CEASED,A,0.00,per Hour,820,296.45,0.00,COMMUNITY SERVICE AIDE,0.00,19.60,BROOKLYN,5
44649,ADMIN TRIALS AND HEARINGS,2011-11-07T00:00:00.000,17.63,MARCUS,2019,COBIAN,CEASED,J,0.00,per Hour,820,362.79,0.00,COMMUNITY SERVICE AIDE,0.00,19.60,QUEENS,40
44652,ADMIN TRIALS AND HEARINGS,2015-08-10T00:00:00.000,17.63,KERRIANN,2019,SAMUELS,CEASED,Y,0.00,per Hour,820,441.13,0.00,COMMUNITY SERVICE AIDE,0.00,22.05,QUEENS,2
44654,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MICHAEL,2019,AMMIRATO,ACTIVE,NaN,0.00,per Hour,820,511.58,9.50,HEARING OFFICER,0.00,0.00,BRONX,862
44655,ADMIN TRIALS AND HEARINGS,2017-05-22T00:00:00.000,175.10,DEBRA,2019,SCOTTO,CEASED,NaN,0.00,per Hour,820,525.30,0.00,MEMBER OF THE ENVIRONMENTAL CONTROL BOARD - OATH,0.00,0.00,MANHATTAN,189
44661,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,54.93,JOHN,2019,LANGELL,ACTIVE,R,0.00,per Hour,820,1278.94,23.75,HEARING OFFICER,0.00,0.00,BRONX,606
44664,ADMIN TRIALS AND HEARINGS,2017-10-30T00:00:00.000,15.50,LOIS,2019,CHAPMAN,CEASED,E,0.00,per Hour,820,13211.30,842.50,COLLEGE AIDE,0.00,0.00,MANHATTAN,40
44665,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,ROBERTO,2019,ENGLISH,ACTIVE,B,0.00,per Hour,820,13402.78,287.75,HEARING OFFICER,0.00,0.00,MANHATTAN,67
44666,ADMIN TRIALS AND HEARINGS,2018-07-31T00:00:00.000,18.03,ASIA,2019,KENNEDY,ACTIVE,C,0.00,per Hour,820,13745.37,973.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,31
44670,ADMIN TRIALS AND HEARINGS,2018-12-10T00:00:00.000,15.67,MONIQUE,2019,HARRIS,ACTIVE,S,0.00,per Hour,820,14076.10,967.83,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,136
44671,ADMIN TRIALS AND HEARINGS,2018-09-17T00:00:00.000,15.67,DESHON,2019,TOPPING,ACTIVE,K,0.00,per Hour,820,14237.68,979.65,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,4
44674,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,FRAN,2019,CARROLL,ACTIVE,NaN,0.00,per Hour,820,14499.13,257.25,HEARING OFFICER,0.00,0.00,MANHATTAN,4
44675,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,JOYCE,2019,CAMPBELL PRIVET,CEASED,D,0.00,per Hour,820,14994.60,279.50,HEARING OFFICER,0.00,0.00,BRONX,140
44676,ADMIN TRIALS AND HEARINGS,2019-02-04T00:00:00.000,23.43,THOMAS,2019,KURIAN,ACTIVE,NaN,0.00,per Hour,820,15065.49,713.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN,280
44677,ADMIN TRIALS AND HEARINGS,2018-05-21T00:00:00.000,15.75,BRIANNA,2019,SHIPP,ACTIVE,P,0.00,per Hour,820,15236.75,1063.75,COLLEGE AIDE,0.00,0.00,RICHMOND,53
44678,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,EVI,2019,IGLAUER,ACTIVE,NaN,0.00,per Hour,820,15253.12,252.50,HEARING OFFICER,0.00,0.00,MANHATTAN,1
44679,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JACQUELYN,2019,KAMIN,ACTIVE,A,0.00,per Hour,820,15457.46,276.25,HEARING OFFICER,0.00,0.00,MANHATTAN,21
44680,ADMIN TRIALS AND HEARINGS,2012-09-19T00:00:00.000,54.93,JANET,2019,WINTER,ACTIVE,NaN,0.00,per Hour,820,15518.00,292.75,HEARING OFFICER,0.00,0.00,MANHATTAN,171
44681,ADMIN TRIALS AND HEARINGS,2018-08-06T00:00:00.000,15.67,NANDY,2019,EUGENE,ON LEAVE,R,0.00,per Hour,820,15655.40,1004.07,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS,1
44683,ADMIN TRIALS AND HEARINGS,2018-09-04T00:00:00.000,15.67,ELLISSA,2019,CHAMBERS,CEASED,L,0.00,per Hour,820,16172.50,1034.40,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS,1
44684,ADMIN TRIALS AND HEARINGS,2015-06-01T00:00:00.000,54.93,STEVEN,2019,BIRO,ACTIVE,G,0.00,per Hour,820,16428.75,275.75,HEARING OFFICER,0.00,0.00,MANHATTAN,216
44685,ADMIN TRIALS AND HEARINGS,2016-03-14T00:00:00.000,18.03,TYRONE,2019,BRITTON,ACTIVE,NaN,0.00,per Hour,820,16751.93,885.23,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,83
44686,ADMIN TRIALS AND HEARINGS,2017-09-05T00:00:00.000,15.75,ISAAC,2019,LEWIS,ACTIVE,I,0.00,per Hour,820,17318.34,1144.50,COLLEGE AIDE,0.00,0.00,MANHATTAN,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26828,TAXI & LIMOUSINE COMMISSION,2015-10-09T00:00:00.000,17.39,ANASTAISYA,2019,COGGINS,ACTIVE,Y,0.00,per Hour,156,28165.38,1526.50,COMMUNITY ASSISTANT,0.00,1403.05,MANHATTAN,1
26833,TAXI & LIMOUSINE COMMISSION,2017-05-15T00:00:00.000,20.07,VERONICA,2019,RIOS,ACTIVE,NaN,0.00,per Hour,156,29350.32,1743.00,CLERICAL ASSOCIATE,0.00,1267.10,QUEENS,148
26837,TAXI & LIMOUSINE COMMISSION,2012-01-23T00:00:00.000,35.58,ANDREA,2019,SOCCI,ACTIVE,M,0.00,per Hour,156,31315.33,986.82,STAFF ANALYST,0.00,16.50,QUEENS,212
26838,TAXI & LIMOUSINE COMMISSION,2017-10-23T00:00:00.000,15.12,JASON,2019,CARSON,ACTIVE,E,22.25,per Hour,156,30683.85,2016.00,COMMUNITY ASSISTANT,627.75,24.62,MANHATTAN,165
26839,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,THERESA,2019,WELCH,ACTIVE,E,131.50,per Hour,156,27804.79,1383.47,OPERATIONS COMMUNICATIONS SPECIALIST,2971.37,869.53,QUEENS,196
26841,TAXI & LIMOUSINE COMMISSION,2018-02-20T00:00:00.000,15.12,ARTHUR,2019,SCOTT,ACTIVE,E,7.00,per Hour,156,31454.41,2080.00,COMMUNITY ASSISTANT,3.59,217.78,QUEENS,84
26842,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,RASHEEM,2019,JOHNSON,ACTIVE,K,0.00,per Hour,156,31419.55,2000.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS,3
26845,TAXI & LIMOUSINE COMMISSION,2017-04-17T00:00:00.000,17.40,NEIL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Hour,156,31871.75,2041.00,COMMUNITY ASSISTANT,0.00,381.12,QUEENS,28
26886,TAXI & LIMOUSINE COMMISSION,2018-06-18T00:00:00.000,50.27,DENNIS,2019,WOLFF,ACTIVE,A,0.00,per Hour,156,86976.18,1741.00,CERTIFIED IT DEVELOPER,0.00,373.39,MANHATTAN,86
26955,TAXI & LIMOUSINE COMMISSION,2008-09-08T00:00:00.000,24.56,ABIBATA,2019,ZONO,ACTIVE,NaN,0.00,per Hour,156,43110.46,1743.00,COMMUNITY ASSOCIATE,0.00,1911.91,QUEENS,1
26959,TAXI & LIMOUSINE COMMISSION,2006-11-28T00:00:00.000,23.19,LUISA,2019,CALA,ACTIVE,NaN,25.00,per Hour,156,40724.74,1743.00,CLERICAL ASSOCIATE,611.28,3925.03,QUEENS,42
26970,TAXI & LIMOUSINE COMMISSION,2000-12-18T00:00:00.000,23.45,GLORIA,2019,RAMOS,ACTIVE,E,60.75,per Hour,156,41193.32,1743.00,COMMUNITY ASSOCIATE,1741.37,3119.52,QUEENS,261
26978,TAXI & LIMOUSINE COMMISSION,1999-08-09T00:00:00.000,24.48,BARBARA,2019,MILES,ACTIVE,A,11.00,per Hour,156,43003.94,1743.00,COMMUNITY ASSOCIATE,271.52,3199.70,QUEENS,406
26991,TAXI & LIMOUSINE COMMISSION,2016-01-11T00:00:00.000,26.28,DICKSON,2019,PORRAS,ACTIVE,NaN,71.25,per Hour,156,47046.45,1778.00,COMPUTER AIDE-NON-SPVR,2744.27,13084.73,QUEENS,2
26992,TAXI & LIMOUSINE COMMISSION,2000-06-05T00:00:00.000,33.60,SHELLITA,2019,MALCOLM,ACTIVE,C,0.00,per Hour,156,58991.17,1743.00,COMMUNITY ASSOCIATE,0.00,3908.64,MANHATTAN,1
27328,TAXI & LIMOUSINE COMMISSION,2013-01-02T00:00:00.000,23.59,CHRISTOS,2019,HARETOPOULOS,ACTIVE,NaN,38.00,per Hour,156,40845.95,1742.55,SUPERVISOR OF STOCK WORKERS,807.96,1890.64,QUEENS,4
27329,TAXI & LIMOUSINE COMMISSION,2014-09-02T00:00:00.000,24.08,SABIHA,2019,AFRIN,ACTIVE,NaN,13.25,per Hour,156,41333.33,1740.00,COMMUNITY ASSOCIATE,349.75,1883.23,QUEENS,3
27332,TAXI & LIMOUSINE COMMISSION,1997-08-04T00:00:00.000,23.48,ANA,2019,BARRETO,ACTIVE,L,0.00,per Hour,156,41216.57,1743.00,COMMUNITY ASSOCIATE,0.00,3121.73,QUEENS,252
30946,TEACHERS RETIREMENT SYSTEM,2019-06-10T00:00:00.000,17.00,BELLA,2019,NATASHA,ACTIVE,NaN,0.00,per Hour,41,595.00,100.75,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,12
30947,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,PHILIP,2019,PEGUS,ACTIVE,M,0.00,per Hour,41,740.14,105.75,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,59
30950,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,17.00,SHASHIKANT,2019,PRAJAPATI,ACTIVE,R,0.00,per Hour,41,956.25,126.25,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,1
30951,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,CHRISTOPHER,2019,MUNGIELLO,ACTIVE,F,0.00,per Hour,41,972.65,132.25,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,355
30952,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,RUSSELL,2019,JOHNSON,ACTIVE,D,0.00,per Hour,41,1073.39,132.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,37
30953,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,EMMA,2019,BOYD,ACTIVE,J,0.00,per Hour,41,1073.39,122.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,65
30954,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,ANTHONY,2019,LIN,ACTIVE,NaN,0.00,per Hour,41,1085.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,497
30955,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,ALEXANDRA,2019,GAYLE,ACTIVE,E,0.00,per Hour,41,1085.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,82
30956,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,MICHELLE,2019,WONG,ACTIVE,M,0.00,per Hour,41,1085.01,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,387
30957,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,MICHAEL,2019,SMITH,ACTIVE,J,0.00,per Hour,41,1085.02,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,862
30958,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,THOMAS,2019,FLYNN,ACTIVE,J,0.00,per Hour,41,1085.02,119.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,280
30959,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,AKHIL,2019,KESANI,ACTIVE,S,0.00,per Hour,41,1085.03,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,2
30960,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,15.50,GENESIS,2019,RODRIGUEZ,ACTIVE,L,0.00,per Hour,41,1085.04,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,28
30961,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,CHIRAG,2019,VENKATESAN,ACTIVE,NaN,0.00,per Hour,41,1155.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,2
30962,TEACHERS RETIREMENT SYSTEM,2019-06-02T00:00:00.000,16.50,NITHYASREE,2019,NATARAJAN,ACTIVE,NaN,0.00,per Hour,41,1155.00,140.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,1
30963,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,JOVIE,2019,BANDOY,ACTIVE,A,0.00,per Hour,41,1155.01,139.00,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,1
30964,TEACHERS RETIREMENT SYSTEM,2019-06-03T00:00:00.000,16.50,RANSES,2019,CRUZ,ACTIVE,R,0.00,per Hour,41,1155.03,138.50,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN,1
30968,TEACHERS RETIREMENT SYSTEM,2018-06-03T00:00:00.000,13.00,MICHAEL,2019,RAUCCI,CEASED,P,0.00,per Hour,41,2245.75,114.25,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN,862
30969,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,13.00,JAMES,2019,AMMIRATI,CEASED,V,0.00,per Hour,41,2249.00,118.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN,479
30970,TEACHERS RETIREMENT SYSTEM,2018-06-28T00:00:00.000,13.00,KUNAL,2019,KANWAR,CEASED,NaN,0.00,per Hour,41,2522.00,180.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN,2
30971,TEACHERS RETIREMENT SYSTEM,2018-06-04T00:00:00.000,13.00,GLORIA,2019,KOUZMINE,CEASED,NaN,0.00,per Hour,41,2908.75,153.75,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN,261
30972,TEACHERS RETIREMENT SYSTEM,2018-07-02T00:00:00.000,13.00,SHRABUNY,2019,JALAL,CEASED,NaN,0.00,per Hour,41,2990.00,230.00,SUMMER COLLEGE INTERN,0.00,91.00,MANHATTAN,1

In [125]:
get_data_set(per_hour_result, 'name_count', 250, 'first_name', 'base_salary')

             base_salary
first_name
JOSEPH       9638.698967
THOMAS       7811.980393
JOHN         7193.965726
ROBERT       7138.680288
JAMES        7103.392944
KEVIN        6040.046527
RICHARD      5382.235753
MICHAEL      4912.479884
WILLIAM      4873.160264
CHRISTOPHER  4422.962254
DANIEL       3845.982588
ANTHONY      3818.927042
JOSE         2885.726957
DAVID        2859.772171
SANDRA        365.442615
SUSAN         337.681724
KAREN         331.037209
LISA          310.045337
NANCY          18.194253
JENNIFER       17.622982
JESSICA        17.170035
ELIZABETH      17.054989
NICOLE         15.556423
ANGELA         15.510000
MARIA          14.912912
STEPHANIE      14.155954
ANA            13.906865
MICHELLE       13.166537
MARY           13.065664
DIANE          12.954331
ROSA           12.753793
DONNA          12.583221
DEBORAH        12.041939
CARMEN         11.940197
LINDA          11.878212
PATRICIA       11.379111
BARBARA        11.371897
JACQUELINE     10.940403
DENISE         10.825642
SHARON         10.641242
GLORIA          8.961609

In [126]:
per_hour_active = filter_column_by_value(yearly_result, 'leave_status_as_of_july_31', 'ACTIVE')

In [127]:
per_hour_active

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
188,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,43807.0,ADE-BAYO,2019,ADEYEMO,ACTIVE,NaN,17.00,per Annum,67,1680.27,125.72,CUSTODIAN,0.00,40.20,MANHATTAN
212,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,62834.0,TERRANCE,2019,RATLIFF,ACTIVE,D,5.25,per Annum,67,2410.07,110.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,0.00,MANHATTAN
232,ADMIN FOR CHILDREN'S SVCS,2019-06-17T00:00:00.000,145000.0,YURIJ,2019,PAWLUK,ACTIVE,O,0.00,per Annum,67,2780.82,75.00,EXECUTIVE AGENCY COUNSEL,0.00,0.00,MANHATTAN
243,ADMIN FOR CHILDREN'S SVCS,2019-04-15T00:00:00.000,40275.0,ANDRE,2019,GRUBBS,ACTIVE,NaN,0.00,per Annum,67,3089.58,140.00,CASEWORKER,0.00,0.00,BRONX
247,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHRISTOPHER,2019,ESCOBAR,ACTIVE,C,0.00,per Annum,67,3201.09,227.00,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BROOKLYN
248,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,32426.0,JOHNNY,2019,AYALA JR,ACTIVE,NaN,2.00,per Annum,67,3108.57,231.63,SPECIAL OFFICER,46.59,62.12,BROOKLYN
257,ADMIN FOR CHILDREN'S SVCS,2019-06-03T00:00:00.000,61280.0,ANDREA,2019,PURVIS,ACTIVE,L,0.00,per Annum,67,3525.70,145.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN
258,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERMANN,2019,TOUVOLI,ACTIVE,F,0.00,per Annum,67,3537.84,210.92,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BRONX
259,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JERMAINE,2019,TROTMAN,ACTIVE,J,0.00,per Annum,67,3554.07,185.92,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
261,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHAD,2019,SCOTT,ACTIVE,H,0.00,per Annum,67,3547.57,183.17,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
263,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAVID,2019,DANIEL,ACTIVE,E,0.00,per Annum,67,3715.96,180.37,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
267,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,RAMEL,2019,WILLIAMSON,ACTIVE,T,0.00,per Annum,67,3754.91,192.17,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN
333,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERNAN,2019,CASTILLO,ACTIVE,N,0.00,per Annum,67,3887.57,194.52,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
335,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EDGAR,2019,NORALES OLIVA,ACTIVE,A,0.00,per Annum,67,3907.05,199.57,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
336,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CARL,2019,MARCUS,ACTIVE,A,0.00,per Annum,67,3907.05,200.50,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN
337,ADMIN FOR CHILDREN'S SVCS,2019-05-13T00:00:00.000,32426.0,VINCENT,2019,FOX,ACTIVE,B,0.00,per Annum,67,3731.22,285.72,SPECIAL OFFICER,0.00,225.17,BRONX
338,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,GABRIEL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Annum,67,3949.65,197.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
340,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JASON,2019,COLLINS,ACTIVE,M,0.00,per Annum,67,3980.08,203.43,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
342,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAQUAN,2019,SEYMOUR,ACTIVE,A,0.00,per Annum,67,4010.52,204.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
344,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CONSTANTIN,2019,JEAN PIERRE,ACTIVE,NaN,0.00,per Annum,67,4016.60,203.42,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
345,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MIGUEL,2019,WRIGHT,ACTIVE,NaN,0.00,per Annum,67,4066.51,198.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
346,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,TORISHEJU,2019,WILKIE,ACTIVE,M,0.00,per Annum,67,4063.26,206.33,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
348,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KALVIN,2019,CONTRERAS,ACTIVE,L,0.00,per Annum,67,4073.80,205.47,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
351,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ISIAH,2019,ABNEY,ACTIVE,A,0.00,per Annum,67,4163.06,207.95,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
353,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DESTEN,2019,LEVANT,ACTIVE,B,0.00,per Annum,67,4193.49,204.68,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
354,ADMIN FOR CHILDREN'S SVCS,2019-05-19T00:00:00.000,44426.0,DAVON,2019,REEVES,ACTIVE,C,0.00,per Annum,67,4205.26,207.78,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
355,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,110000.0,SAMANTHA,2019,FRIED,ACTIVE,A,0.00,per Annum,67,4219.18,110.00,DIRECTOR OF FIELD OPERATIONS,0.00,0.00,MANHATTAN
356,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,WRICKFORD,2019,DALGETTY,ACTIVE,A,0.00,per Annum,67,4202.42,205.83,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
357,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ABU,2019,SWARAY,ACTIVE,NaN,0.00,per Annum,67,4218.24,211.62,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
358,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,BERNARD,2019,CHERRY II,ACTIVE,C,0.00,per Annum,67,4218.63,211.28,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
359,ADMIN FOR CHILDREN'S SVCS,2019-05-28T00:00:00.000,55000.0,ANTHONY,2019,NIXON JR,ACTIVE,E,9.00,per Annum,67,4189.01,179.00,COMMUNITY COORDINATOR,30.10,8.25,BRONX
361,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MALCOLM,2019,LAWRENCE,ACTIVE,E,0.00,per Annum,67,4243.40,208.42,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
362,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KOJO,2019,TAWIAH,ACTIVE,E,0.00,per Annum,67,4248.26,213.60,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
363,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,BENVONTAY,2019,FOGLER,ACTIVE,H,0.00,per Annum,67,4251.91,214.00,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
364,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DANIEL,2019,LANYAN,ACTIVE,K,0.00,per Annum,67,4256.78,213.12,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BRONX
365,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DEVANTE,2019,LETFORD JR,ACTIVE,R,0.00,per Annum,67,4257.19,214.30,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BRONX
366,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DANIEL,2019,HOPE,ACTIVE,D,0.00,per Annum,67,4260.03,213.25,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
367,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MICHAEL,2019,BRAITHWAITE,ACTIVE,S,0.00,per Annum,67,4260.03,214.62,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
368,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EMMANUEL,2019,OMAMOJASA,ACTIVE,D,0.00,per Annum,67,4247.05,213.88,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
369,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CRAIG,2019,FINLAY,ACTIVE,H,0.00,per Annum,67,4249.89,206.92,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
370,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JAVON,2019,LLEWELLYN,ACTIVE,A,0.00,per Annum,67,4250.29,214.27,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
373,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,PAUL,2019,SMITH,ACTIVE,S,0.00,per Annum,67,4257.19,214.30,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
374,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ANTHONY,2019,WILLIAMS,ACTIVE,L,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
375,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EDWIN,2019,TRINIDAD,ACTIVE,J,0.00,per Annum,67,4260.03,214.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
376,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ANTHONY,2019,ROQUE,ACTIVE,NaN,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
377,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,SHENIQUA,2019,FERGUSON,ACTIVE,K,0.00,per Annum,67,4260.03,207.75,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
378,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,SEAN,2019,BOEHM,ACTIVE,NaN,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
379,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DENTON,2019,BLACK,ACTIVE,E,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
380,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KALIF,2019,AUSBY,ACTIVE,S,0.00,per Annum,67,4260.03,207.75,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN
382,ADMIN FOR CHILDREN'S SVCS,2019-05-19T00:00:00.000,44426.0,ANTHONY,2019,PLACIDE JR,ACTIVE,NaN,0.00,per Annum,67,4253.94,214.42,YOUTH DEVELOPMENT SPECIALIST,0.00,38.31,BROOKLYN
386,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,32426.0,EDWIN,2019,RODRIGUEZ,ACTIVE,M,0.00,per Annum,67,4210.59,316.55,SPECIAL OFFICER,0.00,163.05,BROOKLYN
389,ADMIN FOR CHILDREN'S SVCS,2019-05-28T00:00:00.000,61280.0,FRENCHY,2019,SCHAFFER,ACTIVE,NaN,0.00,per Annum,67,4465.87,173.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN
393,ADMIN FOR CHILDREN'S SVCS,2008-03-17T00:00:00.000,57070.0,JENINE,2019,KISHUN,ACTIVE,NaN,0.00,per Annum,67,4377.98,180.00,CHILD PROTECTIVE SPECIALIST,0.00,197.57,QUEENS
401,ADMIN FOR CHILDREN'S SVCS,2019-05-13T00:00:00.000,41172.0,CORNELIA,2019,ROSE,ACTIVE,J,0.00,per Annum,67,4737.60,250.00,CLERICAL ASSOCIATE,0.00,8.25,BROOKLYN
404,ADMIN FOR CHILDREN'S SVCS,2019-07-01T00:00:00.000,15.5,PANNA,2019,HUSSAIN,ACTIVE,B,0.00,per Hour,67,4696.50,234.00,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN
409,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,50763.0,LAVERN,2019,SIMPSON-JOSIAH,ACTIVE,A,0.00,per Annum,67,4867.68,215.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,0.00,BRONX
412,ADMIN FOR CHILDREN'S SVCS,2019-05-28T00:00:00.000,64863.0,YUK,2019,CHIN,ACTIVE,H,0.00,per Annum,67,4727.14,197.72,PROTECTION AGENT,0.00,248.50,MANHATTAN
421,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,41000.0,CHRISTEL,2019,BUTLER,ACTIVE,D,16.75,per Annum,67,4875.06,257.00,CONGREG CARE SPEC - ACS,196.92,158.41,MANHATTAN
424,ADMIN FOR CHILDREN'S SVCS,2019-05-03T00:00:00.000,60403.0,STEPHAN,2019,SIMMONS,ACTIVE,A,0.00,per Annum,67,5328.71,185.75,COMMUNITY COORDINATOR,0.00,0.00,BRONX
430,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,JAMEL,2019,GREEN,ACTIVE,R,10.00,per Annum,67,5427.66,268.27,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN
498,ADMIN FOR CHILDREN'S SVCS,2006-12-11T00:00:00.000,57070.0,BRENDA,2019,MAYO,ACTIVE,A,0.00,per Annum,67,1094.49,75.00,CHILD PROTECTIVE SPECIALIST,0.00,66.30,MANHATTAN
520,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,40275.0,LAQUANDA,2019,FRASIER,ACTIVE,NaN,8.75,per Annum,67,5362.62,283.00,CASEWORKER,110.22,13.16,BRONX
529,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SHEILA,2019,KEARNEY,ACTIVE,L,0.00,per Annum,67,7560.60,319.33,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
530,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,YADIRA,2019,DIAZ,ACTIVE,A,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
531,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,ROBERT,2019,CONTRERAS,ACTIVE,NaN,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
533,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,78763.0,EBONIE,2019,BRANCH,ACTIVE,S,0.00,per Annum,67,7552.62,215.00,CHILD WELFARE SPECIALIST SUPERVISOR,0.00,8.25,BRONX
534,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,SEVON,2019,PARKER,ACTIVE,N,6.00,per Annum,67,7491.56,347.75,YOUTH DEVELOPMENT SPECIALIST,48.63,23.70,BROOKLYN
535,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,REGINE,2019,THOMAS,ACTIVE,C,0.00,per Annum,67,7557.45,319.88,CHILD PROTECTIVE SPECIALIST,0.00,8.25,RICHMOND
536,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,LOIDA,2019,REYES,ACTIVE,NaN,7.00,per Annum,67,7371.58,313.00,CHILD PROTECTIVE SPECIALIST,195.55,0.00,BROOKLYN
537,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SIMONE,2019,PRIVOTT,ACTIVE,A,9.50,per Annum,67,7371.58,313.00,CHILD PROTECTIVE SPECIALIST,195.56,0.00,MANHATTAN
538,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,AIESHATOU,2019,DIALLO,ACTIVE,B,1.75,per Annum,67,7472.89,346.98,YOUTH DEVELOPMENT SPECIALIST,0.00,94.80,BRONX
539,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,TIARRA,2019,CLARK,ACTIVE,M,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,8.25,MANHATTAN
541,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,ASHLEY,2019,RODRIGUEZ,ACTIVE,S,0.00,per Annum,67,7553.85,319.75,CHILD PROTECTIVE SPECIALIST,0.00,16.50,BRONX
542,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,IRIANNA,2019,MA,ACTIVE,NaN,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,16.50,RICHMOND
543,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,JULIANNA,2019,COCA,ACTIVE,M,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,16.50,RICHMOND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31202,TEACHERS RETIREMENT SYSTEM,2000-05-22T00:00:00.000,68380.0,KEITHA,2019,HART,ACTIVE,NaN,0.00,per Annum,41,68852.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8722.82,MANHATTAN
31203,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,66109.0,PETER,2019,NG,ACTIVE,NaN,44.75,per Annum,41,66494.74,1825.00,BOOKKEEPER,1609.47,9484.73,MANHATTAN
31204,TEACHERS RETIREMENT SYSTEM,2013-09-22T00:00:00.000,72086.0,LORRAINE,2019,GRAY,ACTIVE,M,70.25,per Annum,41,72506.12,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3201.35,2192.52,MANHATTAN
31205,TEACHERS RETIREMENT SYSTEM,2002-07-08T00:00:00.000,74457.0,DARA,2019,PINNES,ACTIVE,E,52.00,per Annum,41,73891.89,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,2093.01,2047.99,MANHATTAN
31206,TEACHERS RETIREMENT SYSTEM,2001-01-02T00:00:00.000,68631.0,SOHIR,2019,FAHMY,ACTIVE,NaN,0.00,per Annum,41,69072.25,1825.00,INVESTMENT ANALYST,0.00,9840.26,MANHATTAN
31207,TEACHERS RETIREMENT SYSTEM,2002-11-04T00:00:00.000,69975.0,SHELLEY,2019,BUTTS,ACTIVE,NaN,0.00,per Annum,41,70450.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,6.37,8548.53,MANHATTAN
31208,TEACHERS RETIREMENT SYSTEM,2001-06-04T00:00:00.000,78589.0,CHRISTINA,2019,PEREZ,ACTIVE,NaN,0.00,per Annum,41,79064.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31209,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,75895.0,DAVID,2019,YERUSHALMI,ACTIVE,NaN,9.00,per Annum,41,75687.04,1825.00,ASSOCIATE STAFF ANALYST,588.11,3927.51,MANHATTAN
31210,TEACHERS RETIREMENT SYSTEM,2005-01-03T00:00:00.000,79854.0,DEBRA,2019,ROBINSON,ACTIVE,L,0.00,per Annum,41,79635.15,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,721.62,MANHATTAN
31211,TEACHERS RETIREMENT SYSTEM,2011-04-18T00:00:00.000,74243.0,DION,2019,MCDONALD,ACTIVE,P,0.00,per Annum,41,74728.80,1825.00,MANAGEMENT AUDITOR,0.00,6160.96,MANHATTAN
31212,TEACHERS RETIREMENT SYSTEM,1998-09-28T00:00:00.000,75863.0,SHOOK,2019,LUONG,ACTIVE,K,0.00,per Annum,41,76346.62,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,4898.01,MANHATTAN
31213,TEACHERS RETIREMENT SYSTEM,2005-05-23T00:00:00.000,75646.0,DANIEL,2019,JOSE JR,ACTIVE,NaN,85.50,per Annum,41,75438.75,1825.00,ASSOCIATE STAFF ANALYST,4087.83,1859.88,MANHATTAN
31214,TEACHERS RETIREMENT SYSTEM,2018-10-29T00:00:00.000,125000.0,JAIMEEN,2019,PATEL,ACTIVE,A,0.00,per Annum,41,81506.84,1230.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN
31215,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,72757.0,YEVGENIYA,2019,VIZENTAL,ACTIVE,NaN,0.00,per Annum,41,73254.82,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN
31216,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,76911.0,TINA,2019,FREEMAN-SMITH,ACTIVE,NaN,0.00,per Annum,41,77400.79,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,4790.76,MANHATTAN
31217,TEACHERS RETIREMENT SYSTEM,2011-09-18T00:00:00.000,83073.0,JOHN,2019,QUADRINO,ACTIVE,E,0.00,per Annum,41,82384.63,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN
31218,TEACHERS RETIREMENT SYSTEM,2005-11-21T00:00:00.000,73877.0,SAMUEL,2019,BASILY,ACTIVE,Y,0.00,per Annum,41,74515.27,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8389.94,MANHATTAN
31219,TEACHERS RETIREMENT SYSTEM,2005-08-22T00:00:00.000,82468.0,LENORA,2019,HINES,ACTIVE,D,0.00,per Annum,41,82242.16,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,832.77,MANHATTAN
31220,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,93178.0,LORNA,2019,DIXON-SAUNDERS,ACTIVE,NaN,0.00,per Annum,41,93742.52,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31221,TEACHERS RETIREMENT SYSTEM,2001-03-26T00:00:00.000,93190.0,MARTIN,2019,TEZEN,ACTIVE,R,0.00,per Annum,41,93754.22,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31222,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,90722.0,RAYMOND,2019,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,41,90473.49,1825.00,ASSOCIATE STAFF ANALYST,0.00,3735.26,MANHATTAN
31223,TEACHERS RETIREMENT SYSTEM,2004-07-19T00:00:00.000,80070.0,DANIEL,2019,FELDMAN,ACTIVE,NaN,152.75,per Annum,41,80536.43,1825.00,COMPUTER ASSOCIATE,8301.28,5391.00,MANHATTAN
31224,TEACHERS RETIREMENT SYSTEM,2008-01-07T00:00:00.000,95952.0,MICHAEL,2019,HENSCHEL,ACTIVE,NaN,0.00,per Annum,41,91897.08,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,2758.62,MANHATTAN
31225,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,94004.0,SILVIA,2019,PORTES,ACTIVE,NaN,0.00,per Annum,41,94573.31,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,521.56,MANHATTAN
31226,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,94767.0,JAMAIRA,2019,SANCHEZ-MORALES,ACTIVE,NaN,0.00,per Annum,41,95341.02,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31227,TEACHERS RETIREMENT SYSTEM,2016-07-04T00:00:00.000,95194.0,PEGGY,2019,TARTT,ACTIVE,A,0.00,per Annum,41,95724.22,1825.00,ADMINISTRATIVE COMMUNITY RELATIONS SPECIALIST,0.00,0.00,MANHATTAN
31228,TEACHERS RETIREMENT SYSTEM,1998-01-20T00:00:00.000,95061.0,THERESA,2019,SMITH,ACTIVE,NaN,0.00,per Annum,41,95636.77,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,291.44,MANHATTAN
31229,TEACHERS RETIREMENT SYSTEM,1983-05-31T00:00:00.000,75506.0,ROBERT,2019,FADELICI,ACTIVE,H,255.00,per Annum,41,76019.53,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,11311.82,8726.18,MANHATTAN
31230,TEACHERS RETIREMENT SYSTEM,1998-07-06T00:00:00.000,81774.0,MIGUEL,2019,LEE,ACTIVE,NaN,232.50,per Annum,41,82250.84,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,12919.18,904.02,MANHATTAN
31231,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,90219.0,SIEW LING,2019,CHOW,ACTIVE,NaN,3.00,per Annum,41,90751.47,1825.00,COMPUTER ASSOCIATE,160.28,5922.59,MANHATTAN
31232,TEACHERS RETIREMENT SYSTEM,2003-05-12T00:00:00.000,94498.0,ALONA,2019,KOVARSKAYA,ACTIVE,NaN,0.00,per Annum,41,91431.01,1755.00,COMPUTER SPECIALIST,0.00,5727.95,MANHATTAN
31233,TEACHERS RETIREMENT SYSTEM,2013-04-21T00:00:00.000,91499.0,MAILEN,2019,NUNEZ,ACTIVE,NaN,0.00,per Annum,41,92615.55,1825.00,COMPUTER SPECIALIST,0.00,5199.16,MANHATTAN
31234,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,164641.0,SRINIVASAN,2019,NATARAJAN,ACTIVE,NaN,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31235,TEACHERS RETIREMENT SYSTEM,2003-05-05T00:00:00.000,164641.0,KIRAN,2019,BATHI,ACTIVE,K,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31236,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,165143.0,SATHYA,2019,KRISHNAMURTHY,ACTIVE,NaN,0.00,per Annum,41,166143.42,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31237,TEACHERS RETIREMENT SYSTEM,2003-06-16T00:00:00.000,167960.0,SAIPRASAD,2019,GOTETI,ACTIVE,N,0.00,per Annum,41,168977.45,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN

In [128]:
per_hour_activity = filter_column_by_value(per_hour_active, 'pay_basis', 'Hour')

In [129]:
per_hour_activity

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
404,ADMIN FOR CHILDREN'S SVCS,2019-07-01T00:00:00.000,15.50,PANNA,2019,HUSSAIN,ACTIVE,B,0.00,per Hour,67,4696.50,234.00,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN
830,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,THOMAS,2019,IOANNOU,ACTIVE,S,0.00,per Hour,67,5997.27,292.45,MAINTENANCE WORKER,0.00,317.17,BROOKLYN
831,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,STEPHEN,2019,WILKINSON,ACTIVE,W,0.00,per Hour,67,5998.65,292.50,MAINTENANCE WORKER,0.00,321.11,BROOKLYN
875,ADMIN FOR CHILDREN'S SVCS,2019-06-24T00:00:00.000,15.50,MECCA,2019,SNIPE,ACTIVE,E,0.00,per Hour,67,7119.01,266.00,SUMMER COLLEGE INTERN,0.00,166.11,BROOKLYN
1714,ADMIN FOR CHILDREN'S SVCS,2018-12-17T00:00:00.000,19.00,SHANIA,2019,ISHMAEL,ACTIVE,S,51.25,per Hour,67,26796.99,1600.02,COMMUNITY ASSISTANT,912.00,232.21,MANHATTAN
1800,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,20.45,BRANDON,2019,GONZALEZ,ACTIVE,L,0.00,per Hour,67,32073.08,1666.00,COMMUNITY ASSISTANT,0.00,108.50,MANHATTAN
1861,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,29.00,SHAHIDA,2019,ABDUL-SALAM,ACTIVE,NaN,0.00,per Hour,67,33993.65,1529.00,COMMUNITY COORDINATOR,0.00,108.50,MANHATTAN
1902,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,28.81,REGINALD,2019,DICKEY,ACTIVE,NaN,0.00,per Hour,67,18762.46,608.15,CHILDREN'S COUNSELOR,0.00,1273.55,MANHATTAN
2165,ADMIN FOR CHILDREN'S SVCS,1998-07-27T00:00:00.000,28.74,FRANCINE,2019,MCINTYRE,ACTIVE,NaN,0.00,per Hour,67,49516.78,1702.23,CHILDREN'S COUNSELOR,13.48,2265.44,MANHATTAN
2718,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.74,LASHAWN,2019,MOODY,ACTIVE,NaN,19.75,per Hour,67,47882.65,1650.97,CHILDREN'S COUNSELOR,495.79,2322.05,BROOKLYN
3942,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,25.36,JENKINS,2019,EKPO,ACTIVE,NaN,570.50,per Hour,67,44408.18,1751.68,CHILDREN'S COUNSELOR,19738.42,1036.99,MANHATTAN
4864,ADMIN FOR CHILDREN'S SVCS,2007-09-10T00:00:00.000,39.40,ROSSELLA,2019,PETRONE,ACTIVE,L,4.50,per Hour,67,66176.84,1722.00,COMMUNITY COORDINATOR,177.30,463.95,MANHATTAN
8099,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,35.19,EVGUENI,2019,GALINSKI,ACTIVE,NaN,1610.00,per Hour,67,72045.84,2020.00,CITY LABORER,85837.29,5214.26,MANHATTAN
8566,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,170.00,MARTIN,2019,IRWIN,ACTIVE,A,0.00,per Hour,67,180372.68,1237.00,CITY MEDICAL DIRECTOR,0.00,0.00,MANHATTAN
44654,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MICHAEL,2019,AMMIRATO,ACTIVE,NaN,0.00,per Hour,820,511.58,9.50,HEARING OFFICER,0.00,0.00,BRONX
44661,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,54.93,JOHN,2019,LANGELL,ACTIVE,R,0.00,per Hour,820,1278.94,23.75,HEARING OFFICER,0.00,0.00,BRONX
44665,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,ROBERTO,2019,ENGLISH,ACTIVE,B,0.00,per Hour,820,13402.78,287.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44666,ADMIN TRIALS AND HEARINGS,2018-07-31T00:00:00.000,18.03,ASIA,2019,KENNEDY,ACTIVE,C,0.00,per Hour,820,13745.37,973.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44670,ADMIN TRIALS AND HEARINGS,2018-12-10T00:00:00.000,15.67,MONIQUE,2019,HARRIS,ACTIVE,S,0.00,per Hour,820,14076.10,967.83,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44671,ADMIN TRIALS AND HEARINGS,2018-09-17T00:00:00.000,15.67,DESHON,2019,TOPPING,ACTIVE,K,0.00,per Hour,820,14237.68,979.65,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44674,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,FRAN,2019,CARROLL,ACTIVE,NaN,0.00,per Hour,820,14499.13,257.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44676,ADMIN TRIALS AND HEARINGS,2019-02-04T00:00:00.000,23.43,THOMAS,2019,KURIAN,ACTIVE,NaN,0.00,per Hour,820,15065.49,713.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN
44677,ADMIN TRIALS AND HEARINGS,2018-05-21T00:00:00.000,15.75,BRIANNA,2019,SHIPP,ACTIVE,P,0.00,per Hour,820,15236.75,1063.75,COLLEGE AIDE,0.00,0.00,RICHMOND
44678,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,EVI,2019,IGLAUER,ACTIVE,NaN,0.00,per Hour,820,15253.12,252.50,HEARING OFFICER,0.00,0.00,MANHATTAN
44679,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JACQUELYN,2019,KAMIN,ACTIVE,A,0.00,per Hour,820,15457.46,276.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44680,ADMIN TRIALS AND HEARINGS,2012-09-19T00:00:00.000,54.93,JANET,2019,WINTER,ACTIVE,NaN,0.00,per Hour,820,15518.00,292.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44684,ADMIN TRIALS AND HEARINGS,2015-06-01T00:00:00.000,54.93,STEVEN,2019,BIRO,ACTIVE,G,0.00,per Hour,820,16428.75,275.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44685,ADMIN TRIALS AND HEARINGS,2016-03-14T00:00:00.000,18.03,TYRONE,2019,BRITTON,ACTIVE,NaN,0.00,per Hour,820,16751.93,885.23,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44686,ADMIN TRIALS AND HEARINGS,2017-09-05T00:00:00.000,15.75,ISAAC,2019,LEWIS,ACTIVE,I,0.00,per Hour,820,17318.34,1144.50,COLLEGE AIDE,0.00,0.00,MANHATTAN
44687,ADMIN TRIALS AND HEARINGS,2018-02-26T00:00:00.000,18.03,DIANE,2019,WILLIAMS,ACTIVE,A,0.00,per Hour,820,17370.51,960.93,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS
44688,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,RICHARD,2019,WEIL,ACTIVE,S,0.00,per Hour,820,17522.95,380.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44689,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,CORNELIUS,2019,OJINNAKA,ACTIVE,C,0.00,per Hour,820,17850.08,329.75,HEARING OFFICER,0.00,0.00,BRONX
44690,ADMIN TRIALS AND HEARINGS,2018-10-22T00:00:00.000,15.67,ALLISON,2019,LIN,ACTIVE,NaN,0.00,per Hour,820,17873.99,1210.65,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS
44691,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,PATRICIA,2019,STERN,ACTIVE,G,0.00,per Hour,820,17929.02,355.50,HEARING OFFICER,0.00,0.00,BRONX
44692,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,CATHRYN,2019,COHEN,ACTIVE,A,0.00,per Hour,820,18123.00,334.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44694,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,SHARIFA,2019,NASSER,ACTIVE,M,0.00,per Hour,820,18222.49,389.00,HEARING OFFICER,0.00,0.00,QUEENS
44696,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JOANN,2019,RUGGIERO,ACTIVE,M,0.00,per Hour,820,18381.82,338.50,HEARING OFFICER,0.00,0.00,MANHATTAN
44699,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,54.93,JANET,2019,GAWTHROP,ACTIVE,L,0.00,per Hour,820,18602.80,380.25,HEARING OFFICER,0.00,0.00,BROOKLYN
44700,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,JOHANNA,2019,STERBIN,ACTIVE,E,0.00,per Hour,820,18862.48,350.00,HEARING OFFICER,0.00,0.00,MANHATTAN
44702,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,TAMARA,2019,JORDAN,ACTIVE,I,0.00,per Hour,820,19043.03,350.00,HEARING OFFICER,0.00,0.00,QUEENS
44703,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,SHEILA,2019,ROSSI,ACTIVE,M,0.00,per Hour,820,19145.06,366.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44704,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,ZALIKA,2019,HEADLEY,ACTIVE,M,0.00,per Hour,820,19226.99,337.50,HEARING OFFICER,0.00,0.00,BROOKLYN
44705,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ROBERT,2019,WEINGARTEN,ACTIVE,NaN,0.00,per Hour,820,19440.98,356.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44707,ADMIN TRIALS AND HEARINGS,2019-01-28T00:00:00.000,50.94,STEPHANIE,2019,SETO,ACTIVE,C,0.00,per Hour,820,19700.36,437.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44708,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,ANNEMARIE,2019,MCAVOY,ACTIVE,NaN,0.00,per Hour,820,19713.25,384.50,HEARING OFFICER,0.00,0.00,QUEENS
44709,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ARTHUR,2019,KEGELMAN,ACTIVE,S,0.00,per Hour,820,19725.66,365.75,HEARING OFFICER,0.00,0.00,MANHATTAN
44711,ADMIN TRIALS AND HEARINGS,2018-11-26T00:00:00.000,20.37,MICHELLE,2019,WILLIAMS,ACTIVE,NaN,0.00,per Hour,820,19962.60,1050.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN
44714,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,RHEA,2019,FRIEDMAN,ACTIVE,S,0.00,per Hour,820,21029.16,420.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44715,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,DAWN,2019,BAKER MILLER,ACTIVE,NaN,0.00,per Hour,820,21102.21,390.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44716,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,HOWARD,2019,GRAUBARD,ACTIVE,J,0.00,per Hour,820,21118.40,427.25,HEARING OFFICER,0.00,0.00,QUEENS
44717,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,KATIE,2019,GIUSTI,ACTIVE,E,0.00,per Hour,820,21146.38,448.75,HEARING OFFICER,0.00,0.00,QUEENS
44720,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,MICHAEL,2019,PONTONE,ACTIVE,J,0.00,per Hour,820,21417.31,418.25,HEARING OFFICER,0.00,0.00,BROOKLYN
44721,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,KARIN,2019,BASSETTI,ACTIVE,NaN,0.00,per Hour,820,21471.00,380.50,HEARING OFFICER,0.00,0.00,QUEENS
44722,ADMIN TRIALS AND HEARINGS,2012-01-23T00:00:00.000,54.93,THOMAS,2019,TUFFEY,ACTIVE,V,0.00,per Hour,820,21521.33,398.25,HEARING OFFICER,0.00,0.00,QUEENS
44723,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,54.93,CAMY,2019,RAMJIT,ACTIVE,T,0.00,per Hour,820,21797.36,410.25,HEARING OFFICER,0.00,0.00,QUEENS
44724,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,SHARYN,2019,FINKELSTEIN,ACTIVE,NaN,0.00,per Hour,820,21927.39,411.50,HEARING OFFICER,0.00,0.00,BROOKLYN
44726,ADMIN TRIALS AND HEARINGS,2012-05-21T00:00:00.000,54.93,JULIUS,2019,DIFIORE,ACTIVE,C,0.00,per Hour,820,22346.39,398.00,HEARING OFFICER,0.00,0.00,BRONX
44727,ADMIN TRIALS AND HEARINGS,2013-10-21T00:00:00.000,54.93,REBECCA,2019,MORROW,ACTIVE,O,0.00,per Hour,820,22415.11,383.25,HEARING OFFICER,0.00,0.00,QUEENS
44728,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MALCOLM,2019,SPECTOR,ACTIVE,B,0.00,per Hour,820,22666.46,415.75,HEARING OFFICER,0.00,0.00,BRONX
44729,ADMIN TRIALS AND HEARINGS,2018-08-20T00:00:00.000,15.67,SANDY,2019,ALONSO,ACTIVE,NaN,0.00,per Hour,820,22713.03,1523.25,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN
44730,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,MICHAEL,2019,BRADLEY,ACTIVE,D,0.00,per Hour,820,22887.88,478.00,HEARING OFFICER,0.00,0.00,MANHATTAN
44731,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,SOFIA,2019,BALILE,ACTIVE,NaN,0.00,per Hour,820,23385.32,438.75,HEARING OFFICER,0.00,0.00,BROOKLYN
44732,ADMIN TRIALS AND HEARINGS,2016-01-25T00:00:00.000,54.93,ALEXANDRIA,2019,LIPTON,ACTIVE,NaN,0.00,per Hour,820,23784.73,450.00,HEARING OFFICER,0.00,0.00,BROOKLYN
44733,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,NATASHA,2019,PIERRE,ACTIVE,NaN,0.00,per Hour,820,23891.34,447.00,HEARING OFFICER,0.00,0.00,BRONX
44734,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,GARY,2019,SHAFFER,ACTIVE,P,0.00,per Hour,820,24022.72,465.25,HEARING OFFICER,0.00,0.00,BROOKLYN
44735,ADMIN TRIALS AND HEARINGS,2016-01-25T00:00:00.000,54.93,IAN-JACK,2019,MILLER,ACTIVE,NaN,0.00,per Hour,820,24188.44,428.00,HEARING OFFICER,0.00,0.00,BROOKLYN
44736,ADMIN TRIALS AND HEARINGS,2015-02-02T00:00:00.000,54.93,DIANNE,2019,MALONE,ACTIVE,E,0.00,per Hour,820,24364.40,441.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44737,ADMIN TRIALS AND HEARINGS,2014-09-08T00:00:00.000,54.93,CHRISTINE,2019,DELINCE,ACTIVE,E,0.00,per Hour,820,24458.03,439.75,HEARING OFFICER,0.00,0.00,QUEENS
44739,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,REGINA,2019,EATON,ACTIVE,M,0.00,per Hour,820,24813.28,524.25,HEARING OFFICER,0.00,0.00,QUEENS
44740,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JUDITH,2019,TWENA,ACTIVE,NaN,0.00,per Hour,820,25032.52,492.50,HEARING OFFICER,0.00,0.00,BROOKLYN
44741,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ALBERT,2019,GHUNNEY,ACTIVE,NaN,0.00,per Hour,820,25041.30,456.75,HEARING OFFICER,0.00,0.00,BRONX
44742,ADMIN TRIALS AND HEARINGS,2019-01-14T00:00:00.000,50.94,ELLEN,2019,AUGUST,ACTIVE,NaN,0.00,per Hour,820,25134.16,538.25,HEARING OFFICER,0.00,0.00,MANHATTAN
44744,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,AKINWALE,2019,AKINREFON,ACTIVE,NaN,0.00,per Hour,820,25232.95,465.00,HEARING OFFICER,0.00,0.00,BRONX
44746,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,RACHEL,2019,AMBATS,ACTIVE,NaN,0.00,per Hour,820,25599.48,534.00,HEARING OFFICER,0.00,0.00,BROOKLYN
44747,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,TORIA,2019,DIXON,ACTIVE,NaN,0.00,per Hour,820,25872.58,482.25,HEARING OFFICER,0.00,0.00,MANHATTAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26629,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,SHAFRIEDA,2019,BRIGGS,ACTIVE,P,0.00,per Hour,156,32030.53,2040.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS
26650,TAXI & LIMOUSINE COMMISSION,2017-03-28T00:00:00.000,17.39,KENNETH,2019,MALDONADO,ACTIVE,B,46.50,per Hour,156,31848.65,2027.50,COMMUNITY ASSISTANT,1112.27,1286.10,QUEENS
26654,TAXI & LIMOUSINE COMMISSION,2017-03-13T00:00:00.000,17.40,RAFAEL,2019,MENDEZ SR,ACTIVE,NaN,26.00,per Hour,156,32413.05,2056.00,COMMUNITY ASSISTANT,681.34,2003.87,QUEENS
26665,TAXI & LIMOUSINE COMMISSION,2017-11-06T00:00:00.000,15.12,ELIJAH,2019,BARBOSA,ACTIVE,NaN,67.00,per Hour,156,31504.72,2088.00,COMMUNITY ASSISTANT,2100.75,2624.77,QUEENS
26671,TAXI & LIMOUSINE COMMISSION,2017-05-08T00:00:00.000,22.23,VINCY,2019,MATHEW,ACTIVE,S,6.50,per Hour,156,34509.53,1743.00,CASHIER,359.08,1534.86,QUEENS
26680,TAXI & LIMOUSINE COMMISSION,2016-05-09T00:00:00.000,17.39,KEVIN,2019,GRINDLEY,ACTIVE,G,46.00,per Hour,156,34858.38,1992.00,COMMUNITY ASSISTANT,880.84,1531.60,QUEENS
26681,TAXI & LIMOUSINE COMMISSION,2017-02-13T00:00:00.000,22.24,LEAHBETH,2019,CARRERO,ACTIVE,E,1.00,per Hour,156,35710.96,1743.00,CASHIER,57.17,1547.07,QUEENS
26684,TAXI & LIMOUSINE COMMISSION,2018-02-12T00:00:00.000,20.37,OLGA,2019,DUKHOVNY,ACTIVE,NaN,10.00,per Hour,156,36980.83,1815.00,COMMUNITY ASSOCIATE,380.82,0.00,QUEENS
26698,TAXI & LIMOUSINE COMMISSION,2016-02-29T00:00:00.000,22.24,ERYKA,2019,MUNIZ,ACTIVE,R,0.00,per Hour,156,38026.43,1684.75,CASHIER,0.00,1729.35,QUEENS
26699,TAXI & LIMOUSINE COMMISSION,2014-02-03T00:00:00.000,17.39,DERRICK,2019,DAVIS,ACTIVE,W,89.25,per Hour,156,34900.27,2000.00,COMMUNITY ASSISTANT,2087.58,2804.80,QUEENS
26708,TAXI & LIMOUSINE COMMISSION,2016-02-22T00:00:00.000,22.24,KHADINE,2019,BISNAUTH,ACTIVE,V,0.00,per Hour,156,39046.25,1743.00,CASHIER,0.00,1775.43,QUEENS
26709,TAXI & LIMOUSINE COMMISSION,2014-01-27T00:00:00.000,23.43,OZANA,2019,GUTIERREZ,ACTIVE,NaN,77.75,per Hour,156,37146.55,1569.75,COMMUNITY ASSOCIATE,2031.61,1876.68,QUEENS
26723,TAXI & LIMOUSINE COMMISSION,2006-05-30T00:00:00.000,23.42,SCOTT,2019,FLOOD,ACTIVE,W,0.00,per Hour,156,40105.27,1701.00,COMMUNITY ASSOCIATE,1.91,2304.70,MANHATTAN
26731,TAXI & LIMOUSINE COMMISSION,2000-05-22T00:00:00.000,25.71,CONSTANCE,2019,WHITEHEAD,ACTIVE,NaN,39.75,per Hour,156,43775.42,1703.25,COMMUNITY ASSOCIATE,1050.94,3257.16,QUEENS
26735,TAXI & LIMOUSINE COMMISSION,2015-12-21T00:00:00.000,25.05,DIONNE,2019,WILLIAMS,ACTIVE,A,46.50,per Hour,156,43746.08,1771.00,OPERATIONS COMMUNICATIONS SPECIALIST,1329.59,3318.80,QUEENS
26740,TAXI & LIMOUSINE COMMISSION,2006-04-25T00:00:00.000,26.47,NORA,2019,MORDUKHAYEVA,ACTIVE,NaN,0.00,per Hour,156,46190.74,1743.00,COMMUNITY ASSOCIATE,0.00,2547.21,MANHATTAN
26746,TAXI & LIMOUSINE COMMISSION,2017-07-31T00:00:00.000,25.25,JORDAN,2019,MAMET,ACTIVE,NaN,0.00,per Hour,156,43623.06,1743.00,COMPUTER AIDE-NON-SPVR,0.00,5241.42,MANHATTAN
26757,TAXI & LIMOUSINE COMMISSION,2013-10-28T00:00:00.000,26.39,SILVANA,2019,MALDONADO,ACTIVE,NaN,70.25,per Hour,156,45559.93,1722.00,COMMUNITY ASSOCIATE,1877.73,2067.98,QUEENS
26761,TAXI & LIMOUSINE COMMISSION,2003-11-17T00:00:00.000,26.82,JOCELYN,2019,COLON,ACTIVE,NaN,0.00,per Hour,156,47100.32,1743.00,COMMUNITY ASSOCIATE,0.00,2580.50,QUEENS
26774,TAXI & LIMOUSINE COMMISSION,2014-01-06T00:00:00.000,27.78,MADONNA,2019,MAJALI,ACTIVE,NaN,0.00,per Hour,156,48690.06,1743.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,2163.56,MANHATTAN
26795,TAXI & LIMOUSINE COMMISSION,1998-09-01T00:00:00.000,26.49,SVETLANA,2019,MUSHYAKHOVA,ACTIVE,NaN,81.25,per Hour,156,46538.22,1743.00,COMMUNITY ASSOCIATE,2307.49,3360.55,QUEENS
26807,TAXI & LIMOUSINE COMMISSION,2001-07-16T00:00:00.000,27.00,SHARON,2019,BROWN,ACTIVE,NaN,2.00,per Hour,156,47341.56,1743.00,CLERICAL ASSOCIATE,74.34,5864.56,QUEENS
26817,TAXI & LIMOUSINE COMMISSION,2014-01-05T00:00:00.000,23.42,YVONNE,2019,JORDAN,ACTIVE,NaN,0.00,per Hour,156,26922.57,1086.50,COMMUNITY ASSOCIATE,0.00,1821.26,QUEENS
26824,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,KIMBERLY,2019,STATEN,ACTIVE,V,0.00,per Hour,156,26965.03,1341.50,OPERATIONS COMMUNICATIONS SPECIALIST,0.00,2402.51,QUEENS
26828,TAXI & LIMOUSINE COMMISSION,2015-10-09T00:00:00.000,17.39,ANASTAISYA,2019,COGGINS,ACTIVE,Y,0.00,per Hour,156,28165.38,1526.50,COMMUNITY ASSISTANT,0.00,1403.05,MANHATTAN
26833,TAXI & LIMOUSINE COMMISSION,2017-05-15T00:00:00.000,20.07,VERONICA,2019,RIOS,ACTIVE,NaN,0.00,per Hour,156,29350.32,1743.00,CLERICAL ASSOCIATE,0.00,1267.10,QUEENS
26837,TAXI & LIMOUSINE COMMISSION,2012-01-23T00:00:00.000,35.58,ANDREA,2019,SOCCI,ACTIVE,M,0.00,per Hour,156,31315.33,986.82,STAFF ANALYST,0.00,16.50,QUEENS
26838,TAXI & LIMOUSINE COMMISSION,2017-10-23T00:00:00.000,15.12,JASON,2019,CARSON,ACTIVE,E,22.25,per Hour,156,30683.85,2016.00,COMMUNITY ASSISTANT,627.75,24.62,MANHATTAN
26839,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,THERESA,2019,WELCH,ACTIVE,E,131.50,per Hour,156,27804.79,1383.47,OPERATIONS COMMUNICATIONS SPECIALIST,2971.37,869.53,QUEENS
26841,TAXI & LIMOUSINE COMMISSION,2018-02-20T00:00:00.000,15.12,ARTHUR,2019,SCOTT,ACTIVE,E,7.00,per Hour,156,31454.41,2080.00,COMMUNITY ASSISTANT,3.59,217.78,QUEENS
26842,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,RASHEEM,2019,JOHNSON,ACTIVE,K,0.00,per Hour,156,31419.55,2000.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS
26845,TAXI & LIMOUSINE COMMISSION,2017-04-17T00:00:00.000,17.40,NEIL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Hour,156,31871.75,2041.00,COMMUNITY ASSISTANT,0.00,381.12,QUEENS
26886,TAXI & LIMOUSINE COMMISSION,2018-06-18T00:00:00.000,50.27,DENNIS,2019,WOLFF,ACTIVE,A,0.00,per Hour,156,86976.18,1741.00,CERTIFIED IT DEVELOPER,0.00,373.39,MANHATTAN
26955,TAXI & LIMOUSINE COMMISSION,2008-09-08T00:00:00.000,24.56,ABIBATA,2019,ZONO,ACTIVE,NaN,0.00,per Hour,156,43110.46,1743.00,COMMUNITY ASSOCIATE,0.00,1911.91,QUEENS
26959,TAXI & LIMOUSINE COMMISSION,2006-11-28T00:00:00.000,23.19,LUISA,2019,CALA,ACTIVE,NaN,25.00,per Hour,156,40724.74,1743.00,CLERICAL ASSOCIATE,611.28,3925.03,QUEENS
26970,TAXI & LIMOUSINE COMMISSION,2000-12-18T00:00:00.000,23.45,GLORIA,2019,RAMOS,ACTIVE,E,60.75,per Hour,156,41193.32,1743.00,COMMUNITY ASSOCIATE,1741.37,3119.52,QUEENS
26978,TAXI & LIMOUSINE COMMISSION,1999-08-09T00:00:00.000,24.48,BARBARA,2019,MILES,ACTIVE,A,11.00,per Hour,156,43003.94,1743.00,COMMUNITY ASSOCIATE,271.52,3199.70,QUEENS
26991,TAXI & LIMOUSINE COMMISSION,2016-01-11T00:00:00.000,26.28,DICKSON,2019,PORRAS,ACTIVE,NaN,71.25,per Hour,156,47046.45,1778.00,COMPUTER AIDE-NON-SPVR,2744.27,13084.73,QUEENS
26992,TAXI & LIMOUSINE COMMISSION,2000-06-05T00:00:00.000,33.60,SHELLITA,2019,MALCOLM,ACTIVE,C,0.00,per Hour,156,58991.17,1743.00,COMMUNITY ASSOCIATE,0.00,3908.64,MANHATTAN
27328,TAXI & LIMOUSINE COMMISSION,2013-01-02T00:00:00.000,23.59,CHRISTOS,2019,HARETOPOULOS,ACTIVE,NaN,38.00,per Hour,156,40845.95,1742.55,SUPERVISOR OF STOCK WORKERS,807.96,1890.64,QUEENS
27329,TAXI & LIMOUSINE COMMISSION,2014-09-02T00:00:00.000,24.08,SABIHA,2019,AFRIN,ACTIVE,NaN,13.25,per Hour,156,41333.33,1740.00,COMMUNITY ASSOCIATE,349.75,1883.23,QUEENS
27332,TAXI & LIMOUSINE COMMISSION,1997-08-04T00:00:00.000,23.48,ANA,2019,BARRETO,ACTIVE,L,0.00,per Hour,156,41216.57,1743.00,COMMUNITY ASSOCIATE,0.00,3121.73,QUEENS
30946,TEACHERS RETIREMENT SYSTEM,2019-06-10T00:00:00.000,17.00,BELLA,2019,NATASHA,ACTIVE,NaN,0.00,per Hour,41,595.00,100.75,SUMMER COLLEGE INTERN,0.00,0.00,MANHATTAN

In [131]:
add_count_of_value(per_hour_activity, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
404,ADMIN FOR CHILDREN'S SVCS,2019-07-01T00:00:00.000,15.50,PANNA,2019,HUSSAIN,ACTIVE,B,0.00,per Hour,67,4696.50,234.00,SUMMER COLLEGE INTERN,0.00,108.50,BROOKLYN,3
830,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,THOMAS,2019,IOANNOU,ACTIVE,S,0.00,per Hour,67,5997.27,292.45,MAINTENANCE WORKER,0.00,317.17,BROOKLYN,246
831,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,27.58,STEPHEN,2019,WILKINSON,ACTIVE,W,0.00,per Hour,67,5998.65,292.50,MAINTENANCE WORKER,0.00,321.11,BROOKLYN,140
875,ADMIN FOR CHILDREN'S SVCS,2019-06-24T00:00:00.000,15.50,MECCA,2019,SNIPE,ACTIVE,E,0.00,per Hour,67,7119.01,266.00,SUMMER COLLEGE INTERN,0.00,166.11,BROOKLYN,5
1714,ADMIN FOR CHILDREN'S SVCS,2018-12-17T00:00:00.000,19.00,SHANIA,2019,ISHMAEL,ACTIVE,S,51.25,per Hour,67,26796.99,1600.02,COMMUNITY ASSISTANT,912.00,232.21,MANHATTAN,9
1800,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,20.45,BRANDON,2019,GONZALEZ,ACTIVE,L,0.00,per Hour,67,32073.08,1666.00,COMMUNITY ASSISTANT,0.00,108.50,MANHATTAN,77
1861,ADMIN FOR CHILDREN'S SVCS,2018-06-04T00:00:00.000,29.00,SHAHIDA,2019,ABDUL-SALAM,ACTIVE,NaN,0.00,per Hour,67,33993.65,1529.00,COMMUNITY COORDINATOR,0.00,108.50,MANHATTAN,9
1902,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,28.81,REGINALD,2019,DICKEY,ACTIVE,NaN,0.00,per Hour,67,18762.46,608.15,CHILDREN'S COUNSELOR,0.00,1273.55,MANHATTAN,41
2165,ADMIN FOR CHILDREN'S SVCS,1998-07-27T00:00:00.000,28.74,FRANCINE,2019,MCINTYRE,ACTIVE,NaN,0.00,per Hour,67,49516.78,1702.23,CHILDREN'S COUNSELOR,13.48,2265.44,MANHATTAN,58
2718,ADMIN FOR CHILDREN'S SVCS,2001-07-30T00:00:00.000,28.74,LASHAWN,2019,MOODY,ACTIVE,NaN,19.75,per Hour,67,47882.65,1650.97,CHILDREN'S COUNSELOR,495.79,2322.05,BROOKLYN,7
3942,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,25.36,JENKINS,2019,EKPO,ACTIVE,NaN,570.50,per Hour,67,44408.18,1751.68,CHILDREN'S COUNSELOR,19738.42,1036.99,MANHATTAN,1
4864,ADMIN FOR CHILDREN'S SVCS,2007-09-10T00:00:00.000,39.40,ROSSELLA,2019,PETRONE,ACTIVE,L,4.50,per Hour,67,66176.84,1722.00,COMMUNITY COORDINATOR,177.30,463.95,MANHATTAN,1
8099,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,35.19,EVGUENI,2019,GALINSKI,ACTIVE,NaN,1610.00,per Hour,67,72045.84,2020.00,CITY LABORER,85837.29,5214.26,MANHATTAN,1
8566,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,170.00,MARTIN,2019,IRWIN,ACTIVE,A,0.00,per Hour,67,180372.68,1237.00,CITY MEDICAL DIRECTOR,0.00,0.00,MANHATTAN,58
44654,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MICHAEL,2019,AMMIRATO,ACTIVE,NaN,0.00,per Hour,820,511.58,9.50,HEARING OFFICER,0.00,0.00,BRONX,695
44661,ADMIN TRIALS AND HEARINGS,2016-06-06T00:00:00.000,54.93,JOHN,2019,LANGELL,ACTIVE,R,0.00,per Hour,820,1278.94,23.75,HEARING OFFICER,0.00,0.00,BRONX,499
44665,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,ROBERTO,2019,ENGLISH,ACTIVE,B,0.00,per Hour,820,13402.78,287.75,HEARING OFFICER,0.00,0.00,MANHATTAN,56
44666,ADMIN TRIALS AND HEARINGS,2018-07-31T00:00:00.000,18.03,ASIA,2019,KENNEDY,ACTIVE,C,0.00,per Hour,820,13745.37,973.00,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,17
44670,ADMIN TRIALS AND HEARINGS,2018-12-10T00:00:00.000,15.67,MONIQUE,2019,HARRIS,ACTIVE,S,0.00,per Hour,820,14076.10,967.83,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,109
44671,ADMIN TRIALS AND HEARINGS,2018-09-17T00:00:00.000,15.67,DESHON,2019,TOPPING,ACTIVE,K,0.00,per Hour,820,14237.68,979.65,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,2
44674,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,FRAN,2019,CARROLL,ACTIVE,NaN,0.00,per Hour,820,14499.13,257.25,HEARING OFFICER,0.00,0.00,MANHATTAN,4
44676,ADMIN TRIALS AND HEARINGS,2019-02-04T00:00:00.000,23.43,THOMAS,2019,KURIAN,ACTIVE,NaN,0.00,per Hour,820,15065.49,713.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN,246
44677,ADMIN TRIALS AND HEARINGS,2018-05-21T00:00:00.000,15.75,BRIANNA,2019,SHIPP,ACTIVE,P,0.00,per Hour,820,15236.75,1063.75,COLLEGE AIDE,0.00,0.00,RICHMOND,41
44678,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,EVI,2019,IGLAUER,ACTIVE,NaN,0.00,per Hour,820,15253.12,252.50,HEARING OFFICER,0.00,0.00,MANHATTAN,1
44679,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JACQUELYN,2019,KAMIN,ACTIVE,A,0.00,per Hour,820,15457.46,276.25,HEARING OFFICER,0.00,0.00,MANHATTAN,20
44680,ADMIN TRIALS AND HEARINGS,2012-09-19T00:00:00.000,54.93,JANET,2019,WINTER,ACTIVE,NaN,0.00,per Hour,820,15518.00,292.75,HEARING OFFICER,0.00,0.00,MANHATTAN,150
44684,ADMIN TRIALS AND HEARINGS,2015-06-01T00:00:00.000,54.93,STEVEN,2019,BIRO,ACTIVE,G,0.00,per Hour,820,16428.75,275.75,HEARING OFFICER,0.00,0.00,MANHATTAN,174
44685,ADMIN TRIALS AND HEARINGS,2016-03-14T00:00:00.000,18.03,TYRONE,2019,BRITTON,ACTIVE,NaN,0.00,per Hour,820,16751.93,885.23,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,58
44686,ADMIN TRIALS AND HEARINGS,2017-09-05T00:00:00.000,15.75,ISAAC,2019,LEWIS,ACTIVE,I,0.00,per Hour,820,17318.34,1144.50,COLLEGE AIDE,0.00,0.00,MANHATTAN,33
44687,ADMIN TRIALS AND HEARINGS,2018-02-26T00:00:00.000,18.03,DIANE,2019,WILLIAMS,ACTIVE,A,0.00,per Hour,820,17370.51,960.93,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS,224
44688,ADMIN TRIALS AND HEARINGS,2019-02-11T00:00:00.000,50.94,RICHARD,2019,WEIL,ACTIVE,S,0.00,per Hour,820,17522.95,380.25,HEARING OFFICER,0.00,0.00,MANHATTAN,283
44689,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,CORNELIUS,2019,OJINNAKA,ACTIVE,C,0.00,per Hour,820,17850.08,329.75,HEARING OFFICER,0.00,0.00,BRONX,8
44690,ADMIN TRIALS AND HEARINGS,2018-10-22T00:00:00.000,15.67,ALLISON,2019,LIN,ACTIVE,NaN,0.00,per Hour,820,17873.99,1210.65,COMMUNITY SERVICE AIDE,0.00,0.00,QUEENS,49
44691,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,PATRICIA,2019,STERN,ACTIVE,G,0.00,per Hour,820,17929.02,355.50,HEARING OFFICER,0.00,0.00,BRONX,504
44692,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,CATHRYN,2019,COHEN,ACTIVE,A,0.00,per Hour,820,18123.00,334.25,HEARING OFFICER,0.00,0.00,MANHATTAN,2
44694,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,SHARIFA,2019,NASSER,ACTIVE,M,0.00,per Hour,820,18222.49,389.00,HEARING OFFICER,0.00,0.00,QUEENS,4
44696,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JOANN,2019,RUGGIERO,ACTIVE,M,0.00,per Hour,820,18381.82,338.50,HEARING OFFICER,0.00,0.00,MANHATTAN,88
44699,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,54.93,JANET,2019,GAWTHROP,ACTIVE,L,0.00,per Hour,820,18602.80,380.25,HEARING OFFICER,0.00,0.00,BROOKLYN,150
44700,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,JOHANNA,2019,STERBIN,ACTIVE,E,0.00,per Hour,820,18862.48,350.00,HEARING OFFICER,0.00,0.00,MANHATTAN,29
44702,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,TAMARA,2019,JORDAN,ACTIVE,I,0.00,per Hour,820,19043.03,350.00,HEARING OFFICER,0.00,0.00,QUEENS,53
44703,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,SHEILA,2019,ROSSI,ACTIVE,M,0.00,per Hour,820,19145.06,366.75,HEARING OFFICER,0.00,0.00,MANHATTAN,131
44704,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,ZALIKA,2019,HEADLEY,ACTIVE,M,0.00,per Hour,820,19226.99,337.50,HEARING OFFICER,0.00,0.00,BROOKLYN,1
44705,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ROBERT,2019,WEINGARTEN,ACTIVE,NaN,0.00,per Hour,820,19440.98,356.25,HEARING OFFICER,0.00,0.00,MANHATTAN,484
44707,ADMIN TRIALS AND HEARINGS,2019-01-28T00:00:00.000,50.94,STEPHANIE,2019,SETO,ACTIVE,C,0.00,per Hour,820,19700.36,437.75,HEARING OFFICER,0.00,0.00,MANHATTAN,216
44708,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,ANNEMARIE,2019,MCAVOY,ACTIVE,NaN,0.00,per Hour,820,19713.25,384.50,HEARING OFFICER,0.00,0.00,QUEENS,8
44709,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ARTHUR,2019,KEGELMAN,ACTIVE,S,0.00,per Hour,820,19725.66,365.75,HEARING OFFICER,0.00,0.00,MANHATTAN,74
44711,ADMIN TRIALS AND HEARINGS,2018-11-26T00:00:00.000,20.37,MICHELLE,2019,WILLIAMS,ACTIVE,NaN,0.00,per Hour,820,19962.60,1050.00,COMMUNITY ASSOCIATE,0.00,0.00,MANHATTAN,328
44714,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,RHEA,2019,FRIEDMAN,ACTIVE,S,0.00,per Hour,820,21029.16,420.25,HEARING OFFICER,0.00,0.00,MANHATTAN,3
44715,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,DAWN,2019,BAKER MILLER,ACTIVE,NaN,0.00,per Hour,820,21102.21,390.25,HEARING OFFICER,0.00,0.00,MANHATTAN,85
44716,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,HOWARD,2019,GRAUBARD,ACTIVE,J,0.00,per Hour,820,21118.40,427.25,HEARING OFFICER,0.00,0.00,QUEENS,58
44717,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,KATIE,2019,GIUSTI,ACTIVE,E,0.00,per Hour,820,21146.38,448.75,HEARING OFFICER,0.00,0.00,QUEENS,12
44720,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,MICHAEL,2019,PONTONE,ACTIVE,J,0.00,per Hour,820,21417.31,418.25,HEARING OFFICER,0.00,0.00,BROOKLYN,695
44721,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,KARIN,2019,BASSETTI,ACTIVE,NaN,0.00,per Hour,820,21471.00,380.50,HEARING OFFICER,0.00,0.00,QUEENS,9
44722,ADMIN TRIALS AND HEARINGS,2012-01-23T00:00:00.000,54.93,THOMAS,2019,TUFFEY,ACTIVE,V,0.00,per Hour,820,21521.33,398.25,HEARING OFFICER,0.00,0.00,QUEENS,246
44723,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,54.93,CAMY,2019,RAMJIT,ACTIVE,T,0.00,per Hour,820,21797.36,410.25,HEARING OFFICER,0.00,0.00,QUEENS,1
44724,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,SHARYN,2019,FINKELSTEIN,ACTIVE,NaN,0.00,per Hour,820,21927.39,411.50,HEARING OFFICER,0.00,0.00,BROOKLYN,4
44726,ADMIN TRIALS AND HEARINGS,2012-05-21T00:00:00.000,54.93,JULIUS,2019,DIFIORE,ACTIVE,C,0.00,per Hour,820,22346.39,398.00,HEARING OFFICER,0.00,0.00,BRONX,17
44727,ADMIN TRIALS AND HEARINGS,2013-10-21T00:00:00.000,54.93,REBECCA,2019,MORROW,ACTIVE,O,0.00,per Hour,820,22415.11,383.25,HEARING OFFICER,0.00,0.00,QUEENS,75
44728,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,MALCOLM,2019,SPECTOR,ACTIVE,B,0.00,per Hour,820,22666.46,415.75,HEARING OFFICER,0.00,0.00,BRONX,22
44729,ADMIN TRIALS AND HEARINGS,2018-08-20T00:00:00.000,15.67,SANDY,2019,ALONSO,ACTIVE,NaN,0.00,per Hour,820,22713.03,1523.25,COMMUNITY SERVICE AIDE,0.00,0.00,MANHATTAN,22
44730,ADMIN TRIALS AND HEARINGS,2018-10-15T00:00:00.000,50.94,MICHAEL,2019,BRADLEY,ACTIVE,D,0.00,per Hour,820,22887.88,478.00,HEARING OFFICER,0.00,0.00,MANHATTAN,695
44731,ADMIN TRIALS AND HEARINGS,2011-07-04T00:00:00.000,54.93,SOFIA,2019,BALILE,ACTIVE,NaN,0.00,per Hour,820,23385.32,438.75,HEARING OFFICER,0.00,0.00,BROOKLYN,17
44732,ADMIN TRIALS AND HEARINGS,2016-01-25T00:00:00.000,54.93,ALEXANDRIA,2019,LIPTON,ACTIVE,NaN,0.00,per Hour,820,23784.73,450.00,HEARING OFFICER,0.00,0.00,BROOKLYN,21
44733,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,NATASHA,2019,PIERRE,ACTIVE,NaN,0.00,per Hour,820,23891.34,447.00,HEARING OFFICER,0.00,0.00,BRONX,63
44734,ADMIN TRIALS AND HEARINGS,2017-10-23T00:00:00.000,50.94,GARY,2019,SHAFFER,ACTIVE,P,0.00,per Hour,820,24022.72,465.25,HEARING OFFICER,0.00,0.00,BROOKLYN,82
44735,ADMIN TRIALS AND HEARINGS,2016-01-25T00:00:00.000,54.93,IAN-JACK,2019,MILLER,ACTIVE,NaN,0.00,per Hour,820,24188.44,428.00,HEARING OFFICER,0.00,0.00,BROOKLYN,1
44736,ADMIN TRIALS AND HEARINGS,2015-02-02T00:00:00.000,54.93,DIANNE,2019,MALONE,ACTIVE,E,0.00,per Hour,820,24364.40,441.25,HEARING OFFICER,0.00,0.00,MANHATTAN,23
44737,ADMIN TRIALS AND HEARINGS,2014-09-08T00:00:00.000,54.93,CHRISTINE,2019,DELINCE,ACTIVE,E,0.00,per Hour,820,24458.03,439.75,HEARING OFFICER,0.00,0.00,QUEENS,187
44739,ADMIN TRIALS AND HEARINGS,2017-03-13T00:00:00.000,50.94,REGINA,2019,EATON,ACTIVE,M,0.00,per Hour,820,24813.28,524.25,HEARING OFFICER,0.00,0.00,QUEENS,92
44740,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,JUDITH,2019,TWENA,ACTIVE,NaN,0.00,per Hour,820,25032.52,492.50,HEARING OFFICER,0.00,0.00,BROOKLYN,138
44741,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,ALBERT,2019,GHUNNEY,ACTIVE,NaN,0.00,per Hour,820,25041.30,456.75,HEARING OFFICER,0.00,0.00,BRONX,55
44742,ADMIN TRIALS AND HEARINGS,2019-01-14T00:00:00.000,50.94,ELLEN,2019,AUGUST,ACTIVE,NaN,0.00,per Hour,820,25134.16,538.25,HEARING OFFICER,0.00,0.00,MANHATTAN,83
44744,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,AKINWALE,2019,AKINREFON,ACTIVE,NaN,0.00,per Hour,820,25232.95,465.00,HEARING OFFICER,0.00,0.00,BRONX,1
44746,ADMIN TRIALS AND HEARINGS,2018-03-12T00:00:00.000,50.94,RACHEL,2019,AMBATS,ACTIVE,NaN,0.00,per Hour,820,25599.48,534.00,HEARING OFFICER,0.00,0.00,BROOKLYN,96
44747,ADMIN TRIALS AND HEARINGS,2010-07-05T00:00:00.000,54.93,TORIA,2019,DIXON,ACTIVE,NaN,0.00,per Hour,820,25872.58,482.25,HEARING OFFICER,0.00,0.00,MANHATTAN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26629,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,SHAFRIEDA,2019,BRIGGS,ACTIVE,P,0.00,per Hour,156,32030.53,2040.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS,1
26650,TAXI & LIMOUSINE COMMISSION,2017-03-28T00:00:00.000,17.39,KENNETH,2019,MALDONADO,ACTIVE,B,46.50,per Hour,156,31848.65,2027.50,COMMUNITY ASSISTANT,1112.27,1286.10,QUEENS,138
26654,TAXI & LIMOUSINE COMMISSION,2017-03-13T00:00:00.000,17.40,RAFAEL,2019,MENDEZ SR,ACTIVE,NaN,26.00,per Hour,156,32413.05,2056.00,COMMUNITY ASSISTANT,681.34,2003.87,QUEENS,69
26665,TAXI & LIMOUSINE COMMISSION,2017-11-06T00:00:00.000,15.12,ELIJAH,2019,BARBOSA,ACTIVE,NaN,67.00,per Hour,156,31504.72,2088.00,COMMUNITY ASSISTANT,2100.75,2624.77,QUEENS,28
26671,TAXI & LIMOUSINE COMMISSION,2017-05-08T00:00:00.000,22.23,VINCY,2019,MATHEW,ACTIVE,S,6.50,per Hour,156,34509.53,1743.00,CASHIER,359.08,1534.86,QUEENS,2
26680,TAXI & LIMOUSINE COMMISSION,2016-05-09T00:00:00.000,17.39,KEVIN,2019,GRINDLEY,ACTIVE,G,46.00,per Hour,156,34858.38,1992.00,COMMUNITY ASSISTANT,880.84,1531.60,QUEENS,246
26681,TAXI & LIMOUSINE COMMISSION,2017-02-13T00:00:00.000,22.24,LEAHBETH,2019,CARRERO,ACTIVE,E,1.00,per Hour,156,35710.96,1743.00,CASHIER,57.17,1547.07,QUEENS,1
26684,TAXI & LIMOUSINE COMMISSION,2018-02-12T00:00:00.000,20.37,OLGA,2019,DUKHOVNY,ACTIVE,NaN,10.00,per Hour,156,36980.83,1815.00,COMMUNITY ASSOCIATE,380.82,0.00,QUEENS,83
26698,TAXI & LIMOUSINE COMMISSION,2016-02-29T00:00:00.000,22.24,ERYKA,2019,MUNIZ,ACTIVE,R,0.00,per Hour,156,38026.43,1684.75,CASHIER,0.00,1729.35,QUEENS,2
26699,TAXI & LIMOUSINE COMMISSION,2014-02-03T00:00:00.000,17.39,DERRICK,2019,DAVIS,ACTIVE,W,89.25,per Hour,156,34900.27,2000.00,COMMUNITY ASSISTANT,2087.58,2804.80,QUEENS,47
26708,TAXI & LIMOUSINE COMMISSION,2016-02-22T00:00:00.000,22.24,KHADINE,2019,BISNAUTH,ACTIVE,V,0.00,per Hour,156,39046.25,1743.00,CASHIER,0.00,1775.43,QUEENS,1
26709,TAXI & LIMOUSINE COMMISSION,2014-01-27T00:00:00.000,23.43,OZANA,2019,GUTIERREZ,ACTIVE,NaN,77.75,per Hour,156,37146.55,1569.75,COMMUNITY ASSOCIATE,2031.61,1876.68,QUEENS,1
26723,TAXI & LIMOUSINE COMMISSION,2006-05-30T00:00:00.000,23.42,SCOTT,2019,FLOOD,ACTIVE,W,0.00,per Hour,156,40105.27,1701.00,COMMUNITY ASSOCIATE,1.91,2304.70,MANHATTAN,45
26731,TAXI & LIMOUSINE COMMISSION,2000-05-22T00:00:00.000,25.71,CONSTANCE,2019,WHITEHEAD,ACTIVE,NaN,39.75,per Hour,156,43775.42,1703.25,COMMUNITY ASSOCIATE,1050.94,3257.16,QUEENS,39
26735,TAXI & LIMOUSINE COMMISSION,2015-12-21T00:00:00.000,25.05,DIONNE,2019,WILLIAMS,ACTIVE,A,46.50,per Hour,156,43746.08,1771.00,OPERATIONS COMMUNICATIONS SPECIALIST,1329.59,3318.80,QUEENS,15
26740,TAXI & LIMOUSINE COMMISSION,2006-04-25T00:00:00.000,26.47,NORA,2019,MORDUKHAYEVA,ACTIVE,NaN,0.00,per Hour,156,46190.74,1743.00,COMMUNITY ASSOCIATE,0.00,2547.21,MANHATTAN,29
26746,TAXI & LIMOUSINE COMMISSION,2017-07-31T00:00:00.000,25.25,JORDAN,2019,MAMET,ACTIVE,NaN,0.00,per Hour,156,43623.06,1743.00,COMPUTER AIDE-NON-SPVR,0.00,5241.42,MANHATTAN,39
26757,TAXI & LIMOUSINE COMMISSION,2013-10-28T00:00:00.000,26.39,SILVANA,2019,MALDONADO,ACTIVE,NaN,70.25,per Hour,156,45559.93,1722.00,COMMUNITY ASSOCIATE,1877.73,2067.98,QUEENS,8
26761,TAXI & LIMOUSINE COMMISSION,2003-11-17T00:00:00.000,26.82,JOCELYN,2019,COLON,ACTIVE,NaN,0.00,per Hour,156,47100.32,1743.00,COMMUNITY ASSOCIATE,0.00,2580.50,QUEENS,26
26774,TAXI & LIMOUSINE COMMISSION,2014-01-06T00:00:00.000,27.78,MADONNA,2019,MAJALI,ACTIVE,NaN,0.00,per Hour,156,48690.06,1743.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,2163.56,MANHATTAN,6
26795,TAXI & LIMOUSINE COMMISSION,1998-09-01T00:00:00.000,26.49,SVETLANA,2019,MUSHYAKHOVA,ACTIVE,NaN,81.25,per Hour,156,46538.22,1743.00,COMMUNITY ASSOCIATE,2307.49,3360.55,QUEENS,18
26807,TAXI & LIMOUSINE COMMISSION,2001-07-16T00:00:00.000,27.00,SHARON,2019,BROWN,ACTIVE,NaN,2.00,per Hour,156,47341.56,1743.00,CLERICAL ASSOCIATE,74.34,5864.56,QUEENS,283
26817,TAXI & LIMOUSINE COMMISSION,2014-01-05T00:00:00.000,23.42,YVONNE,2019,JORDAN,ACTIVE,NaN,0.00,per Hour,156,26922.57,1086.50,COMMUNITY ASSOCIATE,0.00,1821.26,QUEENS,172
26824,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,KIMBERLY,2019,STATEN,ACTIVE,V,0.00,per Hour,156,26965.03,1341.50,OPERATIONS COMMUNICATIONS SPECIALIST,0.00,2402.51,QUEENS,117
26828,TAXI & LIMOUSINE COMMISSION,2015-10-09T00:00:00.000,17.39,ANASTAISYA,2019,COGGINS,ACTIVE,Y,0.00,per Hour,156,28165.38,1526.50,COMMUNITY ASSISTANT,0.00,1403.05,MANHATTAN,1
26833,TAXI & LIMOUSINE COMMISSION,2017-05-15T00:00:00.000,20.07,VERONICA,2019,RIOS,ACTIVE,NaN,0.00,per Hour,156,29350.32,1743.00,CLERICAL ASSOCIATE,0.00,1267.10,QUEENS,126
26837,TAXI & LIMOUSINE COMMISSION,2012-01-23T00:00:00.000,35.58,ANDREA,2019,SOCCI,ACTIVE,M,0.00,per Hour,156,31315.33,986.82,STAFF ANALYST,0.00,16.50,QUEENS,186
26838,TAXI & LIMOUSINE COMMISSION,2017-10-23T00:00:00.000,15.12,JASON,2019,CARSON,ACTIVE,E,22.25,per Hour,156,30683.85,2016.00,COMMUNITY ASSISTANT,627.75,24.62,MANHATTAN,144
26839,TAXI & LIMOUSINE COMMISSION,2018-09-17T00:00:00.000,21.30,THERESA,2019,WELCH,ACTIVE,E,131.50,per Hour,156,27804.79,1383.47,OPERATIONS COMMUNICATIONS SPECIALIST,2971.37,869.53,QUEENS,174
26841,TAXI & LIMOUSINE COMMISSION,2018-02-20T00:00:00.000,15.12,ARTHUR,2019,SCOTT,ACTIVE,E,7.00,per Hour,156,31454.41,2080.00,COMMUNITY ASSISTANT,3.59,217.78,QUEENS,74
26842,TAXI & LIMOUSINE COMMISSION,2017-04-03T00:00:00.000,17.39,RASHEEM,2019,JOHNSON,ACTIVE,K,0.00,per Hour,156,31419.55,2000.00,COMMUNITY ASSISTANT,0.00,381.04,QUEENS,3
26845,TAXI & LIMOUSINE COMMISSION,2017-04-17T00:00:00.000,17.40,NEIL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Hour,156,31871.75,2041.00,COMMUNITY ASSISTANT,0.00,381.12,QUEENS,23
26886,TAXI & LIMOUSINE COMMISSION,2018-06-18T00:00:00.000,50.27,DENNIS,2019,WOLFF,ACTIVE,A,0.00,per Hour,156,86976.18,1741.00,CERTIFIED IT DEVELOPER,0.00,373.39,MANHATTAN,78
26955,TAXI & LIMOUSINE COMMISSION,2008-09-08T00:00:00.000,24.56,ABIBATA,2019,ZONO,ACTIVE,NaN,0.00,per Hour,156,43110.46,1743.00,COMMUNITY ASSOCIATE,0.00,1911.91,QUEENS,1
26959,TAXI & LIMOUSINE COMMISSION,2006-11-28T00:00:00.000,23.19,LUISA,2019,CALA,ACTIVE,NaN,25.00,per Hour,156,40724.74,1743.00,CLERICAL ASSOCIATE,611.28,3925.03,QUEENS,39
26970,TAXI & LIMOUSINE COMMISSION,2000-12-18T00:00:00.000,23.45,GLORIA,2019,RAMOS,ACTIVE,E,60.75,per Hour,156,41193.32,1743.00,COMMUNITY ASSOCIATE,1741.37,3119.52,QUEENS,236
26978,TAXI & LIMOUSINE COMMISSION,1999-08-09T00:00:00.000,24.48,BARBARA,2019,MILES,ACTIVE,A,11.00,per Hour,156,43003.94,1743.00,COMMUNITY ASSOCIATE,271.52,3199.70,QUEENS,369
26991,TAXI & LIMOUSINE COMMISSION,2016-01-11T00:00:00.000,26.28,DICKSON,2019,PORRAS,ACTIVE,NaN,71.25,per Hour,156,47046.45,1778.00,COMPUTER AIDE-NON-SPVR,2744.27,13084.73,QUEENS,2
26992,TAXI & LIMOUSINE COMMISSION,2000-06-05T00:00:00.000,33.60,SHELLITA,2019,MALCOLM,ACTIVE,C,0.00,per Hour,156,58991.17,1743.00,COMMUNITY ASSOCIATE,0.00,3908.64,MANHATTAN,1
27328,TAXI & LIMOUSINE COMMISSION,2013-01-02T00:00:00.000,23.59,CHRISTOS,2019,HARETOPOULOS,ACTIVE,NaN,38.00,per Hour,156,40845.95,1742.55,SUPERVISOR OF STOCK WORKERS,807.96,1890.64,QUEENS,4
27329,TAXI & LIMOUSINE COMMISSION,2014-09-02T00:00:00.000,24.08,SABIHA,2019,AFRIN,ACTIVE,NaN,13.25,per Hour,156,41333.33,1740.00,COMMUNITY ASSOCIATE,349.75,1883.23,QUEENS,3

In [132]:
get_data_set(per_hour_activity, 'name_count', 250, 'first_name', 'base_salary')

              base_salary
first_name
JOSEPH       10082.265201
ROBERT        8277.649256
JAMES         7700.391532
JOHN          7439.458357
RICHARD       6311.004594
MICHAEL       5914.798475
CHRISTOPHER   5663.465776
WILLIAM       5437.544069
ANTHONY       4486.607920
DAVID         3140.213619
JOSE          2988.748990
KAREN          369.946241
SUSAN          368.823144
LISA           364.284217
JENNIFER        17.496645
ELIZABETH       16.656804
MARIA           14.100636
ANGELA          13.714902
MICHELLE        12.449390
MARY            12.242368
CARMEN          11.405839
DEBORAH         11.270301
LINDA           11.005742
BARBARA         10.568699
JACQUELINE      10.251859
PATRICIA        10.222758
SHARON          10.131095
DENISE          10.078310
SANDRA           9.619904

In [133]:
get_data_set(per_hour_activity, 'name_count', 100, 'first_name', 'base_salary')

              base_salary
first_name
PATRICK      15758.065641
FRANK        12766.790219
STEPHEN      11607.536929
VINCENT      11173.457333
JOSEPH       10082.265201
PETER        10024.257394
ROBERT        8277.649256
THOMAS        7828.253862
JAMES         7700.391532
JOHN          7439.458357
CHARLES       7296.885482
STEVEN        6611.069828
KEVIN         6574.064512
RICHARD       6311.004594
BRIAN         6306.511879
ANDREW        5956.398434
MICHAEL       5914.798475
EDWARD        5783.965843
CHRISTOPHER   5663.465776
WILLIAM       5437.544069
GEORGE        5217.681617
NICHOLAS      5090.751525
ERIC          4798.628623
GREGORY       4582.582213
ANTHONY       4486.607920
PAUL          4470.221602
DANIEL        4018.169590
JEFFREY       4009.237368
MATTHEW       3614.860655
DAVID         3140.213619
JOSE          2988.748990
VICTOR        2701.923084
KENNETH       2674.406667
LUIS          2503.017820
MARK          2477.456029
CARLOS        2389.251544
JUAN          2202.082609
JUDITH        1616.517754
JOANNE         939.681182
JOSHUA         890.293868
KATHLEEN       718.485034
THERESA        661.848793
RONALD         624.683750
JASON          523.109861
JONATHAN       463.614051
KAREN          369.946241
SUSAN          368.823144
LISA           364.284217
NANCY           18.102650
SARAH           17.756230
JENNIFER        17.496645
JESSICA         17.400274
MICHELE         17.278333
DANIELLE        17.150000
CHRISTINE       17.091230
ELIZABETH       16.656804
LAURA           16.361813
ANDREA          16.338226
ANNA            16.212849
MELISSA         16.047365
NICOLE          15.513423
JULIA           15.288374
SAMANTHA        14.817870
DIANA           14.399286
TIFFANY         14.350738
AMANDA          14.239043
MARIA           14.100636
ASHLEY          14.081870
CHRISTINA       14.058519
JANET           13.923733
MARTHA          13.837212
KATHERINE       13.786087
ANGELA          13.714902
JEAN            13.556216
CATHERINE       13.441124
DEBRA           13.366102
MONICA          13.321429
SAMUEL          13.235229
STEPHANIE       13.226944
ANA             13.144541
VICTORIA        13.110606
SONIA           12.915890
DIANE           12.501964
LUZ             12.458922
MICHELLE        12.449390
MARY            12.242368
DONNA           12.118792
EVELYN          11.986402
KIMBERLY        11.978205
ANNETTE         11.923077
CYNTHIA         11.880697
ROSA            11.860360
RUTH            11.860000
ROBIN           11.835175
MONIQUE         11.745780
GRACE           11.633333
JOSEPHINE       11.521301
CARMEN          11.405839
CRYSTAL         11.393645
MARIE           11.291963
HELEN           11.291360
DEBORAH         11.270301
YOLANDA         11.083259
MARGARET        11.078877
LINDA           11.005742
KIM             10.902816
CAROL           10.865097
ELAINE          10.703853
SYLVIA          10.662925
BARBARA         10.568699
VANESSA         10.507525
JACQUELINE      10.251859
PATRICIA        10.222758
SHARON          10.131095
CHERYL          10.086948
DENISE          10.078310
JOAN             9.996605
PAMELA           9.962727
VERONICA         9.940873
SANDRA           9.619904
FRANCES          9.507982
LORRAINE         9.424153
WANDA            9.225963
VALERIE          9.142432
MARILYN          8.950866
CAROLYN          8.916056
YVETTE           8.868723
JOYCE            8.461746
GLORIA           8.310169
SHIRLEY          8.231293
YVONNE           7.841802
BRENDA           7.777379
DOROTHY          7.678056
SHEILA           7.468473
BEVERLY          6.378359

In [134]:
get_data_set(updated_active_result, 'name_count', 500, 'first_name', 'base_salary')

              base_salary
first_name
SCOTT        89759.774700
SUSAN        88984.106833
AMY          88498.200340
MARK         88321.657094
JOHN         87016.393392
THOMAS       86514.558075
PAUL         86277.341995
PETER        86218.844710
TIMOTHY      85884.682929
STEPHEN      85840.722045
EDWARD       85666.416322
ROBERT       85573.319946
JAMES        85096.200295
FRANK        84750.462486
RICHARD      84546.388392
KATHLEEN     84334.621861
JEFFREY      84174.400749
WILLIAM      84129.556207
BRIAN        83939.193262
PATRICK      83633.175801
LAURA        83526.259087
KAREN        83393.289768
KEITH        83298.974609
MICHAEL      83298.735022
LISA         83210.703429
KENNETH      83203.978986
MICHELE      83058.526235
JOSEPH       82955.739116
STEVEN       82751.202186
DEBORAH      82718.523573
DAVID        82312.321619
NANCY        82290.784383
CHARLES      82282.931280
DEBRA        82263.291777
BARBARA      82246.662291
VINCENT      82129.341055
GEORGE       82029.354592
ADAM         81764.328240
DIANE        81667.455760
MARY         81646.896185
CHRISTINE    81621.280939
RAYMOND      81492.698214
MARGARET     81452.856678
LAUREN       81090.668383
ERIC         80767.152622
RACHEL       80731.052133
RONALD       80527.745552
DANIEL       80503.956167
PAMELA       80463.032491
CATHERINE    80247.029052
ANDREW       80187.867629
JENNIFER     80132.887913
GREGORY      79963.112102
JACQUELINE   79905.518130
SEAN         79797.916882
KEVIN        79416.339439
MATTHEW      79286.559304
DONNA        79201.427027
ELIZABETH    78830.171083
ANDREA       78825.420986
PATRICIA     78743.019006
KELLY        78246.234568
THERESA      77947.845486
ANNA         77865.654664
JASON        77784.758310
SARAH        77716.046639
EMILY        77193.570058
SHARON       77150.076425
KATHERINE    77109.254573
MICHELLE     77072.682608
CHRISTOPHER  77054.538143
LINDA        77005.182022
DANIELLE     76679.201878
ANTHONY      76664.332391
CYNTHIA      76534.622795
MELISSA      76397.748512
ALEXANDER    76265.944680
CARLOS       76196.109875
DENISE       76097.415902
VALERIE      75770.615079
KIMBERLY     75624.929030
VICTOR       75400.403960
ERICA        75230.512922
SANDRA       75117.603193
DIANA        75048.237101
NICOLE       74769.834911
MARIE        74490.676575
JESSICA      74439.625845
ANGELA       74372.037773
CHRISTINA    73907.487252
VICTORIA     73882.138983
NICHOLAS     73865.411135
MARIA        73653.531821
JOSE         73628.410277
JUAN         73460.462329
JONATHAN     73034.898054
JOSHUA       72955.170052
LUIS         71600.114883
STEPHANIE    70997.148629
RYAN         70423.640788
VANESSA      70326.652516
AMANDA       69808.867178
JUSTIN       68964.475923
SAMANTHA     68624.421265
CARMEN       67625.336842
ANA          67460.268519
TIFFANY      63882.503949
ASHLEY       60889.344262