In [420]:
import pandas as pd

In [421]:
from sodapy import Socrata

In [422]:
client = Socrata("data.cityofnewyork.us", "1vscl5xBtxiCI6ReKRmVwa0zt")

In [423]:
final_results = []
loops = 67 
records = 50000
identified = "k397-673e"
for i in range(loops):
    results = client.get(identified, limit=records, offset=records*i)
    final_results.append(pd.DataFrame(results))

In [424]:
final_results

[      fiscal_year payroll_number                agency_name last_name  \
 0            2019             67  ADMIN FOR CHILDREN'S SVCS   SIMMONS
 1            2019             67  ADMIN FOR CHILDREN'S SVCS  MOHAMMED
 2            2019             67  ADMIN FOR CHILDREN'S SVCS     MCRAE
 3            2019             67  ADMIN FOR CHILDREN'S SVCS     ROZON
 4            2019             67  ADMIN FOR CHILDREN'S SVCS     LOPEZ
 ...           ...            ...                        ...       ...
 49995        2018              3          BOARD OF ELECTION     DRAKE
 49996        2018              3          BOARD OF ELECTION  LANDOLFO
 49997        2018              3          BOARD OF ELECTION    GATTIS
 49998        2018              3          BOARD OF ELECTION    WEAVER
 49999        2018              3          BOARD OF ELECTION  SULLIVAN

       first_name        agency_start_date work_location_borough  \
 0         DONALD  2011-07-04T00:00:00.000             MANHATTAN
 1         KATHIE  2011-10-24T00:00:00.000             MANHATTAN
 2        TANESIA  2017-09-11T00:00:00.000              BROOKLYN
 3       GINNETTE  2017-08-14T00:00:00.000             MANHATTAN
 4         RAFAEL  2012-01-17T00:00:00.000             MANHATTAN
 ...          ...                      ...                   ...
 49995    THERESA  2006-06-11T00:00:00.000             MANHATTAN
 49996    CHARLES  1993-11-10T00:00:00.000             MANHATTAN
 49997       LISA  2011-06-12T00:00:00.000                 BRONX
 49998     RAYVON  2007-12-10T00:00:00.000             MANHATTAN
 49999     GERALD  2013-03-11T00:00:00.000             MANHATTAN

                  title_description leave_status_as_of_july_31 base_salary  \
 0                  SPECIAL OFFICER                     CEASED    43731.00
 1      CHILD PROTECTIVE SPECIALIST                   ON LEAVE    57070.00
 2               CLERICAL ASSOCIATE                     CEASED    31192.00
 3      CHILD PROTECTIVE SPECIALIST                     CEASED    48195.00
 4                 PROTECTION AGENT                     CEASED    63436.00
 ...                            ...                        ...         ...
 49995          PROJECT COORDINATOR                     ACTIVE    89865.00
 49996          PROJECT COORDINATOR                     ACTIVE    97047.00
 49997            TRAINER ASSISTANT                     ACTIVE    54174.00
 49998          PROJECT COORDINATOR                     ACTIVE    89865.00
 49999              FINANCE OFFICER                     ACTIVE   115193.00

        pay_basis regular_hours regular_gross_paid ot_hours total_ot_paid  \
 0      per Annum          0.00               0.00     0.00         -0.31
 1      per Annum          0.00              32.87     0.00          0.00
 2      per Annum          0.00               4.69     0.00          0.00
 3      per Annum          0.00               7.24     0.00          0.00
 4      per Annum          0.00               9.03     0.00          0.00
 ...          ...           ...                ...      ...           ...
 49995  per Annum       1790.00           91628.87   357.75      24076.92
 49996  per Annum       1790.00           96781.10   333.25      24073.71
 49997  per Annum       1790.00           56588.82   564.25      23537.00
 49998  per Annum       1758.00           90969.29   359.00      23433.98
 49999  per Annum       1790.00          117877.36   304.50      23299.95

       total_other_pay mid_init
 0                1.30      NaN
 1              -30.48        S
 2                0.00        M
 3                0.00      NaN
 4                0.00      NaN
 ...               ...      ...
 49995         1234.54        L
 49996         1262.56      NaN
 49997          778.65        R
 49998          587.85      NaN
 49999          134.03      NaN

 [50000 rows x 17 columns],
       fiscal_year payroll_number                     agency_name  \
 0            2019              3               BOARD OF ELECTION
 1            2019              3               BOARD OF ELECTION
 2            2019              3               BOARD OF ELECTION
 3            2019              3               BOARD OF ELECTION
 4            2019              3               BOARD OF ELECTION
 ...           ...            ...                             ...
 49995        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49996        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49997        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49998        2016            NaN  BOARD OF ELECTION POLL WORKERS
 49999        2016            NaN  BOARD OF ELECTION POLL WORKERS

            last_name first_name        agency_start_date  \
 0            SEMIDAY   JONATHAN  2012-09-30T00:00:00.000
 1                DAY     ROBERT  2006-03-12T00:00:00.000
 2      HARPER-CASTLE  CONSTANCE  2010-10-31T00:00:00.000
 3             SLATER     ROBERT  2011-06-19T00:00:00.000
 4           ROBINSON     BLAINE  2014-07-28T00:00:00.000
 ...              ...        ...                      ...
 49995         DUNCAN    CARLENE  2014-01-01T00:00:00.000
 49996         DUNCAN       CORA  2010-01-01T00:00:00.000
 49997         DUNCAN     DASEAN  2015-01-01T00:00:00.000
 49998         DUNCAN      DIANE  2010-01-01T00:00:00.000
 49999         DUNCAN     DIANNA  2010-01-01T00:00:00.000

       work_location_borough  \
 0                 MANHATTAN
 1                 MANHATTAN
 2                 MANHATTAN
 3                  BROOKLYN
 4                  BROOKLYN
 ...                     ...
 49995         MANHATTAN
 49996         MANHATTAN
 49997         MANHATTAN
 49998         MANHATTAN
 49999         MANHATTAN

                                        title_description  \
 0                                      TRAINER ASSISTANT
 1                             SENIOR COMPUTER PROGRAMMER
 2                                      TRAINER ASSISTANT
 3                       SENIOR VOTING MACHINE TECHNICIAN
 4                                      TRAINER ASSISTANT
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE    56500.00  per Annum       1825.00
 1                         ACTIVE    80101.00  per Annum       1825.00
 2                         ACTIVE    56500.00  per Annum       1825.00
 3                         ACTIVE    38463.00  per Annum       1825.00
 4                         ACTIVE    57302.00  per Annum       1825.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay mid_init
 0               57459.52   573.75      24794.39            6.23      NaN
 1               81462.93     0.00          0.00          849.68        J
 2               57459.97   575.25      24409.24          636.26      NaN
 3               46616.70  1156.50      35299.64          760.34        N
 4               58308.62   549.00      24070.66          465.08      NaN
 ...                  ...      ...           ...             ...      ...
 49995             584.97     0.00          0.00            0.00      NaN
 49996             775.00     0.00          0.00            0.00      NaN
 49997             300.00     0.00          0.00            0.00        A
 49998             300.00     0.00          0.00            0.00        L
 49999             300.00     0.00          0.00            0.00        E

 [50000 rows x 17 columns],
       fiscal_year                     agency_name last_name first_name  \
 0            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN  FREDERICK
 1            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN     IVETTE
 2            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN     JEROME
 3            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN      LINDA
 4            2016  BOARD OF ELECTION POLL WORKERS    DUNCAN    PHYLLIS
 ...           ...                             ...       ...        ...
 49995        2015  BOARD OF ELECTION POLL WORKERS   STEWART      JAMES
 49996        2015  BOARD OF ELECTION POLL WORKERS   STEWART     JEROME
 49997        2015  BOARD OF ELECTION POLL WORKERS   STEWART      KISHA
 49998        2015  BOARD OF ELECTION POLL WORKERS   STEWART      LARRY
 49999        2015  BOARD OF ELECTION POLL WORKERS   STEWART       LISA

       mid_init        agency_start_date work_location_borough  \
 0            H  2011-01-01T00:00:00.000         MANHATTAN
 1          NaN  2011-01-01T00:00:00.000         MANHATTAN
 2          NaN  2014-01-01T00:00:00.000         MANHATTAN
 3          NaN  2014-01-01T00:00:00.000         MANHATTAN
 4          NaN  2011-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995      NaN  2010-01-01T00:00:00.000         MANHATTAN
 49996        O  2013-01-01T00:00:00.000         MANHATTAN
 49997      NaN  2014-01-01T00:00:00.000         MANHATTAN
 49998      NaN  2011-01-01T00:00:00.000         MANHATTAN
 49999        F  2010-09-01T00:00:00.000         MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay
 0                 300.00     0.00          0.00            0.00
 1                 300.00     0.00          0.00            0.00
 2                 200.00     0.00          0.00            0.00
 3                 580.00     0.00          0.00            0.00
 4                 300.00     0.00          0.00            0.00
 ...                  ...      ...           ...             ...
 49995             275.00     0.00          0.00            0.00
 49996             460.00     0.00          0.00            0.00
 49997             575.00     0.00          0.00            0.00
 49998             784.00     0.00          0.00            0.00
 49999             575.00     0.00          0.00            0.00

 [50000 rows x 16 columns],
       fiscal_year                     agency_name last_name  first_name  \
 0            2015  BOARD OF ELECTION POLL WORKERS   STEWART       LOETA
 1            2015  BOARD OF ELECTION POLL WORKERS   STEWART    LYNNETTE
 2            2015  BOARD OF ELECTION POLL WORKERS   STEWART    MARGAREE
 3            2015  BOARD OF ELECTION POLL WORKERS   STEWART  MARGUERITE
 4            2015  BOARD OF ELECTION POLL WORKERS   STEWART     MARIEAH
 ...           ...                             ...       ...         ...
 49995        2017  BOARD OF ELECTION POLL WORKERS  GACUSANA     LEONORA
 49996        2017  BOARD OF ELECTION POLL WORKERS    GADDIS       WANDA
 49997        2017  BOARD OF ELECTION POLL WORKERS     GADDY    LYNNETTE
 49998        2017  BOARD OF ELECTION POLL WORKERS     GADDY      MELODY
 49999        2017  BOARD OF ELECTION POLL WORKERS     GADEA    JENNIFER

       mid_init        agency_start_date work_location_borough  \
 0            L  2014-01-01T00:00:00.000         MANHATTAN
 1          NaN  2013-01-01T00:00:00.000         MANHATTAN
 2          NaN  2010-01-01T00:00:00.000         MANHATTAN
 3            A  2010-01-01T00:00:00.000         MANHATTAN
 4            M  2013-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995        G  2010-01-01T00:00:00.000         MANHATTAN
 49996        L  2014-01-01T00:00:00.000         MANHATTAN
 49997      NaN  2010-01-01T00:00:00.000         MANHATTAN
 49998        J  2016-01-01T00:00:00.000         MANHATTAN
 49999        C  2016-01-01T00:00:00.000         MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995  ELECTION WORKER                               ...
 49996  ELECTION WORKER                               ...
 49997  ELECTION WORKER                               ...
 49998  ELECTION WORKER                               ...
 49999  ELECTION WORKER                               ...

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay payroll_number
 0                 575.00     0.00          0.00            0.00            NaN
 1                 300.00     0.00          0.00            0.00            NaN
 2                 578.00     0.00          0.00            0.00            NaN
 3                1025.00     0.00          0.00            0.00            NaN
 4                 575.00     0.00          0.00            0.00            NaN
 ...                  ...      ...           ...             ...            ...
 49995             303.00     0.00          0.00            0.00            NaN
 49996             775.00     0.00          0.00            0.00            NaN
 49997             784.00     0.00          0.00            0.00            NaN
 49998             300.00     0.00          0.00            0.00            NaN
 49999             853.00     0.00          0.00            0.00            NaN

 [50000 rows x 17 columns],
       fiscal_year                     agency_name  last_name first_name  \
 0            2017  BOARD OF ELECTION POLL WORKERS      GADEA    MELISSA
 1            2017  BOARD OF ELECTION POLL WORKERS     GADKAR      ANANT
 2            2017  BOARD OF ELECTION POLL WORKERS  GADPAILLE    OLUMIDE
 3            2017  BOARD OF ELECTION POLL WORKERS    GADSDEN       DARA
 4            2017  BOARD OF ELECTION POLL WORKERS    GADSDEN      DAVID
 ...           ...                             ...        ...        ...
 49995        2018  BOARD OF ELECTION POLL WORKERS     GUSHUE        ANA
 49996        2018  BOARD OF ELECTION POLL WORKERS    GUTHWIN       CARL
 49997        2018  BOARD OF ELECTION POLL WORKERS  GUTIERREZ    DANIELA
 49998        2018  BOARD OF ELECTION POLL WORKERS  GUTIERREZ   VICTORIA
 49999        2018  BOARD OF ELECTION POLL WORKERS     GUZMAN     ADRIAN

       mid_init        agency_start_date work_location_borough  \
 0            E  2016-01-01T00:00:00.000         MANHATTAN
 1            A  2010-01-01T00:00:00.000         MANHATTAN
 2          NaN  2012-01-02T00:00:00.000         MANHATTAN
 3            A  2012-01-02T00:00:00.000         MANHATTAN
 4            R  2010-01-01T00:00:00.000         MANHATTAN
 ...        ...                      ...                   ...
 49995        E  2016-01-01T00:00:00.000             MANHATTAN
 49996      NaN  2016-01-01T00:00:00.000             MANHATTAN
 49997        D  2016-01-01T00:00:00.000             MANHATTAN
 49998        E  2016-01-01T00:00:00.000             MANHATTAN
 49999        M  2016-01-01T00:00:00.000             MANHATTAN

                                        title_description  \
 0      ELECTION WORKER                               ...
 1      ELECTION WORKER                               ...
 2      ELECTION WORKER                               ...
 3      ELECTION WORKER                               ...
 4      ELECTION WORKER                               ...
 ...                                                  ...
 49995                                    ELECTION WORKER
 49996                                    ELECTION WORKER
 49997                                    ELECTION WORKER
 49998                                    ELECTION WORKER
 49999                                    ELECTION WORKER

       leave_status_as_of_july_31 base_salary  pay_basis regular_hours  \
 0                         ACTIVE        1.00   per Hour          0.00
 1                         ACTIVE        1.00   per Hour          0.00
 2                         ACTIVE        1.00   per Hour          0.00
 3                         ACTIVE        1.00   per Hour          0.00
 4                         ACTIVE        1.00   per Hour          0.00
 ...                          ...         ...        ...           ...
 49995                     ACTIVE        1.00   per Hour          0.00
 49996                     ACTIVE        1.00   per Hour          0.00
 49997                     ACTIVE        1.00   per Hour          0.00
 49998                     ACTIVE        1.00   per Hour          0.00
 49999                     ACTIVE        1.00   per Hour          0.00

       regular_gross_paid ot_hours total_ot_paid total_other_pay payroll_number
 0                 578.00     0.00          0.00            0.00            NaN
 1                 781.00     0.00          0.00            0.00            NaN
 2                 575.00     0.00          0.00            0.00            NaN
 3                 575.00     0.00          0.00            0.00            NaN
 4                 778.00     0.00          0.00            0.00            NaN
 ...                  ...      ...           ...             ...            ...

In [425]:
updated_result = pd.concat(final_results, sort=True)

In [426]:
updated_result

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.00,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.00,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.00,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.00,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.00,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.00,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.00,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.00,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.00,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.00,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.00,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.00,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.00,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.00,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.00,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.00,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.00,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.00,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.00,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.00,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.00,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.00,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.00,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.00,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
30,ADMIN FOR CHILDREN'S SVCS,2018-04-23T00:00:00.000,48195.00,YANI,2019,LANTIGUA,CEASED,F,0.00,per Annum,67,39.85,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
31,ADMIN FOR CHILDREN'S SVCS,2017-07-10T00:00:00.000,39389.00,TERRENCE,2019,MOORE,CEASED,T,0.00,per Annum,67,34.26,0.00,JUVENILE COUNSELOR,4.78,1.27,BRONX
32,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.00,TATIANA,2019,COLON,CEASED,NaN,0.00,per Annum,67,41.56,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
33,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,79748.00,LESLIE,2019,SERRANO,CEASED,E,0.00,per Annum,67,43.03,0.00,ASSOCIATE YOUTH DEVELOPMENT SPECIALIST,0.00,0.34,BROOKLYN
34,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,57070.00,ARTHURENE,2019,BAUGH,CEASED,NaN,0.00,per Annum,67,35.99,0.00,CHILD PROTECTIVE SPECIALIST,8.93,1.44,MANHATTAN
35,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56145.00,VYONNIE,2019,TOMLINSON,CEASED,I,0.00,per Annum,67,49.53,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.46,QUEENS
36,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,LAVAISHA,2019,JONES,CEASED,S,0.00,per Annum,67,49.19,0.00,CHILD PROTECTIVE SPECIALIST,2.20,0.00,BROOKLYN
37,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.00,GITA,2019,MEIMAN,CEASED,NaN,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,1.97,0.00,BROOKLYN
38,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.00,NADINE,2019,CENORD,ON LEAVE,NaN,0.00,per Annum,67,193.54,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-132.58,MANHATTAN
39,ADMIN FOR CHILDREN'S SVCS,2015-01-05T00:00:00.000,57070.00,KEISHA,2019,WOODY,CEASED,S,0.00,per Annum,67,61.15,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
40,ADMIN FOR CHILDREN'S SVCS,2013-07-03T00:00:00.000,82400.00,SADE,2019,MCINTOSH,CEASED,V,0.00,per Annum,67,63.20,0.00,ADMINISTRATIVE STAFF ANALYST,0.00,0.00,MANHATTAN
41,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,60644.00,ANTHONY,2019,CLAY,CEASED,B,0.00,per Annum,67,62.73,0.00,ASSOCIATE JUVENILE COUNSELOR,0.00,0.52,BROOKLYN
42,ADMIN FOR CHILDREN'S SVCS,2016-12-19T00:00:00.000,96282.00,LORNA,2019,DAVIS,CEASED,O,0.00,per Annum,67,63.38,0.00,COMPUTER SPECIALIST,0.00,0.00,MANHATTAN
43,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,57070.00,AAISHA,2019,PEELE,CEASED,L,0.00,per Annum,67,56.95,0.00,CHILD PROTECTIVE SPECIALIST,6.82,0.12,BROOKLYN
44,ADMIN FOR CHILDREN'S SVCS,2018-02-05T00:00:00.000,48195.00,STEPHANNIE,2019,SANDERS,CEASED,NaN,0.00,per Annum,67,65.21,0.00,CHILD PROTECTIVE SPECIALIST,1.93,0.00,MANHATTAN
45,ADMIN FOR CHILDREN'S SVCS,2016-09-06T00:00:00.000,66300.00,JENNIFER,2019,PIERRE,CEASED,M,0.00,per Annum,67,67.67,0.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN
46,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,SHAINA,2019,SHANNON,CEASED,O,0.00,per Annum,67,73.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
47,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,SIOBAHN,2019,DUCEY,CEASED,L,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,19.85,0.07,RICHMOND
48,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.00,STEVEN,2019,CARRINGTON,CEASED,E,0.00,per Annum,67,57.33,0.00,CHILD PROTECTIVE SPECIALIST,17.13,0.00,BRONX
49,ADMIN FOR CHILDREN'S SVCS,1997-07-06T00:00:00.000,40068.00,PATRICIA,2019,AGARD,CEASED,R,0.00,per Annum,67,67.83,0.00,CLERICAL ASSOCIATE,0.00,6.87,MANHATTAN
50,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,48195.00,KARISIMA,2019,POWELL,CEASED,M,0.00,per Annum,67,63.66,0.00,CHILD PROTECTIVE SPECIALIST,11.49,0.00,BROOKLYN
51,ADMIN FOR CHILDREN'S SVCS,1998-06-08T00:00:00.000,86994.00,AMY,2019,POLENBERG,CEASED,B,0.00,per Annum,67,77.08,0.00,PROGRAM EVALUATOR,0.00,0.44,MANHATTAN
52,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.00,YMALIELYS,2019,RODRIGUEZ,CEASED,NaN,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,11.34,0.00,MANHATTAN
53,ADMIN FOR CHILDREN'S SVCS,2018-02-12T00:00:00.000,39389.00,ARNOLD,2019,MCKINLEY,CEASED,R,0.00,per Annum,67,82.91,0.00,CASEWORKER,0.00,0.00,BRONX
54,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,56966.00,AGNES,2019,ASANTE,CEASED,A,0.00,per Annum,67,97.55,0.00,YOUTH DEVELOPMENT SPECIALIST,-14.13,-0.45,BROOKLYN
55,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,63436.00,DWAYNE,2019,CHANDLER,CEASED,L,0.00,per Annum,67,79.05,0.00,PROTECTION AGENT,0.00,5.64,MANHATTAN
56,ADMIN FOR CHILDREN'S SVCS,2000-09-25T00:00:00.000,35932.00,ALEASE,2019,PATRICK MCDOWAL,CEASED,Y,0.00,per Annum,67,362.25,0.00,CLERICAL ASSOCIATE,0.00,-276.15,QUEENS
57,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.00,DEVERON,2019,GREAVES,CEASED,E,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,19.14,0.00,BROOKLYN
58,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,53519.00,DARYA,2019,GOMEROVA,ON LEAVE,NaN,0.00,per Annum,67,89.66,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,RICHMOND
59,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.00,NASIA,2019,GASPARD,CEASED,D,0.00,per Annum,67,89.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,2.49,MANHATTAN
60,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.00,LASTARR,2019,DAVIS,ON LEAVE,M,0.00,per Annum,67,93.51,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
61,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,52856.00,JAMEL,2019,LAWHORN,CEASED,A,0.00,per Annum,67,93.65,0.00,CHILD WELFARE SPECIALIST,0.00,0.00,MANHATTAN
62,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,43960.00,CRETENA,2019,ROCHESTER,CEASED,A,0.00,per Annum,67,86.13,0.00,SECRETARY,0.00,7.95,MANHATTAN
63,ADMIN FOR CHILDREN'S SVCS,1999-06-07T00:00:00.000,57070.00,JACQUELINE,2019,LOVE,CEASED,N,0.00,per Annum,67,248.17,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-153.60,BROOKLYN
64,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.00,STARR,2019,SEALEY,CEASED,C,0.00,per Annum,67,67.29,0.00,CHILD PROTECTIVE SPECIALIST,27.34,0.00,BRONX
65,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,87997.00,JANE,2019,HOLLAND,CEASED,NaN,0.00,per Annum,67,97.99,0.00,CHILD AND FAMILY SPECIALIST,0.00,0.57,MANHATTAN
66,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,45338.00,ESTHER,2019,MATOS MIRANDA,CEASED,L,0.00,per Annum,67,168.59,0.00,JUVENILE COUNSELOR,24.75,-89.15,BRONX
67,ADMIN FOR CHILDREN'S SVCS,2006-06-19T00:00:00.000,55814.00,ARLENE,2019,PALMER,CEASED,NaN,0.00,per Annum,67,104.31,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.95,MANHATTAN
68,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,44426.00,DEANA,2019,WILSON,CEASED,L,0.00,per Annum,67,105.33,0.00,YOUTH DEVELOPMENT SPECIALIST,4.03,0.57,BROOKLYN
69,ADMIN FOR CHILDREN'S SVCS,1999-05-24T00:00:00.000,55875.00,NEWTON,2019,BROWN,CEASED,W,0.00,per Annum,67,108.96,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.98,MANHATTAN
70,ADMIN FOR CHILDREN'S SVCS,2008-03-18T00:00:00.000,63436.00,JAMES,2019,DAVIS,CEASED,S,0.00,per Annum,67,112.46,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
71,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56711.00,ELLEN,2019,LEWIS,CEASED,E,0.00,per Annum,67,114.98,0.00,CHILD WELFARE SPECIALIST,0.00,1.02,MANHATTAN
72,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.00,TIFFANY,2019,FOSTER,CEASED,M,0.00,per Annum,67,108.73,0.00,CHILD PROTECTIVE SPECIALIST,0.00,8.25,BROOKLYN
73,ADMIN FOR CHILDREN'S SVCS,2014-04-14T00:00:00.000,53712.00,ELIZABETH,2019,DIAZ,CEASED,N,0.00,per Annum,67,71.11,0.00,CONGREG CARE SPEC - ACS,46.54,2.31,MANHATTAN
74,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.00,DESTINY,2019,HARGROVES,CEASED,M,0.00,per Annum,67,107.85,0.00,CHILD PROTECTIVE SPECIALIST,14.16,0.00,QUEENS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33293,TEACHERS RETIREMENT SYSTEM,2005-06-06T00:00:00.000,128280.00,MICHAEL,2017,SCHERBNER,ACTIVE,V,0.00,per Annum,NaN,132002.11,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,500.00,MANHATTAN
33294,TEACHERS RETIREMENT SYSTEM,2012-03-29T00:00:00.000,69707.00,JONATHAN,2017,SEKULA,ACTIVE,P,217.50,per Annum,NaN,67341.13,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,11262.85,2151.03,MANHATTAN
33295,TEACHERS RETIREMENT SYSTEM,2006-03-27T00:00:00.000,126695.00,RAMESH,2017,SELVARAJ,ACTIVE,NaN,0.00,per Annum,NaN,130350.75,1825.00,COMPUTER SPECIALIST ...,0.00,8797.63,MANHATTAN
33296,TEACHERS RETIREMENT SYSTEM,2016-08-28T00:00:00.000,51500.00,MATTHEW,2017,SERRANO,CEASED,P,0.00,per Annum,NaN,21830.98,774.50,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
33297,TEACHERS RETIREMENT SYSTEM,1997-01-06T00:00:00.000,112997.00,DAISY,2017,SEVERINO-MACIAS,ACTIVE,NaN,0.00,per Annum,NaN,116275.58,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,5000.00,MANHATTAN
33298,TEACHERS RETIREMENT SYSTEM,2000-03-13T00:00:00.000,51980.00,JIGNESH,2017,SHAH,ACTIVE,NaN,67.00,per Annum,NaN,53479.81,1825.00,ASSISTANT RETIREMENT BENEFITS EXAMINER ...,2772.61,5281.18,MANHATTAN
33299,TEACHERS RETIREMENT SYSTEM,1999-11-15T00:00:00.000,51980.00,SHIRISH,2017,SHAH,ACTIVE,B,40.00,per Annum,NaN,53479.81,1825.00,ASSISTANT RETIREMENT BENEFITS EXAMINER ...,1307.27,5201.42,MANHATTAN
33300,TEACHERS RETIREMENT SYSTEM,1996-12-23T00:00:00.000,141696.00,ANDREY,2017,SHAPOVALOV,ACTIVE,NaN,0.00,per Annum,NaN,145807.39,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,2000.00,MANHATTAN
33301,TEACHERS RETIREMENT SYSTEM,2001-08-06T00:00:00.000,67868.00,COLBURN,2017,SHAW,ACTIVE,NaN,74.75,per Annum,NaN,68661.84,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,2639.45,1882.18,MANHATTAN
33302,TEACHERS RETIREMENT SYSTEM,2016-05-09T00:00:00.000,76288.00,AUNG,2017,SHEIN,CEASED,Z,0.00,per Annum,NaN,49541.68,1102.50,COMPUTER SPECIALIST ...,0.00,20.00,MANHATTAN
33303,TEACHERS RETIREMENT SYSTEM,2006-01-02T00:00:00.000,65030.00,JIE YING,2017,SHI,ACTIVE,NaN,0.00,per Annum,NaN,66906.42,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,5526.59,MANHATTAN
33304,TEACHERS RETIREMENT SYSTEM,2008-05-05T00:00:00.000,46424.00,SOFIYA,2017,SHIFER,ACTIVE,NaN,0.00,per Annum,NaN,47837.77,1825.00,ASSISTANT RETIREMENT BENEFITS EXAMINER ...,0.00,0.00,MANHATTAN
33305,TEACHERS RETIREMENT SYSTEM,2005-01-03T00:00:00.000,52423.00,VALENTINA,2017,SHOFLER,ACTIVE,NaN,33.50,per Annum,NaN,53935.76,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,979.56,1245.95,MANHATTAN
33306,TEACHERS RETIREMENT SYSTEM,2006-01-03T00:00:00.000,64697.00,PHINDILE,2017,SHONGWE DIAKHAT,ACTIVE,B,0.00,per Annum,NaN,65315.66,1825.00,ADMINISTRATIVE STAFF ANALYST ...,0.00,665.05,MANHATTAN
33307,TEACHERS RETIREMENT SYSTEM,2016-09-11T00:00:00.000,44139.00,JENNIFER,2017,SIMMONDS,ACTIVE,NaN,1.75,per Annum,NaN,34706.50,1465.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,42.28,16.50,MANHATTAN
33308,TEACHERS RETIREMENT SYSTEM,2017-06-13T00:00:00.000,11.50,ALEXIS,2017,SMITH,ACTIVE,M,0.00,per Hour,NaN,322.00,95.50,SUMMER COLLEGE INTERN ...,0.00,0.00,MANHATTAN
33309,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,139065.00,MICHAEL,2017,SMITH,ACTIVE,J,0.00,per Annum,NaN,143100.05,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,500.00,MANHATTAN
33310,TEACHERS RETIREMENT SYSTEM,1998-01-20T00:00:00.000,90720.00,THERESA,2017,SMITH,ACTIVE,NaN,0.00,per Annum,NaN,93352.25,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,250.68,MANHATTAN
33311,TEACHERS RETIREMENT SYSTEM,1997-09-29T00:00:00.000,56189.00,JULIET,2017,SMITH LUE,ACTIVE,NaN,61.50,per Annum,NaN,57810.17,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,2360.66,1319.99,MANHATTAN
33312,TEACHERS RETIREMENT SYSTEM,2003-12-15T00:00:00.000,145476.00,RALPH,2017,SOLANO,ACTIVE,NaN,0.00,per Annum,NaN,149696.96,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33313,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,46798.00,SOPHIA,2017,SPENCER,ACTIVE,NaN,0.00,per Annum,NaN,46544.12,1825.00,ASSISTANT RETIREMENT BENEFITS EXAMINER ...,0.00,1254.81,MANHATTAN
33314,TEACHERS RETIREMENT SYSTEM,2000-07-31T00:00:00.000,80027.00,JOSEPH,2017,ST.JUSTE,ACTIVE,F,0.00,per Annum,NaN,82348.96,1825.00,ADMINISTRATIVE ACCOUNTANT ...,0.00,0.00,MANHATTAN
33315,TEACHERS RETIREMENT SYSTEM,2009-01-05T00:00:00.000,165336.00,SUSAN,2017,STANG,ACTIVE,NaN,0.00,per Annum,NaN,170133.00,1825.00,ASSISTANT EXECUTIVE DIRECTOR ...,0.00,500.00,MANHATTAN
33316,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,72337.00,LASTENIA,2017,STEEVENS,ACTIVE,E,3.00,per Annum,NaN,73183.10,1825.00,ADM MANAGER-NON-MGRL,115.32,214.50,MANHATTAN
33317,TEACHERS RETIREMENT SYSTEM,2013-06-10T00:00:00.000,50760.00,DONALD,2017,STENNETT,ACTIVE,K,0.00,per Annum,NaN,52224.81,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1177.89,MANHATTAN
33318,TEACHERS RETIREMENT SYSTEM,2017-06-05T00:00:00.000,11.50,AMBER,2017,STEWART,ACTIVE,K,0.00,per Hour,NaN,805.02,140.00,SUMMER COLLEGE INTERN ...,0.00,0.00,MANHATTAN
33319,TEACHERS RETIREMENT SYSTEM,2016-06-06T00:00:00.000,10.00,ASHLEY,2017,STEWART,CEASED,J,0.00,per Hour,NaN,3892.50,258.75,SUMMER COLLEGE INTERN ...,0.00,70.00,MANHATTAN
33320,TEACHERS RETIREMENT SYSTEM,2003-04-21T00:00:00.000,162670.00,JAMIE,2017,SUTTERLIN,ACTIVE,A,0.00,per Annum,NaN,167389.88,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,5000.00,MANHATTAN
33321,TEACHERS RETIREMENT SYSTEM,2007-04-30T00:00:00.000,114180.00,RONALD,2017,SWINGLE,ACTIVE,NaN,0.00,per Annum,NaN,117142.73,1825.00,ADMINISTRATIVE MANAGER ...,0.00,0.00,MANHATTAN
33322,TEACHERS RETIREMENT SYSTEM,2006-07-10T00:00:00.000,50946.00,RODGER,2017,TAFT,ACTIVE,E,0.00,per Annum,NaN,52415.95,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,4703.86,MANHATTAN
33323,TEACHERS RETIREMENT SYSTEM,2016-07-04T00:00:00.000,82400.00,PEGGY,2017,TARTT,ACTIVE,A,0.00,per Annum,NaN,80199.49,1815.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,0.00,MANHATTAN
33324,TEACHERS RETIREMENT SYSTEM,2012-06-25T00:00:00.000,53239.00,VICTOR,2017,TAVAREZ,ACTIVE,D,0.00,per Annum,NaN,54045.38,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE,215.72,16.50,MANHATTAN
33325,TEACHERS RETIREMENT SYSTEM,2010-09-20T00:00:00.000,55152.00,JANET,2017,TCHERNOVA,ACTIVE,NaN,161.25,per Annum,NaN,56743.52,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,6929.84,5609.09,MANHATTAN
33326,TEACHERS RETIREMENT SYSTEM,2006-12-04T00:00:00.000,38956.00,OLGA,2017,TESIS,ACTIVE,NaN,0.00,per Annum,NaN,40079.94,1825.00,CLERICAL ASSOCIATE,0.00,1690.77,MANHATTAN
33327,TEACHERS RETIREMENT SYSTEM,2012-09-04T00:00:00.000,56344.00,TRAVIS,2017,TEXIDO,ACTIVE,M,0.00,per Annum,NaN,57969.84,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,1306.20,MANHATTAN
33328,TEACHERS RETIREMENT SYSTEM,2003-06-17T00:00:00.000,113482.00,JULIE,2017,TEYAN,ACTIVE,A,0.00,per Annum,NaN,116774.63,1825.00,COMPUTER SYSTEMS MANAGER ...,0.00,0.00,MANHATTAN
33329,TEACHERS RETIREMENT SYSTEM,2001-03-26T00:00:00.000,88934.00,MARTIN,2017,TEZEN,ACTIVE,R,0.00,per Annum,NaN,91514.51,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST ...,0.00,0.00,MANHATTAN
33330,TEACHERS RETIREMENT SYSTEM,2015-10-13T00:00:00.000,44140.00,ANDRE,2017,THOMAS,CEASED,J,0.00,per Annum,NaN,26790.08,1025.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER ...,0.00,8.75,MANHATTAN

In [427]:
updated_result.iloc[3333367]

agency_name                                      TEACHERS RETIREMENT SYSTEM
agency_start_date                                       2004-10-04T00:00:00.000
base_salary                                                            46424.00
first_name                                                            JIN CHANG
fiscal_year                                                                2017
last_name                                                                   ZHU
leave_status_as_of_july_31                                               ACTIVE
mid_init                                                                    NaN
ot_hours                                                                   0.00
pay_basis                                                             per Annum
payroll_number                                                              NaN
regular_gross_paid                                                     47763.68
regular_hours                                                           1825.00
title_description             BOOKKEEPER                                    ...
total_ot_paid                                                              0.00
total_other_pay                                                         3913.01
work_location_borough                                             MANHATTAN
Name: 33367, dtype: object

In [428]:
updated_result['base_salary'] =updated_result['base_salary'].astype(float) # convert salary to number

In [429]:
updated_result['regular_gross_paid'] =updated_result['regular_gross_paid'].astype(float) # convert salary to number

In [430]:
updated_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333368 entries, 0 to 33367
Data columns (total 17 columns):
agency_name                   object
agency_start_date             object
base_salary                   float64
first_name                    object
fiscal_year                   object
last_name                     object
leave_status_as_of_july_31    object
mid_init                      object
ot_hours                      object
pay_basis                     object
payroll_number                object
regular_gross_paid            float64
regular_hours                 object
title_description             object
total_ot_paid                 object
total_other_pay               object
work_location_borough         object
dtypes: float64(2), object(15)
memory usage: 457.8+ MB

In [431]:
def filter_result_by_year(result, year):
    return result[result['fiscal_year'] == year]

In [432]:
filter_result_by_year(updated_result, "2019")

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.0,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.0,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.0,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.0,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.0,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.0,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.0,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.0,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.0,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.0,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.0,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.0,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.0,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.0,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.0,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.0,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.0,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.0,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.0,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.0,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.0,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
30,ADMIN FOR CHILDREN'S SVCS,2018-04-23T00:00:00.000,48195.0,YANI,2019,LANTIGUA,CEASED,F,0.00,per Annum,67,39.85,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
31,ADMIN FOR CHILDREN'S SVCS,2017-07-10T00:00:00.000,39389.0,TERRENCE,2019,MOORE,CEASED,T,0.00,per Annum,67,34.26,0.00,JUVENILE COUNSELOR,4.78,1.27,BRONX
32,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.0,TATIANA,2019,COLON,CEASED,NaN,0.00,per Annum,67,41.56,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN
33,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,79748.0,LESLIE,2019,SERRANO,CEASED,E,0.00,per Annum,67,43.03,0.00,ASSOCIATE YOUTH DEVELOPMENT SPECIALIST,0.00,0.34,BROOKLYN
34,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,57070.0,ARTHURENE,2019,BAUGH,CEASED,NaN,0.00,per Annum,67,35.99,0.00,CHILD PROTECTIVE SPECIALIST,8.93,1.44,MANHATTAN
35,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56145.0,VYONNIE,2019,TOMLINSON,CEASED,I,0.00,per Annum,67,49.53,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.46,QUEENS
36,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,LAVAISHA,2019,JONES,CEASED,S,0.00,per Annum,67,49.19,0.00,CHILD PROTECTIVE SPECIALIST,2.20,0.00,BROOKLYN
37,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.0,GITA,2019,MEIMAN,CEASED,NaN,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,1.97,0.00,BROOKLYN
38,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.0,NADINE,2019,CENORD,ON LEAVE,NaN,0.00,per Annum,67,193.54,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-132.58,MANHATTAN
39,ADMIN FOR CHILDREN'S SVCS,2015-01-05T00:00:00.000,57070.0,KEISHA,2019,WOODY,CEASED,S,0.00,per Annum,67,61.15,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
40,ADMIN FOR CHILDREN'S SVCS,2013-07-03T00:00:00.000,82400.0,SADE,2019,MCINTOSH,CEASED,V,0.00,per Annum,67,63.20,0.00,ADMINISTRATIVE STAFF ANALYST,0.00,0.00,MANHATTAN
41,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,60644.0,ANTHONY,2019,CLAY,CEASED,B,0.00,per Annum,67,62.73,0.00,ASSOCIATE JUVENILE COUNSELOR,0.00,0.52,BROOKLYN
42,ADMIN FOR CHILDREN'S SVCS,2016-12-19T00:00:00.000,96282.0,LORNA,2019,DAVIS,CEASED,O,0.00,per Annum,67,63.38,0.00,COMPUTER SPECIALIST,0.00,0.00,MANHATTAN
43,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,57070.0,AAISHA,2019,PEELE,CEASED,L,0.00,per Annum,67,56.95,0.00,CHILD PROTECTIVE SPECIALIST,6.82,0.12,BROOKLYN
44,ADMIN FOR CHILDREN'S SVCS,2018-02-05T00:00:00.000,48195.0,STEPHANNIE,2019,SANDERS,CEASED,NaN,0.00,per Annum,67,65.21,0.00,CHILD PROTECTIVE SPECIALIST,1.93,0.00,MANHATTAN
45,ADMIN FOR CHILDREN'S SVCS,2016-09-06T00:00:00.000,66300.0,JENNIFER,2019,PIERRE,CEASED,M,0.00,per Annum,67,67.67,0.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN
46,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,SHAINA,2019,SHANNON,CEASED,O,0.00,per Annum,67,73.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX
47,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,SIOBAHN,2019,DUCEY,CEASED,L,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,19.85,0.07,RICHMOND
48,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,STEVEN,2019,CARRINGTON,CEASED,E,0.00,per Annum,67,57.33,0.00,CHILD PROTECTIVE SPECIALIST,17.13,0.00,BRONX
49,ADMIN FOR CHILDREN'S SVCS,1997-07-06T00:00:00.000,40068.0,PATRICIA,2019,AGARD,CEASED,R,0.00,per Annum,67,67.83,0.00,CLERICAL ASSOCIATE,0.00,6.87,MANHATTAN
50,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,48195.0,KARISIMA,2019,POWELL,CEASED,M,0.00,per Annum,67,63.66,0.00,CHILD PROTECTIVE SPECIALIST,11.49,0.00,BROOKLYN
51,ADMIN FOR CHILDREN'S SVCS,1998-06-08T00:00:00.000,86994.0,AMY,2019,POLENBERG,CEASED,B,0.00,per Annum,67,77.08,0.00,PROGRAM EVALUATOR,0.00,0.44,MANHATTAN
52,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,YMALIELYS,2019,RODRIGUEZ,CEASED,NaN,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,11.34,0.00,MANHATTAN
53,ADMIN FOR CHILDREN'S SVCS,2018-02-12T00:00:00.000,39389.0,ARNOLD,2019,MCKINLEY,CEASED,R,0.00,per Annum,67,82.91,0.00,CASEWORKER,0.00,0.00,BRONX
54,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,56966.0,AGNES,2019,ASANTE,CEASED,A,0.00,per Annum,67,97.55,0.00,YOUTH DEVELOPMENT SPECIALIST,-14.13,-0.45,BROOKLYN
55,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,63436.0,DWAYNE,2019,CHANDLER,CEASED,L,0.00,per Annum,67,79.05,0.00,PROTECTION AGENT,0.00,5.64,MANHATTAN
56,ADMIN FOR CHILDREN'S SVCS,2000-09-25T00:00:00.000,35932.0,ALEASE,2019,PATRICK MCDOWAL,CEASED,Y,0.00,per Annum,67,362.25,0.00,CLERICAL ASSOCIATE,0.00,-276.15,QUEENS
57,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,DEVERON,2019,GREAVES,CEASED,E,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,19.14,0.00,BROOKLYN
58,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,53519.0,DARYA,2019,GOMEROVA,ON LEAVE,NaN,0.00,per Annum,67,89.66,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,RICHMOND
59,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,NASIA,2019,GASPARD,CEASED,D,0.00,per Annum,67,89.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,2.49,MANHATTAN
60,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.0,LASTARR,2019,DAVIS,ON LEAVE,M,0.00,per Annum,67,93.51,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN
61,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,52856.0,JAMEL,2019,LAWHORN,CEASED,A,0.00,per Annum,67,93.65,0.00,CHILD WELFARE SPECIALIST,0.00,0.00,MANHATTAN
62,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,43960.0,CRETENA,2019,ROCHESTER,CEASED,A,0.00,per Annum,67,86.13,0.00,SECRETARY,0.00,7.95,MANHATTAN
63,ADMIN FOR CHILDREN'S SVCS,1999-06-07T00:00:00.000,57070.0,JACQUELINE,2019,LOVE,CEASED,N,0.00,per Annum,67,248.17,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-153.60,BROOKLYN
64,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,STARR,2019,SEALEY,CEASED,C,0.00,per Annum,67,67.29,0.00,CHILD PROTECTIVE SPECIALIST,27.34,0.00,BRONX
65,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,87997.0,JANE,2019,HOLLAND,CEASED,NaN,0.00,per Annum,67,97.99,0.00,CHILD AND FAMILY SPECIALIST,0.00,0.57,MANHATTAN
66,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,45338.0,ESTHER,2019,MATOS MIRANDA,CEASED,L,0.00,per Annum,67,168.59,0.00,JUVENILE COUNSELOR,24.75,-89.15,BRONX
67,ADMIN FOR CHILDREN'S SVCS,2006-06-19T00:00:00.000,55814.0,ARLENE,2019,PALMER,CEASED,NaN,0.00,per Annum,67,104.31,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.95,MANHATTAN
68,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,44426.0,DEANA,2019,WILSON,CEASED,L,0.00,per Annum,67,105.33,0.00,YOUTH DEVELOPMENT SPECIALIST,4.03,0.57,BROOKLYN
69,ADMIN FOR CHILDREN'S SVCS,1999-05-24T00:00:00.000,55875.0,NEWTON,2019,BROWN,CEASED,W,0.00,per Annum,67,108.96,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.98,MANHATTAN
70,ADMIN FOR CHILDREN'S SVCS,2008-03-18T00:00:00.000,63436.0,JAMES,2019,DAVIS,CEASED,S,0.00,per Annum,67,112.46,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN
71,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56711.0,ELLEN,2019,LEWIS,CEASED,E,0.00,per Annum,67,114.98,0.00,CHILD WELFARE SPECIALIST,0.00,1.02,MANHATTAN
72,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.0,TIFFANY,2019,FOSTER,CEASED,M,0.00,per Annum,67,108.73,0.00,CHILD PROTECTIVE SPECIALIST,0.00,8.25,BROOKLYN
73,ADMIN FOR CHILDREN'S SVCS,2014-04-14T00:00:00.000,53712.0,ELIZABETH,2019,DIAZ,CEASED,N,0.00,per Annum,67,71.11,0.00,CONGREG CARE SPEC - ACS,46.54,2.31,MANHATTAN
74,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,DESTINY,2019,HARGROVES,CEASED,M,0.00,per Annum,67,107.85,0.00,CHILD PROTECTIVE SPECIALIST,14.16,0.00,QUEENS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31202,TEACHERS RETIREMENT SYSTEM,2000-05-22T00:00:00.000,68380.0,KEITHA,2019,HART,ACTIVE,NaN,0.00,per Annum,41,68852.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8722.82,MANHATTAN
31203,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,66109.0,PETER,2019,NG,ACTIVE,NaN,44.75,per Annum,41,66494.74,1825.00,BOOKKEEPER,1609.47,9484.73,MANHATTAN
31204,TEACHERS RETIREMENT SYSTEM,2013-09-22T00:00:00.000,72086.0,LORRAINE,2019,GRAY,ACTIVE,M,70.25,per Annum,41,72506.12,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3201.35,2192.52,MANHATTAN
31205,TEACHERS RETIREMENT SYSTEM,2002-07-08T00:00:00.000,74457.0,DARA,2019,PINNES,ACTIVE,E,52.00,per Annum,41,73891.89,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,2093.01,2047.99,MANHATTAN
31206,TEACHERS RETIREMENT SYSTEM,2001-01-02T00:00:00.000,68631.0,SOHIR,2019,FAHMY,ACTIVE,NaN,0.00,per Annum,41,69072.25,1825.00,INVESTMENT ANALYST,0.00,9840.26,MANHATTAN
31207,TEACHERS RETIREMENT SYSTEM,2002-11-04T00:00:00.000,69975.0,SHELLEY,2019,BUTTS,ACTIVE,NaN,0.00,per Annum,41,70450.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,6.37,8548.53,MANHATTAN
31208,TEACHERS RETIREMENT SYSTEM,2001-06-04T00:00:00.000,78589.0,CHRISTINA,2019,PEREZ,ACTIVE,NaN,0.00,per Annum,41,79064.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31209,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,75895.0,DAVID,2019,YERUSHALMI,ACTIVE,NaN,9.00,per Annum,41,75687.04,1825.00,ASSOCIATE STAFF ANALYST,588.11,3927.51,MANHATTAN
31210,TEACHERS RETIREMENT SYSTEM,2005-01-03T00:00:00.000,79854.0,DEBRA,2019,ROBINSON,ACTIVE,L,0.00,per Annum,41,79635.15,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,721.62,MANHATTAN
31211,TEACHERS RETIREMENT SYSTEM,2011-04-18T00:00:00.000,74243.0,DION,2019,MCDONALD,ACTIVE,P,0.00,per Annum,41,74728.80,1825.00,MANAGEMENT AUDITOR,0.00,6160.96,MANHATTAN
31212,TEACHERS RETIREMENT SYSTEM,1998-09-28T00:00:00.000,75863.0,SHOOK,2019,LUONG,ACTIVE,K,0.00,per Annum,41,76346.62,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,4898.01,MANHATTAN
31213,TEACHERS RETIREMENT SYSTEM,2005-05-23T00:00:00.000,75646.0,DANIEL,2019,JOSE JR,ACTIVE,NaN,85.50,per Annum,41,75438.75,1825.00,ASSOCIATE STAFF ANALYST,4087.83,1859.88,MANHATTAN
31214,TEACHERS RETIREMENT SYSTEM,2018-10-29T00:00:00.000,125000.0,JAIMEEN,2019,PATEL,ACTIVE,A,0.00,per Annum,41,81506.84,1230.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN
31215,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,72757.0,YEVGENIYA,2019,VIZENTAL,ACTIVE,NaN,0.00,per Annum,41,73254.82,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN
31216,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,76911.0,TINA,2019,FREEMAN-SMITH,ACTIVE,NaN,0.00,per Annum,41,77400.79,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,4790.76,MANHATTAN
31217,TEACHERS RETIREMENT SYSTEM,2011-09-18T00:00:00.000,83073.0,JOHN,2019,QUADRINO,ACTIVE,E,0.00,per Annum,41,82384.63,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN
31218,TEACHERS RETIREMENT SYSTEM,2005-11-21T00:00:00.000,73877.0,SAMUEL,2019,BASILY,ACTIVE,Y,0.00,per Annum,41,74515.27,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8389.94,MANHATTAN
31219,TEACHERS RETIREMENT SYSTEM,2005-08-22T00:00:00.000,82468.0,LENORA,2019,HINES,ACTIVE,D,0.00,per Annum,41,82242.16,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,832.77,MANHATTAN
31220,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,93178.0,LORNA,2019,DIXON-SAUNDERS,ACTIVE,NaN,0.00,per Annum,41,93742.52,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31221,TEACHERS RETIREMENT SYSTEM,2001-03-26T00:00:00.000,93190.0,MARTIN,2019,TEZEN,ACTIVE,R,0.00,per Annum,41,93754.22,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31222,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,90722.0,RAYMOND,2019,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,41,90473.49,1825.00,ASSOCIATE STAFF ANALYST,0.00,3735.26,MANHATTAN
31223,TEACHERS RETIREMENT SYSTEM,2004-07-19T00:00:00.000,80070.0,DANIEL,2019,FELDMAN,ACTIVE,NaN,152.75,per Annum,41,80536.43,1825.00,COMPUTER ASSOCIATE,8301.28,5391.00,MANHATTAN
31224,TEACHERS RETIREMENT SYSTEM,2008-01-07T00:00:00.000,95952.0,MICHAEL,2019,HENSCHEL,ACTIVE,NaN,0.00,per Annum,41,91897.08,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,2758.62,MANHATTAN
31225,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,94004.0,SILVIA,2019,PORTES,ACTIVE,NaN,0.00,per Annum,41,94573.31,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,521.56,MANHATTAN
31226,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,94767.0,JAMAIRA,2019,SANCHEZ-MORALES,ACTIVE,NaN,0.00,per Annum,41,95341.02,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN
31227,TEACHERS RETIREMENT SYSTEM,2016-07-04T00:00:00.000,95194.0,PEGGY,2019,TARTT,ACTIVE,A,0.00,per Annum,41,95724.22,1825.00,ADMINISTRATIVE COMMUNITY RELATIONS SPECIALIST,0.00,0.00,MANHATTAN
31228,TEACHERS RETIREMENT SYSTEM,1998-01-20T00:00:00.000,95061.0,THERESA,2019,SMITH,ACTIVE,NaN,0.00,per Annum,41,95636.77,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,291.44,MANHATTAN
31229,TEACHERS RETIREMENT SYSTEM,1983-05-31T00:00:00.000,75506.0,ROBERT,2019,FADELICI,ACTIVE,H,255.00,per Annum,41,76019.53,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,11311.82,8726.18,MANHATTAN
31230,TEACHERS RETIREMENT SYSTEM,1998-07-06T00:00:00.000,81774.0,MIGUEL,2019,LEE,ACTIVE,NaN,232.50,per Annum,41,82250.84,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,12919.18,904.02,MANHATTAN
31231,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,90219.0,SIEW LING,2019,CHOW,ACTIVE,NaN,3.00,per Annum,41,90751.47,1825.00,COMPUTER ASSOCIATE,160.28,5922.59,MANHATTAN
31232,TEACHERS RETIREMENT SYSTEM,2003-05-12T00:00:00.000,94498.0,ALONA,2019,KOVARSKAYA,ACTIVE,NaN,0.00,per Annum,41,91431.01,1755.00,COMPUTER SPECIALIST,0.00,5727.95,MANHATTAN
31233,TEACHERS RETIREMENT SYSTEM,2013-04-21T00:00:00.000,91499.0,MAILEN,2019,NUNEZ,ACTIVE,NaN,0.00,per Annum,41,92615.55,1825.00,COMPUTER SPECIALIST,0.00,5199.16,MANHATTAN
31234,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,164641.0,SRINIVASAN,2019,NATARAJAN,ACTIVE,NaN,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31235,TEACHERS RETIREMENT SYSTEM,2003-05-05T00:00:00.000,164641.0,KIRAN,2019,BATHI,ACTIVE,K,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31236,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,165143.0,SATHYA,2019,KRISHNAMURTHY,ACTIVE,NaN,0.00,per Annum,41,166143.42,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31237,TEACHERS RETIREMENT SYSTEM,2003-06-16T00:00:00.000,167960.0,SAIPRASAD,2019,GOTETI,ACTIVE,N,0.00,per Annum,41,168977.45,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN
31404,TEACHERS RETIREMENT SYSTEM,1997-03-03T00:00:00.000,86252.0,DOROTHEA,2019,DOWLING,ACTIVE,R,0.00,per Annum,41,86774.68,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,1000.00,MANHATTAN
31405,TEACHERS RETIREMENT SYSTEM,2002-11-12T00:00:00.000,84137.0,JOAN,2019,TRIEU,ACTIVE,C,75.75,per Annum,41,84646.37,1825.00,ADMINISTRATIVE ACCOUNTANT,3033.40,521.56,MANHATTAN
31406,TEACHERS RETIREMENT SYSTEM,1998-06-22T00:00:00.000,79180.0,IRINA,2019,GUTMAN,ACTIVE,NaN,0.00,per Annum,41,79715.48,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN

In [433]:
def filter_column_by_value(result, column, value):
    return result[result[column].str.contains(value)]

In [434]:
yearly_result = filter_result_by_year(updated_result, "2019")

In [435]:
annual_result = filter_column_by_value(yearly_result, 'pay_basis', 'Annum')

In [436]:
def add_count_of_value(result, new_column_name, value_count_column):
    result[new_column_name] = result[value_count_column].map(result[value_count_column].value_counts())
    return result

In [437]:
active_result = filter_column_by_value(annual_result, 'leave_status_as_of_july_31', 'ACTIVE')

In [438]:
add_count_of_value(active_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
270,ADMIN FOR CHILDREN'S SVCS,2019-06-17T00:00:00.000,32426.0,JULIO,2019,FELIX,ACTIVE,NaN,0.00,per Annum,67,621.87,85.72,SPECIAL OFFICER,0.00,0.00,MANHATTAN,202.0
337,ADMIN FOR CHILDREN'S SVCS,2019-04-15T00:00:00.000,40275.0,ANDRE,2019,GRUBBS,ACTIVE,NaN,0.00,per Annum,67,3089.58,140.00,CASEWORKER,0.00,0.00,BRONX,270.0
341,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHRISTOPHER,2019,ESCOBAR,ACTIVE,C,0.00,per Annum,67,3201.09,227.00,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BROOKLYN,2535.0
342,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,32426.0,JOHNNY,2019,AYALA JR,ACTIVE,NaN,2.00,per Annum,67,3108.57,231.63,SPECIAL OFFICER,46.59,62.12,BROOKLYN,145.0
351,ADMIN FOR CHILDREN'S SVCS,2019-06-03T00:00:00.000,61280.0,ANDREA,2019,PURVIS,ACTIVE,L,0.00,per Annum,67,3525.70,145.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN,687.0
352,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERMANN,2019,TOUVOLI,ACTIVE,F,0.00,per Annum,67,3537.84,210.92,YOUTH DEVELOPMENT SPECIALIST,0.00,0.00,BRONX,1.0
353,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JERMAINE,2019,TROTMAN,ACTIVE,J,0.00,per Annum,67,3554.07,185.92,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,88.0
355,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CHAD,2019,SCOTT,ACTIVE,H,0.00,per Annum,67,3547.57,183.17,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,61.0
357,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAVID,2019,DANIEL,ACTIVE,E,0.00,per Annum,67,3715.96,180.37,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,2142.0
361,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,RAMEL,2019,WILLIAMSON,ACTIVE,T,0.00,per Annum,67,3754.91,192.17,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN,9.0
365,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,HERNAN,2019,CASTILLO,ACTIVE,N,0.00,per Annum,67,3887.57,194.52,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,6.0
367,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EDGAR,2019,NORALES OLIVA,ACTIVE,A,0.00,per Annum,67,3907.05,199.57,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,117.0
368,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CARL,2019,MARCUS,ACTIVE,A,0.00,per Annum,67,3907.05,200.50,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN,197.0
369,ADMIN FOR CHILDREN'S SVCS,2019-05-13T00:00:00.000,32426.0,VINCENT,2019,FOX,ACTIVE,B,0.00,per Annum,67,3731.22,285.72,SPECIAL OFFICER,0.00,225.17,BRONX,686.0
370,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,GABRIEL,2019,RODRIGUEZ,ACTIVE,NaN,0.00,per Annum,67,3949.65,197.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,178.0
372,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JASON,2019,COLLINS,ACTIVE,M,0.00,per Annum,67,3980.08,203.43,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,1115.0
374,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DAQUAN,2019,SEYMOUR,ACTIVE,A,0.00,per Annum,67,4010.52,204.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,12.0
376,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CONSTANTIN,2019,JEAN PIERRE,ACTIVE,NaN,0.00,per Annum,67,4016.60,203.42,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,17.0
378,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MICHAEL,2019,OSBOURNE,ACTIVE,D,0.00,per Annum,67,4050.27,204.22,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BRONX,5413.0
379,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,STANLEY,2019,SAUNDERS,ACTIVE,C,0.00,per Annum,67,4053.11,205.72,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,126.0
381,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MIGUEL,2019,WRIGHT,ACTIVE,NaN,0.00,per Annum,67,4066.51,198.08,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,326.0
382,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,TORISHEJU,2019,WILKIE,ACTIVE,M,0.00,per Annum,67,4063.26,206.33,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
384,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KALVIN,2019,CONTRERAS,ACTIVE,L,0.00,per Annum,67,4073.80,205.47,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,4.0
387,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ISIAH,2019,ABNEY,ACTIVE,A,0.00,per Annum,67,4163.06,207.95,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,11.0
389,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DESTEN,2019,LEVANT,ACTIVE,B,0.00,per Annum,67,4193.49,204.68,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,1.0
390,ADMIN FOR CHILDREN'S SVCS,2019-05-19T00:00:00.000,44426.0,DAVON,2019,REEVES,ACTIVE,C,0.00,per Annum,67,4205.26,207.78,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,22.0
391,ADMIN FOR CHILDREN'S SVCS,2019-06-10T00:00:00.000,110000.0,SAMANTHA,2019,FRIED,ACTIVE,A,0.00,per Annum,67,4219.18,110.00,DIRECTOR OF FIELD OPERATIONS,0.00,0.00,MANHATTAN,663.0
392,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,WRICKFORD,2019,DALGETTY,ACTIVE,A,0.00,per Annum,67,4202.42,205.83,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
393,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ABU,2019,SWARAY,ACTIVE,NaN,0.00,per Annum,67,4218.24,211.62,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,20.0
394,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,BERNARD,2019,CHERRY II,ACTIVE,C,0.00,per Annum,67,4218.63,211.28,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,100.0
395,ADMIN FOR CHILDREN'S SVCS,2019-05-28T00:00:00.000,55000.0,ANTHONY,2019,NIXON JR,ACTIVE,E,9.00,per Annum,67,4189.01,179.00,COMMUNITY COORDINATOR,30.10,8.25,BRONX,2216.0
397,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MALCOLM,2019,LAWRENCE,ACTIVE,E,0.00,per Annum,67,4243.40,208.42,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,62.0
398,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KOJO,2019,TAWIAH,ACTIVE,E,0.00,per Annum,67,4248.26,213.60,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,7.0
399,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,BENVONTAY,2019,FOGLER,ACTIVE,H,0.00,per Annum,67,4251.91,214.00,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,1.0
400,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DANIEL,2019,LANYAN,ACTIVE,K,0.00,per Annum,67,4256.78,213.12,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BRONX,2013.0
401,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DEVANTE,2019,LETFORD JR,ACTIVE,R,0.00,per Annum,67,4257.19,214.30,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BRONX,7.0
402,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DANIEL,2019,HOPE,ACTIVE,D,0.00,per Annum,67,4260.03,213.25,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,2013.0
403,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,MICHAEL,2019,BRAITHWAITE,ACTIVE,S,0.00,per Annum,67,4260.03,214.62,YOUTH DEVELOPMENT SPECIALIST,0.00,7.90,BROOKLYN,5413.0
404,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EMMANUEL,2019,OMAMOJASA,ACTIVE,D,0.00,per Annum,67,4247.05,213.88,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,162.0
405,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,CRAIG,2019,FINLAY,ACTIVE,H,0.00,per Annum,67,4249.89,206.92,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,265.0
406,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,JAVON,2019,LLEWELLYN,ACTIVE,A,0.00,per Annum,67,4250.29,214.27,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,12.0
409,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,PAUL,2019,SMITH,ACTIVE,S,0.00,per Annum,67,4257.19,214.30,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1047.0
410,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ANTHONY,2019,WILLIAMS,ACTIVE,L,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,2216.0
411,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,EDWIN,2019,TRINIDAD,ACTIVE,J,0.00,per Annum,67,4260.03,214.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,417.0
412,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,ANTHONY,2019,ROQUE,ACTIVE,NaN,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,2216.0
413,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,SHENIQUA,2019,FERGUSON,ACTIVE,K,0.00,per Annum,67,4260.03,207.75,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,7.0
414,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,SEAN,2019,BOEHM,ACTIVE,NaN,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,693.0
415,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,DENTON,2019,BLACK,ACTIVE,E,0.00,per Annum,67,4260.03,215.00,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
416,ADMIN FOR CHILDREN'S SVCS,2019-05-20T00:00:00.000,44426.0,KALIF,2019,AUSBY,ACTIVE,S,0.00,per Annum,67,4260.03,207.75,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,2.0
418,ADMIN FOR CHILDREN'S SVCS,2019-05-19T00:00:00.000,44426.0,ANTHONY,2019,PLACIDE JR,ACTIVE,NaN,0.00,per Annum,67,4253.94,214.42,YOUTH DEVELOPMENT SPECIALIST,0.00,38.31,BROOKLYN,2216.0
464,ADMIN FOR CHILDREN'S SVCS,2019-05-06T00:00:00.000,32426.0,EDWIN,2019,RODRIGUEZ,ACTIVE,M,0.00,per Annum,67,4210.59,316.55,SPECIAL OFFICER,0.00,163.05,BROOKLYN,417.0
467,ADMIN FOR CHILDREN'S SVCS,2019-05-28T00:00:00.000,61280.0,FRENCHY,2019,SCHAFFER,ACTIVE,NaN,0.00,per Annum,67,4465.87,173.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN,2.0
471,ADMIN FOR CHILDREN'S SVCS,2008-03-17T00:00:00.000,57070.0,JENINE,2019,KISHUN,ACTIVE,NaN,0.00,per Annum,67,4377.98,180.00,CHILD PROTECTIVE SPECIALIST,0.00,197.57,QUEENS,12.0
474,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,JOHN,2019,JOSEPH,ACTIVE,P,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,RICHMOND,3269.0
475,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SUBIN,2019,THACHERIL,ACTIVE,J,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,QUEENS,3.0
476,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,RAYMOND,2019,RAMSEY,ACTIVE,E,0.00,per Annum,67,7564.59,350.75,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,480.0
477,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,DEBORAH,2019,KENDALL,ACTIVE,A,4.00,per Annum,67,7548.45,319.05,CHILD PROTECTIVE SPECIALIST,40.46,0.00,MANHATTAN,645.0
478,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,MARIAH,2019,LEWINSON,ACTIVE,S,14.75,per Annum,67,7128.56,304.00,CHILD PROTECTIVE SPECIALIST,461.92,0.00,BROOKLYN,23.0
480,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,MARY,2019,MUSSALLI,ACTIVE,K,0.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,0.00,33.00,BRONX,886.0
481,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,MAZI,2019,HENRY- SIGMOND,ACTIVE,A,2.50,per Annum,67,7572.71,350.30,YOUTH DEVELOPMENT SPECIALIST,0.00,23.70,BROOKLYN,1.0
482,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SHAKIA,2019,WILKINS-BURRELL,ACTIVE,L,9.00,per Annum,67,7344.58,312.00,CHILD PROTECTIVE SPECIALIST,256.25,0.00,MANHATTAN,9.0
483,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,JACSIELL,2019,CAVALLO,ACTIVE,R,4.25,per Annum,67,7486.35,317.25,CHILD PROTECTIVE SPECIALIST,114.63,0.00,BRONX,1.0
484,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SERENA,2019,LALLMAHAMAD,ACTIVE,S,1.50,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,40.46,0.00,MANHATTAN,44.0
485,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,CHRISTOPHER,2019,HAMPTON,ACTIVE,E,8.50,per Annum,67,7589.74,344.53,YOUTH DEVELOPMENT SPECIALIST,0.00,15.80,BROOKLYN,2535.0
486,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,STEPHANIE,2019,FIGUEROA,ACTIVE,G,7.50,per Annum,67,7368.43,312.88,CHILD PROTECTIVE SPECIALIST,236.02,8.25,BROOKLYN,1227.0
487,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,NATHANIEL,2019,TAYLOR,ACTIVE,NaN,5.00,per Annum,67,7558.51,350.50,YOUTH DEVELOPMENT SPECIALIST,0.00,55.30,BROOKLYN,97.0
488,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,CATHERINE,2019,GOMEZ,ACTIVE,NaN,3.25,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,53.94,0.00,BRONX,555.0
489,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,ABDEL,2019,FALL,ACTIVE,K,4.00,per Annum,67,7560.60,317.33,CHILD PROTECTIVE SPECIALIST,60.69,0.00,BRONX,7.0
490,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,HUSNEARA,2019,BEGUM,ACTIVE,NaN,2.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,53.94,8.25,BRONX,1.0
492,ADMIN FOR CHILDREN'S SVCS,2019-04-22T00:00:00.000,44426.0,ANA,2019,OVANDO-VALENZUE,ACTIVE,D,11.50,per Annum,67,7578.79,344.08,YOUTH DEVELOPMENT SPECIALIST,0.00,55.30,BROOKLYN,553.0
493,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,KARINA,2019,YANEZ,ACTIVE,E,3.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,80.92,0.00,MANHATTAN,113.0
494,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,LAFLEUR,2019,THOMAS,ACTIVE,J,3.00,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,80.92,0.00,MANHATTAN,2.0
496,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,KARINA,2019,FLORES,ACTIVE,NaN,2.50,per Annum,67,7560.60,320.00,CHILD PROTECTIVE SPECIALIST,50.57,33.00,BRONX,113.0
497,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,DAVID,2019,GAILLOU,ACTIVE,NaN,6.50,per Annum,67,7519.20,318.47,CHILD PROTECTIVE SPECIALIST,121.38,8.25,BROOKLYN,2142.0
498,ADMIN FOR CHILDREN'S SVCS,2019-04-29T00:00:00.000,49279.0,SHAMEKA,2019,WEITHERS,ACTIVE,NaN,9.25,per Annum,67,7371.58,303.17,CHILD PROTECTIVE SPECIALIST,273.09,4.72,BRONX,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31202,TEACHERS RETIREMENT SYSTEM,2000-05-22T00:00:00.000,68380.0,KEITHA,2019,HART,ACTIVE,NaN,0.00,per Annum,41,68852.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8722.82,MANHATTAN,3.0
31203,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,66109.0,PETER,2019,NG,ACTIVE,NaN,44.75,per Annum,41,66494.74,1825.00,BOOKKEEPER,1609.47,9484.73,MANHATTAN,1022.0
31204,TEACHERS RETIREMENT SYSTEM,2013-09-22T00:00:00.000,72086.0,LORRAINE,2019,GRAY,ACTIVE,M,70.25,per Annum,41,72506.12,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3201.35,2192.52,MANHATTAN,225.0
31205,TEACHERS RETIREMENT SYSTEM,2002-07-08T00:00:00.000,74457.0,DARA,2019,PINNES,ACTIVE,E,52.00,per Annum,41,73891.89,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,2093.01,2047.99,MANHATTAN,44.0
31206,TEACHERS RETIREMENT SYSTEM,2001-01-02T00:00:00.000,68631.0,SOHIR,2019,FAHMY,ACTIVE,NaN,0.00,per Annum,41,69072.25,1825.00,INVESTMENT ANALYST,0.00,9840.26,MANHATTAN,2.0
31207,TEACHERS RETIREMENT SYSTEM,2002-11-04T00:00:00.000,69975.0,SHELLEY,2019,BUTTS,ACTIVE,NaN,0.00,per Annum,41,70450.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,6.37,8548.53,MANHATTAN,43.0
31208,TEACHERS RETIREMENT SYSTEM,2001-06-04T00:00:00.000,78589.0,CHRISTINA,2019,PEREZ,ACTIVE,NaN,0.00,per Annum,41,79064.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,918.0
31209,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,75895.0,DAVID,2019,YERUSHALMI,ACTIVE,NaN,9.00,per Annum,41,75687.04,1825.00,ASSOCIATE STAFF ANALYST,588.11,3927.51,MANHATTAN,2142.0
31210,TEACHERS RETIREMENT SYSTEM,2005-01-03T00:00:00.000,79854.0,DEBRA,2019,ROBINSON,ACTIVE,L,0.00,per Annum,41,79635.15,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,721.62,MANHATTAN,444.0
31211,TEACHERS RETIREMENT SYSTEM,2011-04-18T00:00:00.000,74243.0,DION,2019,MCDONALD,ACTIVE,P,0.00,per Annum,41,74728.80,1825.00,MANAGEMENT AUDITOR,0.00,6160.96,MANHATTAN,28.0
31212,TEACHERS RETIREMENT SYSTEM,1998-09-28T00:00:00.000,75863.0,SHOOK,2019,LUONG,ACTIVE,K,0.00,per Annum,41,76346.62,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,4898.01,MANHATTAN,1.0
31213,TEACHERS RETIREMENT SYSTEM,2005-05-23T00:00:00.000,75646.0,DANIEL,2019,JOSE JR,ACTIVE,NaN,85.50,per Annum,41,75438.75,1825.00,ASSOCIATE STAFF ANALYST,4087.83,1859.88,MANHATTAN,2013.0
31214,TEACHERS RETIREMENT SYSTEM,2018-10-29T00:00:00.000,125000.0,JAIMEEN,2019,PATEL,ACTIVE,A,0.00,per Annum,41,81506.84,1230.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN,1.0
31215,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,72757.0,YEVGENIYA,2019,VIZENTAL,ACTIVE,NaN,0.00,per Annum,41,73254.82,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN,25.0
31216,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,76911.0,TINA,2019,FREEMAN-SMITH,ACTIVE,NaN,0.00,per Annum,41,77400.79,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,4790.76,MANHATTAN,197.0
31217,TEACHERS RETIREMENT SYSTEM,2011-09-18T00:00:00.000,83073.0,JOHN,2019,QUADRINO,ACTIVE,E,0.00,per Annum,41,82384.63,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN,3269.0
31218,TEACHERS RETIREMENT SYSTEM,2005-11-21T00:00:00.000,73877.0,SAMUEL,2019,BASILY,ACTIVE,Y,0.00,per Annum,41,74515.27,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8389.94,MANHATTAN,327.0
31219,TEACHERS RETIREMENT SYSTEM,2005-08-22T00:00:00.000,82468.0,LENORA,2019,HINES,ACTIVE,D,0.00,per Annum,41,82242.16,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,832.77,MANHATTAN,23.0
31220,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,93178.0,LORNA,2019,DIXON-SAUNDERS,ACTIVE,NaN,0.00,per Annum,41,93742.52,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,68.0
31221,TEACHERS RETIREMENT SYSTEM,2001-03-26T00:00:00.000,93190.0,MARTIN,2019,TEZEN,ACTIVE,R,0.00,per Annum,41,93754.22,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,228.0
31222,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,90722.0,RAYMOND,2019,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,41,90473.49,1825.00,ASSOCIATE STAFF ANALYST,0.00,3735.26,MANHATTAN,480.0
31223,TEACHERS RETIREMENT SYSTEM,2004-07-19T00:00:00.000,80070.0,DANIEL,2019,FELDMAN,ACTIVE,NaN,152.75,per Annum,41,80536.43,1825.00,COMPUTER ASSOCIATE,8301.28,5391.00,MANHATTAN,2013.0
31224,TEACHERS RETIREMENT SYSTEM,2008-01-07T00:00:00.000,95952.0,MICHAEL,2019,HENSCHEL,ACTIVE,NaN,0.00,per Annum,41,91897.08,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,2758.62,MANHATTAN,5413.0
31225,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,94004.0,SILVIA,2019,PORTES,ACTIVE,NaN,0.00,per Annum,41,94573.31,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,521.56,MANHATTAN,88.0
31226,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,94767.0,JAMAIRA,2019,SANCHEZ-MORALES,ACTIVE,NaN,0.00,per Annum,41,95341.02,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,1.0
31227,TEACHERS RETIREMENT SYSTEM,2016-07-04T00:00:00.000,95194.0,PEGGY,2019,TARTT,ACTIVE,A,0.00,per Annum,41,95724.22,1825.00,ADMINISTRATIVE COMMUNITY RELATIONS SPECIALIST,0.00,0.00,MANHATTAN,68.0
31228,TEACHERS RETIREMENT SYSTEM,1998-01-20T00:00:00.000,95061.0,THERESA,2019,SMITH,ACTIVE,NaN,0.00,per Annum,41,95636.77,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,291.44,MANHATTAN,474.0
31229,TEACHERS RETIREMENT SYSTEM,1983-05-31T00:00:00.000,75506.0,ROBERT,2019,FADELICI,ACTIVE,H,255.00,per Annum,41,76019.53,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,11311.82,8726.18,MANHATTAN,2549.0
31230,TEACHERS RETIREMENT SYSTEM,1998-07-06T00:00:00.000,81774.0,MIGUEL,2019,LEE,ACTIVE,NaN,232.50,per Annum,41,82250.84,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,12919.18,904.02,MANHATTAN,326.0
31231,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,90219.0,SIEW LING,2019,CHOW,ACTIVE,NaN,3.00,per Annum,41,90751.47,1825.00,COMPUTER ASSOCIATE,160.28,5922.59,MANHATTAN,1.0
31232,TEACHERS RETIREMENT SYSTEM,2003-05-12T00:00:00.000,94498.0,ALONA,2019,KOVARSKAYA,ACTIVE,NaN,0.00,per Annum,41,91431.01,1755.00,COMPUTER SPECIALIST,0.00,5727.95,MANHATTAN,4.0
31233,TEACHERS RETIREMENT SYSTEM,2013-04-21T00:00:00.000,91499.0,MAILEN,2019,NUNEZ,ACTIVE,NaN,0.00,per Annum,41,92615.55,1825.00,COMPUTER SPECIALIST,0.00,5199.16,MANHATTAN,1.0
31234,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,164641.0,SRINIVASAN,2019,NATARAJAN,ACTIVE,NaN,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN,4.0

In [439]:
import numpy as np

In [440]:
def get_data_set(result, column, threshold, groupby_col, agg_call):
    return result[result[column] > threshold].groupby([groupby_col, 'name_count']).agg({agg_call: np.mean}).sort_values(agg_call, ascending=False).reset_index()

In [441]:
get_data_set(active_result, 'name_count', 1000, 'first_name', 'base_salary')

     first_name  name_count   base_salary
0          JOHN      3269.0  87157.862053
1          PAUL      1047.0  86434.287488
2         PETER      1022.0  86432.364971
3        THOMAS      1836.0  86356.539978
4        ROBERT      2549.0  85184.787007
5         JAMES      2283.0  84954.260784
6       RICHARD      1453.0  84652.619484
7         BRIAN      1532.0  84438.676893
8       WILLIAM      1642.0  84257.104141
9          LISA      1557.0  83648.308927
10      MICHAEL      5413.0  83478.062557
11       JOSEPH      2945.0  82849.590727
12       STEVEN      1260.0  82723.023810
13        DAVID      2142.0  82689.504202
14     JENNIFER      2198.0  81336.893540
15       DANIEL      2013.0  80867.378788
16       ANDREW      1174.0  80646.823910
17        KEVIN      1556.0  79788.145244
18      MATTHEW      1618.0  79578.672509
19    ELIZABETH      1454.0  79543.598294
20        JASON      1115.0  78657.430404
21     MICHELLE      1441.0  78393.288633
22     PATRICIA      1085.0  77916.494931
23      MELISSA      1217.0  77635.383730
24  CHRISTOPHER      2535.0  77489.232347
25      ANTHONY      2216.0  76712.884025
26       NICOLE      1488.0  76273.995060
27      JESSICA      1539.0  76014.664717
28         JOSE      1081.0  74115.926920
29        MARIA      1995.0  74113.475689
30    STEPHANIE      1227.0  71967.846781

In [442]:
all_result = add_count_of_value(annual_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [443]:
get_data_set(all_result, 'name_count', 1000, 'first_name', 'base_salary')

     first_name  name_count   base_salary
0         SUSAN      1038.0  89015.941233
1          MARK      1013.0  88385.796594
2          JOHN      3699.0  87027.850108
3        THOMAS      2094.0  86495.210793
4          PAUL      1191.0  86265.361881
5         PETER      1171.0  86193.935952
6        ROBERT      2936.0  85549.077180
7         JAMES      2614.0  85110.585451
8       RICHARD      1683.0  84511.985805
9       WILLIAM      1877.0  84158.846564
10        BRIAN      1692.0  83960.926123
11        KAREN      1161.0  83439.975883
12      MICHAEL      6053.0  83316.280129
13         LISA      1750.0  83172.800571
14       JOSEPH      3307.0  82996.751947
15       STEVEN      1459.0  82819.386566
16        DAVID      2438.0  82266.109721
17         MARY      1126.0  81687.944938
18    CHRISTINE      1108.0  81519.582130
19         ERIC      1065.0  80817.137089
20       DANIEL      2263.0  80456.392620
21       ANDREW      1319.0  80181.122267
22     JENNIFER      2449.0  80129.678032
23   JACQUELINE      1045.0  80041.633493
24        KEVIN      1747.0  79388.928449
25      MATTHEW      1781.0  79280.405458
26    ELIZABETH      1717.0  78848.121095
27     PATRICIA      1367.0  78771.592538
28        JASON      1209.0  77806.604491
29     MICHELLE      1622.0  77128.209568
30  CHRISTOPHER      2778.0  77051.065860
31     DANIELLE      1064.0  76720.642857
32      ANTHONY      2472.0  76588.091828
33      MELISSA      1345.0  76343.815613
34       NICOLE      1678.0  74798.711353
35      JESSICA      1733.0  74372.577299
36       ANGELA      1008.0  74314.253968
37    CHRISTINA      1060.0  73877.923585
38     NICHOLAS      1064.0  73827.972058
39        MARIA      2354.0  73655.202621
40         JOSE      1225.0  73630.440816
41     JONATHAN      1108.0  72938.443457
42    STEPHANIE      1386.0  71012.031025

In [444]:
get_data_set(active_result, 'name_count', 1000, 'first_name', 'regular_gross_paid')

     first_name  name_count  regular_gross_paid
0          JOHN      3269.0        86294.486072
1          LISA      1557.0        85994.996885
2          PAUL      1047.0        85856.806084
3         PETER      1022.0        85702.975998
4        THOMAS      1836.0        85151.894978
5        ROBERT      2549.0        84723.700039
6         JAMES      2283.0        84105.541178
7       RICHARD      1453.0        83938.049683
8         BRIAN      1532.0        83214.455176
9       WILLIAM      1642.0        83143.463441
10     JENNIFER      2198.0        82624.692425
11      MICHAEL      5413.0        82128.744940
12        DAVID      2142.0        81682.401499
13       STEVEN      1260.0        81663.661079
14       JOSEPH      2945.0        81518.490862
15     PATRICIA      1085.0        80498.977484
16    ELIZABETH      1454.0        80399.090371
17     MICHELLE      1441.0        79220.130874
18       DANIEL      2013.0        79196.825544
19       ANDREW      1174.0        78907.287061
20        KEVIN      1556.0        78345.673425
21      MATTHEW      1618.0        77512.558035
22      MELISSA      1217.0        77504.713139
23        JASON      1115.0        77310.510368
24        MARIA      1995.0        76760.035960
25       NICOLE      1488.0        75752.325047
26      JESSICA      1539.0        75184.645932
27  CHRISTOPHER      2535.0        75004.510702
28      ANTHONY      2216.0        74902.303542
29         JOSE      1081.0        73874.378122
30    STEPHANIE      1227.0        70627.004980

In [445]:
get_data_set(all_result, 'name_count', 500, 'first_name', 'base_salary')

      first_name  name_count   base_salary
0          SCOTT       584.0  89729.364127
1          SUSAN      1038.0  89015.941233
2            AMY       590.0  88478.842373
3           MARK      1013.0  88385.796594
4           JOHN      3699.0  87027.850108
5         THOMAS      2094.0  86495.210793
6           PAUL      1191.0  86265.361881
7          PETER      1171.0  86193.935952
8        TIMOTHY       773.0  85882.790776
9        STEPHEN       940.0  85793.350000
10        EDWARD       967.0  85611.854188
11        ROBERT      2936.0  85549.077180
12         JAMES      2614.0  85110.585451
13         FRANK       899.0  85008.295384
14       RICHARD      1683.0  84511.985805
15      KATHLEEN       678.0  84282.864307
16       JEFFREY       800.0  84181.383750
17       WILLIAM      1877.0  84158.846564
18         BRIAN      1692.0  83960.926123
19       PATRICK       966.0  83639.713251
20         LAURA       997.0  83513.846851
21         KAREN      1161.0  83439.975883
22         KEITH       511.0  83326.283757
23       MICHAEL      6053.0  83316.280129
24       KENNETH       808.0  83214.273515
25          LISA      1750.0  83172.800571
26       MICHELE       593.0  83117.409966
27        JOSEPH      3307.0  82996.751947
28        STEVEN      1459.0  82819.386566
29       DEBORAH       806.0  82717.647643
30         DEBRA       556.0  82321.126835
31         NANCY       826.0  82314.618523
32       BARBARA       837.0  82281.161290
33         DAVID      2438.0  82266.109721
34       CHARLES       844.0  82151.590047
35        GEORGE       784.0  82019.183673
36       VINCENT       779.0  82016.494223
37          ADAM       549.0  81852.101749
38          MARY      1126.0  81687.944938
39         DIANE       600.0  81597.668333
40     CHRISTINE      1108.0  81519.582130
41       RAYMOND       559.0  81442.173524
42      MARGARET       615.0  81370.813008
43        LAUREN       974.0  81037.327515
44          ERIC      1065.0  80817.137089
45        RACHEL       632.0  80702.110759
46        PAMELA       554.0  80463.032491
47        RONALD       563.0  80461.824156
48        DANIEL      2263.0  80456.392620
49     CATHERINE       654.0  80241.461774
50        ANDREW      1319.0  80181.122267
51      JENNIFER      2449.0  80129.678032
52    JACQUELINE      1045.0  80041.633493
53       GREGORY       787.0  79912.336722
54          SEAN       773.0  79800.101876
55         KEVIN      1747.0  79388.928449
56       MATTHEW      1781.0  79280.405458
57         DONNA       741.0  79170.265857
58     ELIZABETH      1717.0  78848.121095
59      PATRICIA      1367.0  78771.592538
60        ANDREA       793.0  78720.906683
61         KELLY       569.0  78087.544815
62       THERESA       575.0  77920.173913
63         JASON      1209.0  77806.604491
64          ANNA       612.0  77804.619281
65         SARAH       728.0  77750.649725
66         EMILY       520.0  77212.907692
67        SHARON       895.0  77150.076425
68      MICHELLE      1622.0  77128.209568
69     KATHERINE       657.0  77093.855403
70   CHRISTOPHER      2778.0  77051.065860
71         LINDA       890.0  77048.026966
72      DANIELLE      1064.0  76720.642857
73       ANTHONY      2472.0  76588.091828
74       CYNTHIA       736.0  76460.569293
75     ALEXANDER       591.0  76345.807343
76       MELISSA      1345.0  76343.815613
77        DENISE       982.0  76088.024440
78        CARLOS       721.0  76063.638003
79       VALERIE       502.0  75743.822709
80      KIMBERLY       794.0  75630.014673
81        VICTOR       507.0  75358.637081
82         ERICA       503.0  75230.512922
83         DIANA       812.0  75129.560345
84        SANDRA       876.0  75057.208904
85        NICOLE      1678.0  74798.711353
86         MARIE       652.0  74473.770629
87       JESSICA      1733.0  74372.577299
88        ANGELA      1008.0  74314.253968
89      VICTORIA       588.0  73926.852041
90     CHRISTINA      1060.0  73877.923585
91      NICHOLAS      1064.0  73827.972058
92         MARIA      2354.0  73655.202621
93          JOSE      1225.0  73630.440816
94          JUAN       584.0  73460.462329
95      JONATHAN      1108.0  72938.443457
96        JOSHUA       574.0  72822.650296
97          LUIS       766.0  71517.073107
98     STEPHANIE      1386.0  71012.031025
99          RYAN       713.0  70505.567461
100      VANESSA       634.0  70393.886435
101       AMANDA       847.0  69687.419717
102       JUSTIN       546.0  69009.588516
103     SAMANTHA       740.0  68683.016216
104       CARMEN       665.0  67614.496241
105          ANA       648.0  67460.268519
106      TIFFANY       632.0  63933.879747
107       ASHLEY       671.0  60892.149031

In [447]:
pd.set_option('display.max_rows', 150)

In [448]:
get_data_set(all_result, 'name_count', 500, 'first_name', 'regular_gross_paid')

      first_name  name_count  regular_gross_paid
0          SCOTT       584.0        84233.126781
1            AMY       590.0        83110.888780
2           JOHN      3699.0        80612.001417
3           MARK      1013.0        80369.734383
4           PAUL      1191.0        79718.267481
5         THOMAS      2094.0        79297.230296
6           LISA      1750.0        79090.575309
7          PETER      1171.0        79066.710478
8          FRANK       899.0        79026.018231
9        TIMOTHY       773.0        78911.838693
10        EDWARD       967.0        78634.860300
11         BRIAN      1692.0        78533.567665
12       STEPHEN       940.0        78432.928128
13         JAMES      2614.0        78362.146117
14         KEITH       511.0        77929.034266
15        ROBERT      2936.0        77882.680797
16       PATRICK       966.0        77679.637526
17       MICHELE       593.0        77597.056121
18          ADAM       549.0        77504.490237
19       WILLIAM      1877.0        77416.735978
20      KATHLEEN       678.0        77248.808289
21       RICHARD      1683.0        77234.107291
22       MICHAEL      6053.0        77062.800055
23       JEFFREY       800.0        76931.922862
24        JOSEPH      3307.0        76560.202395
25         KAREN      1161.0        76553.590078
26         LAURA       997.0        76313.346580
27      JENNIFER      2449.0        76304.241592
28     CHRISTINE      1108.0        76199.305469
29         SUSAN      1038.0        75876.736301
30         DAVID      2438.0        75531.122760
31        STEVEN      1459.0        75372.119109
32       VINCENT       779.0        75176.576110
33          ERIC      1065.0        75111.241202
34        PAMELA       554.0        75089.047527
35       KENNETH       808.0        75046.821609
36       GREGORY       787.0        74561.106557
37       CHARLES       844.0        74482.732429
38    JACQUELINE      1045.0        74160.027397
39       DEBORAH       806.0        74026.825918
40        LAUREN       974.0        73959.207710
41        GEORGE       784.0        73955.041620
42        DANIEL      2263.0        73930.808387
43        RACHEL       632.0        73803.563623
44         KEVIN      1747.0        73672.988558
45       RAYMOND       559.0        73601.503470
46          SEAN       773.0        73546.582406
47        ANDREW      1319.0        73505.455034
48         NANCY       826.0        73285.775872
49         JASON      1209.0        73200.122589
50         DEBRA       556.0        73053.695809
51       MATTHEW      1781.0        72920.569175
52        RONALD       563.0        72655.806963
53      MICHELLE      1622.0        72448.511153
54        ANDREA       793.0        72406.102774
55         KELLY       569.0        72220.643550
56     CATHERINE       654.0        72140.492752
57       MELISSA      1345.0        72081.535353
58      DANIELLE      1064.0        71934.102397
59     ELIZABETH      1717.0        71670.452411
60   CHRISTOPHER      2778.0        71157.906368
61         DONNA       741.0        70999.165857
62      MARGARET       615.0        70972.701724
63        DENISE       982.0        70718.857688
64        CARLOS       721.0        70642.439182
65          MARY      1126.0        70585.756421
66          ANNA       612.0        70562.761193
67       ANTHONY      2472.0        70388.042063
68        SHARON       895.0        70334.568201
69         DIANE       600.0        70233.040900
70       THERESA       575.0        70194.484852
71      KIMBERLY       794.0        69982.206650
72        NICOLE      1678.0        69413.379911
73         SARAH       728.0        69242.467335
74         MARIE       652.0        69061.919985
75       JESSICA      1733.0        68829.283387
76     ALEXANDER       591.0        68767.523519
77         ERICA       503.0        68751.171610
78      PATRICIA      1367.0        68741.340241
79          JUAN       584.0        68693.728990
80       CYNTHIA       736.0        68602.579035
81         DIANA       812.0        68336.725739
82        ANGELA      1008.0        68331.957401
83          JOSE      1225.0        68285.072653
84       VALERIE       502.0        68126.873944
85         MARIA      2354.0        68024.389121
86     CHRISTINA      1060.0        67966.529358
87       BARBARA       837.0        67863.461959
88         EMILY       520.0        67836.388481
89        VICTOR       507.0        67791.923333
90     KATHERINE       657.0        67632.790365
91      NICHOLAS      1064.0        67215.417190
92        JOSHUA       574.0        67055.656429
93        SANDRA       876.0        66948.136039
94      JONATHAN      1108.0        65604.303836
95      VICTORIA       588.0        65501.805969
96          LUIS       766.0        64656.701932
97     STEPHANIE      1386.0        64604.357381
98       VANESSA       634.0        64146.552950
99          RYAN       713.0        63839.954839
100       JUSTIN       546.0        62387.940733
101        LINDA       890.0        62305.952090
102     SAMANTHA       740.0        61977.336027
103       AMANDA       847.0        61924.555561
104          ANA       648.0        61620.012454
105       CARMEN       665.0        59556.870135
106      TIFFANY       632.0        56764.228006
107       ASHLEY       671.0        52599.908808

In [449]:
get_data_set(all_result, 'name_count', 500, 'first_name', 'base_salary')

      first_name  name_count   base_salary
0          SCOTT       584.0  89729.364127
1          SUSAN      1038.0  89015.941233
2            AMY       590.0  88478.842373
3           MARK      1013.0  88385.796594
4           JOHN      3699.0  87027.850108
5         THOMAS      2094.0  86495.210793
6           PAUL      1191.0  86265.361881
7          PETER      1171.0  86193.935952
8        TIMOTHY       773.0  85882.790776
9        STEPHEN       940.0  85793.350000
10        EDWARD       967.0  85611.854188
11        ROBERT      2936.0  85549.077180
12         JAMES      2614.0  85110.585451
13         FRANK       899.0  85008.295384
14       RICHARD      1683.0  84511.985805
15      KATHLEEN       678.0  84282.864307
16       JEFFREY       800.0  84181.383750
17       WILLIAM      1877.0  84158.846564
18         BRIAN      1692.0  83960.926123
19       PATRICK       966.0  83639.713251
20         LAURA       997.0  83513.846851
21         KAREN      1161.0  83439.975883
22         KEITH       511.0  83326.283757
23       MICHAEL      6053.0  83316.280129
24       KENNETH       808.0  83214.273515
25          LISA      1750.0  83172.800571
26       MICHELE       593.0  83117.409966
27        JOSEPH      3307.0  82996.751947
28        STEVEN      1459.0  82819.386566
29       DEBORAH       806.0  82717.647643
30         DEBRA       556.0  82321.126835
31         NANCY       826.0  82314.618523
32       BARBARA       837.0  82281.161290
33         DAVID      2438.0  82266.109721
34       CHARLES       844.0  82151.590047
35        GEORGE       784.0  82019.183673
36       VINCENT       779.0  82016.494223
37          ADAM       549.0  81852.101749
38          MARY      1126.0  81687.944938
39         DIANE       600.0  81597.668333
40     CHRISTINE      1108.0  81519.582130
41       RAYMOND       559.0  81442.173524
42      MARGARET       615.0  81370.813008
43        LAUREN       974.0  81037.327515
44          ERIC      1065.0  80817.137089
45        RACHEL       632.0  80702.110759
46        PAMELA       554.0  80463.032491
47        RONALD       563.0  80461.824156
48        DANIEL      2263.0  80456.392620
49     CATHERINE       654.0  80241.461774
50        ANDREW      1319.0  80181.122267
51      JENNIFER      2449.0  80129.678032
52    JACQUELINE      1045.0  80041.633493
53       GREGORY       787.0  79912.336722
54          SEAN       773.0  79800.101876
55         KEVIN      1747.0  79388.928449
56       MATTHEW      1781.0  79280.405458
57         DONNA       741.0  79170.265857
58     ELIZABETH      1717.0  78848.121095
59      PATRICIA      1367.0  78771.592538
60        ANDREA       793.0  78720.906683
61         KELLY       569.0  78087.544815
62       THERESA       575.0  77920.173913
63         JASON      1209.0  77806.604491
64          ANNA       612.0  77804.619281
65         SARAH       728.0  77750.649725
66         EMILY       520.0  77212.907692
67        SHARON       895.0  77150.076425
68      MICHELLE      1622.0  77128.209568
69     KATHERINE       657.0  77093.855403
70   CHRISTOPHER      2778.0  77051.065860
71         LINDA       890.0  77048.026966
72      DANIELLE      1064.0  76720.642857
73       ANTHONY      2472.0  76588.091828
74       CYNTHIA       736.0  76460.569293
75     ALEXANDER       591.0  76345.807343
76       MELISSA      1345.0  76343.815613
77        DENISE       982.0  76088.024440
78        CARLOS       721.0  76063.638003
79       VALERIE       502.0  75743.822709
80      KIMBERLY       794.0  75630.014673
81        VICTOR       507.0  75358.637081
82         ERICA       503.0  75230.512922
83         DIANA       812.0  75129.560345
84        SANDRA       876.0  75057.208904
85        NICOLE      1678.0  74798.711353
86         MARIE       652.0  74473.770629
87       JESSICA      1733.0  74372.577299
88        ANGELA      1008.0  74314.253968
89      VICTORIA       588.0  73926.852041
90     CHRISTINA      1060.0  73877.923585
91      NICHOLAS      1064.0  73827.972058
92         MARIA      2354.0  73655.202621
93          JOSE      1225.0  73630.440816
94          JUAN       584.0  73460.462329
95      JONATHAN      1108.0  72938.443457
96        JOSHUA       574.0  72822.650296
97          LUIS       766.0  71517.073107
98     STEPHANIE      1386.0  71012.031025
99          RYAN       713.0  70505.567461
100      VANESSA       634.0  70393.886435
101       AMANDA       847.0  69687.419717
102       JUSTIN       546.0  69009.588516
103     SAMANTHA       740.0  68683.016216
104       CARMEN       665.0  67614.496241
105          ANA       648.0  67460.268519
106      TIFFANY       632.0  63933.879747
107       ASHLEY       671.0  60892.149031

In [450]:
def filter_less_than(result, column, threshold):
    return result[result[column] < threshold]

In [451]:
per_hour_result = filter_column_by_value(yearly_result, 'pay_basis', 'Hour')

In [452]:
per_hour_result = filter_less_than(per_hour_result, 'base_salary', 20000)

In [453]:
add_count_of_value(per_hour_result, 'name_count', 'first_name').sort_values('base_salary', ascending=False)

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
28128,CIVIL SERVICE COMMISSION,2009-05-05T00:00:00.000,481.85,NANCY,2019,CHAFFETZ,ACTIVE,G,0.00,per Hour,134,95873.85,3.23,CHAIRMAN,0.00,0.00,MANHATTAN,262
28129,CIVIL SERVICE COMMISSION,2003-11-03T00:00:00.000,442.43,RUDY,2019,WASHINGTON,ACTIVE,NaN,0.00,per Hour,134,106037.83,3.88,COMMISSIONER,0.00,50.00,MANHATTAN,3
28125,CIVIL SERVICE COMMISSION,2016-07-19T00:00:00.000,442.43,LARRY,2019,DAIS,ACTIVE,NaN,0.00,per Hour,134,78393.68,2.83,COMMISSIONER,0.00,0.00,MANHATTAN,67
28123,CIVIL SERVICE COMMISSION,2011-03-28T00:00:00.000,442.43,CHARLES,2019,MCFAUL,ACTIVE,D,0.00,per Hour,134,72743.49,2.68,COMMISSIONER,0.00,0.00,MANHATTAN,229
26848,CIVILIAN COMPLAINT REVIEW BD,2016-09-26T00:00:00.000,346.00,FREDERICK,2019,DAVIE JR,ACTIVE,NaN,0.00,per Hour,54,3465.00,0.18,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,35
26854,CIVILIAN COMPLAINT REVIEW BD,2016-09-26T00:00:00.000,315.00,ANGELA,2019,FERNANDEZ,CEASED,NaN,0.00,per Hour,54,4725.00,0.25,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,298
26864,CIVILIAN COMPLAINT REVIEW BD,2018-05-04T00:00:00.000,315.00,ERICA,2019,GERSOWITZ,ACTIVE,M,0.00,per Hour,54,5355.00,0.28,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,1000.00,MANHATTAN,84
26846,CIVILIAN COMPLAINT REVIEW BD,2016-09-01T00:00:00.000,315.00,MARBRE,2019,STAHLY-BUTTS,ACTIVE,NaN,0.00,per Hour,54,2205.00,0.12,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,1
26849,CIVILIAN COMPLAINT REVIEW BD,2016-05-23T00:00:00.000,315.00,RAMON,2019,PEGUERO,ACTIVE,NaN,0.00,per Hour,54,3465.00,0.18,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,50
26858,CIVILIAN COMPLAINT REVIEW BD,2016-10-31T00:00:00.000,315.00,JOHN,2019,SIEGAL,ACTIVE,NaN,0.00,per Hour,54,5040.00,0.33,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,570
26881,CIVILIAN COMPLAINT REVIEW BD,2016-05-13T00:00:00.000,315.00,FRANK,2019,DWYER III,ACTIVE,J,0.00,per Hour,54,11025.00,0.67,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,135
26868,CIVILIAN COMPLAINT REVIEW BD,2018-09-12T00:00:00.000,315.00,NATHAN,2019,JOSEPH,ACTIVE,N,0.00,per Hour,54,8820.00,0.47,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,28
26887,CIVILIAN COMPLAINT REVIEW BD,2014-10-01T00:00:00.000,315.00,LINDSAY,2019,EASON,ACTIVE,E,0.00,per Hour,54,16380.00,0.87,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,12
26892,CIVILIAN COMPLAINT REVIEW BD,2018-01-29T00:00:00.000,315.00,MICHAEL,2019,RIVADENEYRA,ACTIVE,NaN,0.00,per Hour,54,20790.00,0.95,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,826
26899,CIVILIAN COMPLAINT REVIEW BD,2013-12-09T00:00:00.000,315.00,JOSEPH,2019,PUMA,ACTIVE,NaN,0.00,per Hour,54,27090.00,1.43,"MEMBER, CIVILIAN COMPLAINT REVIEW BOARD",0.00,0.00,MANHATTAN,445
2724,DEPT OF HEALTH/MENTAL HYGIENE,1996-10-15T00:00:00.000,312.25,ANTHONY,2019,SGARLATO,ACTIVE,NaN,0.00,per Hour,816,47774.25,154.00,MEDICAL INVESTIGATOR,0.00,0.00,RICHMOND,479
1240,DEPT OF HEALTH/MENTAL HYGIENE,1996-12-30T00:00:00.000,312.25,JOHN,2019,LAZZARA,ACTIVE,NaN,0.00,per Hour,816,31849.50,102.00,MEDICAL INVESTIGATOR,0.00,500.00,RICHMOND,570
482,DEPT OF HEALTH/MENTAL HYGIENE,2017-02-27T00:00:00.000,312.25,MIGUEL,2019,TIRADO,ON LEAVE,A,0.00,per Hour,816,13697.26,40.00,MEDICAL INVESTIGATOR,0.00,0.00,RICHMOND,110
49158,BOARD OF ELECTION,2019-03-04T00:00:00.000,300.00,PATRICIA,2019,TAYLOR,ACTIVE,A,0.00,per Hour,3,9900.00,39.00,COMMISSIONER,0.00,0.00,MANHATTAN,572
49185,BOARD OF ELECTION,2016-07-04T00:00:00.000,300.00,ROSANNA,2019,VARGAS,CEASED,NaN,0.00,per Hour,3,12600.00,39.00,COMMISSIONER,0.00,0.00,MANHATTAN,18
49304,BOARD OF ELECTION,2013-01-27T00:00:00.000,300.00,MICHAEL,2019,MICHEL,ACTIVE,NaN,0.00,per Hour,3,28500.00,97.00,COMMISSIONER,0.00,0.00,MANHATTAN,826
49149,BOARD OF ELECTION,2019-03-13T00:00:00.000,300.00,TIFFANY,2019,TOWNSEND,ACTIVE,A,0.00,per Hour,3,8700.00,38.00,COMMISSIONER,0.00,0.00,MANHATTAN,187
49171,BOARD OF ELECTION,2019-03-04T00:00:00.000,300.00,MIGUELINA,2019,CAMILO,ACTIVE,M,0.00,per Hour,3,11400.00,49.00,COMMISSIONER,0.00,0.00,MANHATTAN,15
49172,BOARD OF ELECTION,2014-04-14T00:00:00.000,300.00,ALAN,2019,SCHULKIN,CEASED,J,0.00,per Hour,3,11400.00,38.00,COMMISSIONER,0.00,0.00,MANHATTAN,63
49250,BOARD OF ELECTION,1995-10-29T00:00:00.000,300.00,FREDERIC,2019,UMANE,ACTIVE,M,0.00,per Hour,3,20400.00,77.00,COMMISSIONER,0.00,0.00,MANHATTAN,6
49292,BOARD OF ELECTION,2011-08-01T00:00:00.000,300.00,MARIA,2019,GUASTELLA,CEASED,R,0.00,per Hour,3,27000.00,86.00,COMMISSIONER,0.00,0.00,MANHATTAN,956
49298,BOARD OF ELECTION,2013-02-03T00:00:00.000,300.00,SIMON,2019,SHAMOUN,ACTIVE,NaN,0.00,per Hour,3,28200.00,98.00,COMMISSIONER,0.00,0.00,MANHATTAN,28
49302,BOARD OF ELECTION,2017-02-26T00:00:00.000,300.00,ROBERT,2019,SIANO,ACTIVE,D,0.00,per Hour,3,28500.00,102.00,COMMISSIONER,0.00,0.00,MANHATTAN,554
49303,BOARD OF ELECTION,2014-09-22T00:00:00.000,300.00,JOHN,2019,FLATEAU,ACTIVE,NaN,0.00,per Hour,3,28500.00,97.00,COMMISSIONER,0.00,0.00,MANHATTAN,570
49320,BOARD OF ELECTION,2008-10-20T00:00:00.000,300.00,JOSE,2019,ARAUJO,ACTIVE,M,0.00,per Hour,3,30300.00,102.00,COMMISSIONER,0.00,0.00,MANHATTAN,335
49466,BOARD OF ELECTION,2017-04-09T00:00:00.000,300.00,JOHN,2019,ZACCONE,ACTIVE,W,0.00,per Hour,3,35700.00,118.00,COMMISSIONER,0.00,0.00,MANHATTAN,570
29866,HUNTER COLLEGE HIGH SCHOOL,2018-11-01T00:00:00.000,185.05,LUCIANA,2019,PINCHIERO,ACTIVE,B,0.00,per Hour,470,647.68,3.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,6
29865,HUNTER COLLEGE HIGH SCHOOL,2019-03-22T00:00:00.000,185.05,FIANA,2019,BURSHTEYN,ACTIVE,NaN,0.00,per Hour,470,647.68,3.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29860,HUNTER COLLEGE HIGH SCHOOL,2018-02-07T00:00:00.000,185.05,MADELINE ANNA,2019,BILLOWS,ACTIVE,K,0.00,per Hour,470,528.63,0.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29867,HUNTER COLLEGE HIGH SCHOOL,2015-11-03T00:00:00.000,185.05,PETER,2019,LANDESMAN,ACTIVE,NaN,0.00,per Hour,470,740.20,4.00,SUBSTITUTE TEACHER,0.00,6.49,MANHATTAN,194
29868,HUNTER COLLEGE HIGH SCHOOL,2018-11-20T00:00:00.000,185.05,THOMAS,2019,HARPER,CEASED,J,0.00,per Hour,470,832.76,4.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,263
29869,HUNTER COLLEGE HIGH SCHOOL,2018-09-21T00:00:00.000,185.05,GUSTAVO,2019,MURILLO FERNAND,CEASED,NaN,0.00,per Hour,470,832.76,4.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,14
29871,HUNTER COLLEGE HIGH SCHOOL,2018-10-16T00:00:00.000,185.05,MAYA,2019,PETER,ACTIVE,S,0.00,per Hour,470,925.25,5.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,31
29872,HUNTER COLLEGE HIGH SCHOOL,2011-11-08T00:00:00.000,185.05,JOHN,2019,BASIAS,ACTIVE,E,0.00,per Hour,470,925.25,5.00,SUBSTITUTE TEACHER,0.00,2.47,MANHATTAN,570
29864,HUNTER COLLEGE HIGH SCHOOL,2019-01-23T00:00:00.000,185.05,MUNA,2019,ATWA,CEASED,NaN,0.00,per Hour,470,555.15,3.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,2
29863,HUNTER COLLEGE HIGH SCHOOL,2019-05-07T00:00:00.000,185.05,JESSICA,2019,MAFFIA,ACTIVE,A,0.00,per Hour,470,555.15,3.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,282
29876,HUNTER COLLEGE HIGH SCHOOL,2017-10-16T00:00:00.000,185.05,KELLY,2019,CHEN,CEASED,NaN,0.00,per Hour,470,1110.30,2.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,94
29877,HUNTER COLLEGE HIGH SCHOOL,2010-12-09T00:00:00.000,185.05,JACOB,2019,BRICKMAN,ACTIVE,F,0.00,per Hour,470,1110.30,6.00,SUBSTITUTE TEACHER,0.00,6.93,MANHATTAN,41
29878,HUNTER COLLEGE HIGH SCHOOL,2017-03-27T00:00:00.000,185.05,SHARON,2019,GOLDMAN,ACTIVE,A,0.00,per Hour,470,1202.83,6.50,SUBSTITUTE TEACHER,0.00,0.71,MANHATTAN,316
29862,HUNTER COLLEGE HIGH SCHOOL,2019-05-30T00:00:00.000,185.05,EMILY,2019,MINES,ACTIVE,NaN,0.00,per Hour,470,555.15,3.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,94
29861,HUNTER COLLEGE HIGH SCHOOL,2018-05-23T00:00:00.000,185.05,JULIA,2019,CHEN,ACTIVE,A,0.00,per Hour,470,549.76,2.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,146
29839,HUNTER COLLEGE HIGH SCHOOL,2010-09-21T00:00:00.000,185.05,EVE,2019,POMERANTZ,CEASED,H,0.00,per Hour,470,0.00,0.00,SUBSTITUTE TEACHER,0.00,5.49,MANHATTAN,8
29859,HUNTER COLLEGE HIGH SCHOOL,2017-10-23T00:00:00.000,185.05,OLIVIA,2019,BYUN,ACTIVE,K,0.00,per Hour,470,462.65,2.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,54
29858,HUNTER COLLEGE HIGH SCHOOL,1969-09-15T00:00:00.000,185.05,JANICE,2019,WARNER,ACTIVE,H,0.00,per Hour,470,370.10,2.00,SUBSTITUTE TEACHER,0.00,7.25,MANHATTAN,96
29847,HUNTER COLLEGE HIGH SCHOOL,2009-05-14T00:00:00.000,185.05,RAPHAEL,2019,BELLO,ACTIVE,H,0.00,per Hour,470,92.53,0.50,SUBSTITUTE TEACHER,0.00,1.65,MANHATTAN,17
29857,HUNTER COLLEGE HIGH SCHOOL,2018-10-11T00:00:00.000,185.05,MIKA,2019,BATAILLE,ACTIVE,NaN,0.00,per Hour,470,370.10,2.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29880,HUNTER COLLEGE HIGH SCHOOL,2013-02-06T00:00:00.000,185.05,VILHJALMUR,2019,VILHJALMSSON,ACTIVE,NaN,0.00,per Hour,470,1295.35,7.00,SUBSTITUTE TEACHER,0.00,2.36,MANHATTAN,1
29649,HUNTER COLLEGE HIGH SCHOOL,2018-09-28T00:00:00.000,185.05,SHARIFA,2019,FOOTMAN,ACTIVE,NaN,0.00,per Hour,470,9900.54,56.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,5
29667,HUNTER COLLEGE HIGH SCHOOL,2005-09-08T00:00:00.000,185.05,CAROL,2019,SAMUEL,ACTIVE,L,0.00,per Hour,470,13138.35,70.00,SUBSTITUTE TEACHER,0.00,27.59,MANHATTAN,227
29854,HUNTER COLLEGE HIGH SCHOOL,2018-11-08T00:00:00.000,185.05,IN SUN,2019,GEOUM,ACTIVE,NaN,0.00,per Hour,470,277.58,1.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29853,HUNTER COLLEGE HIGH SCHOOL,2019-01-28T00:00:00.000,185.05,ANDRE,2019,MARCANO,CEASED,K,0.00,per Hour,470,277.58,1.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,92
29852,HUNTER COLLEGE HIGH SCHOOL,2018-10-18T00:00:00.000,185.05,YUNMEE,2019,KYONG,ACTIVE,NaN,0.00,per Hour,470,185.05,1.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29672,HUNTER COLLEGE HIGH SCHOOL,2018-12-18T00:00:00.000,185.05,LESLIE,2019,PEREZ,ACTIVE,A,0.00,per Hour,470,14526.43,83.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,112
29851,HUNTER COLLEGE HIGH SCHOOL,2019-01-22T00:00:00.000,185.05,MEENA,2019,BOPPANA,CEASED,K,0.00,per Hour,470,185.05,1.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,3
29850,HUNTER COLLEGE HIGH SCHOOL,2019-05-29T00:00:00.000,185.05,EMILY,2019,LUDLOW,ACTIVE,L,0.00,per Hour,470,185.05,1.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,94
29826,HUNTER COLLEGE HIGH SCHOOL,2017-05-23T00:00:00.000,185.05,BRIAN,2019,SCHER,CEASED,M,0.00,per Hour,470,0.00,0.00,SUBSTITUTE TEACHER,0.00,0.13,MANHATTAN,181
29879,HUNTER COLLEGE HIGH SCHOOL,2019-05-08T00:00:00.000,185.05,AMITAPHA,2019,SARFATI,ACTIVE,D,0.00,per Hour,470,1295.35,8.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29870,HUNTER COLLEGE HIGH SCHOOL,2018-02-07T00:00:00.000,185.05,ESTEFANIA,2019,PEREZ DEL SOLAR,ACTIVE,NaN,0.00,per Hour,470,889.89,1.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,8
29881,HUNTER COLLEGE HIGH SCHOOL,2018-12-11T00:00:00.000,185.05,JENNA,2019,SHAPIRO,ACTIVE,M,0.00,per Hour,470,1480.40,8.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,12
30079,HUNTER COLLEGE HIGH SCHOOL,2018-10-11T00:00:00.000,185.05,RANYA,2019,RASAMNY,ACTIVE,M,0.00,per Hour,470,3145.85,18.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,1
29883,HUNTER COLLEGE HIGH SCHOOL,2018-10-11T00:00:00.000,185.05,ALLIYAH,2019,TRIMM,ACTIVE,NaN,0.00,per Hour,470,1757.98,9.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,3
30120,HUNTER COLLEGE HIGH SCHOOL,2008-10-17T00:00:00.000,185.05,JONATHAN,2019,MENGES,ACTIVE,R,0.00,per Hour,470,9334.27,48.50,SUBSTITUTE TEACHER,0.00,5.71,MANHATTAN,210
30115,HUNTER COLLEGE HIGH SCHOOL,2019-01-07T00:00:00.000,185.05,BRIELLE,2019,LIPSTEIN,ACTIVE,NaN,0.00,per Hour,470,8604.85,47.50,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,5
30112,HUNTER COLLEGE HIGH SCHOOL,2018-11-28T00:00:00.000,185.05,REGINA,2019,MATTHEWS,ACTIVE,E,0.00,per Hour,470,7957.15,43.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,109
30107,HUNTER COLLEGE HIGH SCHOOL,2011-11-30T00:00:00.000,185.05,CHRISTINA,2019,FERNANDEZ,ACTIVE,NaN,0.00,per Hour,470,7124.45,34.50,SUBSTITUTE TEACHER,0.00,8.44,MANHATTAN,176
30103,HUNTER COLLEGE HIGH SCHOOL,2005-09-14T00:00:00.000,185.05,BETHEL,2019,CARAM,ACTIVE,E,0.00,per Hour,470,6291.70,34.00,SUBSTITUTE TEACHER,0.00,2.66,MANHATTAN,1
30090,HUNTER COLLEGE HIGH SCHOOL,2018-09-25T00:00:00.000,185.05,MELISSA,2019,BENOWITZ,ACTIVE,L,0.00,per Hour,470,4811.30,26.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,190
30088,HUNTER COLLEGE HIGH SCHOOL,2018-09-12T00:00:00.000,185.05,KATHRYN,2019,JAGAI,ACTIVE,A,0.00,per Hour,470,4441.20,24.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,34
30087,HUNTER COLLEGE HIGH SCHOOL,2018-10-16T00:00:00.000,185.05,KAREN,2019,BRISSETTE,ACTIVE,NaN,0.00,per Hour,470,4441.20,24.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,324
30084,HUNTER COLLEGE HIGH SCHOOL,2018-11-05T00:00:00.000,185.05,JOAN,2019,NEAL,ACTIVE,E,0.00,per Hour,470,3886.05,21.00,SUBSTITUTE TEACHER,0.00,0.00,MANHATTAN,177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38708,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,RODNEY,2019,SQUIRE,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,59
38707,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,SAYYID,2019,TIRMIZI,ACTIVE,A,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,2
11759,BOARD OF ELECTION POLL WORKERS,2018-01-01T00:00:00.000,1.00,MARTHA,2019,LOPEZ,ACTIVE,NaN,0.00,per Hour,300,350.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,115
38706,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,MARIA,2019,VEGA,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,956
38705,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,JACQUELINE,2019,WILSON,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,298
38703,BOARD OF ELECTION POLL WORKERS,2012-04-02T00:00:00.000,1.00,LAVERNE,2019,KETCHAM,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,40
38712,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,MEGAN,2019,PRESCOTT,ACTIVE,B,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,35
38702,BOARD OF ELECTION POLL WORKERS,2012-08-18T00:00:00.000,1.00,LORRAINE,2019,WILLIAMS,ACTIVE,O,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,131
38701,BOARD OF ELECTION POLL WORKERS,2012-11-26T00:00:00.000,1.00,SHIRLEY,2019,ZAMORA,ACTIVE,Y,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,163
38700,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,BRENDA,2019,BROWN,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,227
38699,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,DEBORAH,2019,CHAPLIN,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,295
38698,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,CATHINE,2019,CHARLES,ACTIVE,V,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,1
38697,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,BERNADETTE,2019,FALLON,ACTIVE,T,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,62
38696,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,DOREEN,2019,GODARE,ACTIVE,E,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,71
38711,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,SHLIMA,2019,PRITSKER,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,1
38713,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,SUSAN,2019,POMPIAN,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,291
38694,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,CECILIA,2019,HOPE,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,60
38723,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,DANIEL,2019,MARSHALL,ACTIVE,L,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,302
38730,BOARD OF ELECTION POLL WORKERS,2010-01-01T00:00:00.000,1.00,JACQUELINE,2019,GREENE,ACTIVE,NaN,0.00,per Hour,300,1087.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,298
38729,BOARD OF ELECTION POLL WORKERS,2010-01-01T00:00:00.000,1.00,RUBY,2019,GREENE,ACTIVE,NaN,0.00,per Hour,300,1087.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,43
38728,BOARD OF ELECTION POLL WORKERS,2010-01-01T00:00:00.000,1.00,NORDEN,2019,HAHN,ACTIVE,NaN,0.00,per Hour,300,1087.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,1
38727,BOARD OF ELECTION POLL WORKERS,2010-01-01T00:00:00.000,1.00,LATREYL,2019,HALL,ACTIVE,NaN,0.00,per Hour,300,1087.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,1
38726,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,NICOLE,2019,JONES,ACTIVE,S,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,274
38725,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,LAWRENCE,2019,LANE,ACTIVE,E,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,86
38724,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,LAVERN,2019,LINDSAY,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,9
38722,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,YVONNE,2019,MARTIN,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,193
38714,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,MAHADEO,2019,PERSAUD,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,2
38721,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,DONNA,2019,MATAR,ACTIVE,E,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,267
38720,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,LAWRENCE,2019,MCNEAL,ACTIVE,L,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,86
38719,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,GERALDA,2019,MENARD,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,3
38718,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,MUHAMMAD,2019,MIAH,ACTIVE,A,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,39
38717,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,TROY,2019,MONTGOMERY,ACTIVE,M,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,46
38716,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,RAQUEL,2019,MORGAN,ACTIVE,Y,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,40
38715,BOARD OF ELECTION POLL WORKERS,2012-01-02T00:00:00.000,1.00,JACQUELINE,2019,OATES,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,298
38695,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,CYNTHIA,2019,GONZALES,ACTIVE,P,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,224
38693,BOARD OF ELECTION POLL WORKERS,2013-01-01T00:00:00.000,1.00,RICARDO,2019,JONES,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,60
38658,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,YOLANDA,2019,ISLER,ACTIVE,M,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,156
38665,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,VERA,2019,GOTESMAN,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,42
38672,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,CAROLE,2019,FORRESTER,ACTIVE,Z,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,38
38671,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,TREVOR,2019,GIBBS,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,30
38670,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,DORIEL,2019,GILL,ACTIVE,W,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,1
38669,BOARD OF ELECTION POLL WORKERS,2017-01-02T00:00:00.000,1.00,SHONDA,2019,GLOVER,ACTIVE,NaN,0.00,per Hour,300,1150.00,0.00,ELECTION WORKER,0.00,0.00,MANHATTAN,6

In [463]:
salaried_employees_500 = get_data_set(all_result, 'name_count', 500, 'first_name', 'base_salary')

In [464]:
add_count_of_value(yearly_result, 'name_count', 'first_name')

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,agency_name,agency_start_date,base_salary,first_name,fiscal_year,last_name,leave_status_as_of_july_31,mid_init,ot_hours,pay_basis,payroll_number,regular_gross_paid,regular_hours,title_description,total_ot_paid,total_other_pay,work_location_borough,name_count
0,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43731.0,DONALD,2019,SIMMONS,CEASED,NaN,0.00,per Annum,67,0.00,0.00,SPECIAL OFFICER,-0.31,1.30,MANHATTAN,556.0
1,ADMIN FOR CHILDREN'S SVCS,2011-10-24T00:00:00.000,57070.0,KATHIE,2019,MOHAMMED,ON LEAVE,S,0.00,per Annum,67,32.87,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-30.48,MANHATTAN,19.0
2,ADMIN FOR CHILDREN'S SVCS,2017-09-11T00:00:00.000,31192.0,TANESIA,2019,MCRAE,CEASED,M,0.00,per Annum,67,4.69,0.00,CLERICAL ASSOCIATE,0.00,0.00,BROOKLYN,4.0
3,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,GINNETTE,2019,ROZON,CEASED,NaN,0.00,per Annum,67,7.24,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN,5.0
4,ADMIN FOR CHILDREN'S SVCS,2012-01-17T00:00:00.000,63436.0,RAFAEL,2019,LOPEZ,CEASED,NaN,0.00,per Annum,67,9.03,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN,547.0
5,ADMIN FOR CHILDREN'S SVCS,2013-12-02T00:00:00.000,63436.0,ANDREA,2019,GONZALEZ-SHERID,CEASED,M,0.00,per Annum,67,9.79,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN,1448.0
6,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,63045.0,GWENDOLYN,2019,WASHINGTON,CEASED,NaN,0.00,per Annum,67,-0.03,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,10.84,QUEENS,217.0
7,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,STEPHANIE,2019,RENAUD,CEASED,K,0.00,per Annum,67,10.86,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,QUEENS,2417.0
8,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,39972.0,HYSEN,2019,SPAHIJA,CEASED,NaN,0.00,per Annum,67,10.94,0.00,CITY CUSTODIAL ASSISTANT,0.00,0.93,MANHATTAN,1.0
9,ADMIN FOR CHILDREN'S SVCS,2016-09-26T00:00:00.000,34680.0,JOSHUA,2019,BLASS,CEASED,L,0.00,per Annum,67,11.92,0.00,INSTITUTIONAL AIDE,0.00,0.00,BROOKLYN,932.0
10,ADMIN FOR CHILDREN'S SVCS,1997-04-07T00:00:00.000,39818.0,GLADYS,2019,SOTO,CEASED,NaN,0.00,per Annum,67,10.91,0.00,CLERICAL ASSOCIATE,0.00,1.11,MANHATTAN,339.0
11,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,DANIELLE,2019,WILLIAMS,CEASED,C,0.00,per Annum,67,14.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN,1881.0
12,ADMIN FOR CHILDREN'S SVCS,2004-06-21T00:00:00.000,35911.0,ANDON,2019,DEDE,CEASED,NaN,0.00,per Annum,67,13.61,0.00,CLERICAL ASSOCIATE,0.00,1.19,MANHATTAN,1.0
13,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.0,JAVIER,2019,IRIZARRY,CEASED,NaN,0.00,per Annum,67,12.94,0.00,CHILD PROTECTIVE SPECIALIST,5.42,0.00,MANHATTAN,185.0
14,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,JASMINE,2019,FRYE,CEASED,A,0.00,per Annum,67,622.05,0.00,CHILD PROTECTIVE SPECIALIST,-604.17,2.30,MANHATTAN,583.0
15,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,36368.0,ANN,2019,SIMON,CEASED,I,0.00,per Annum,67,46.34,0.00,CLERICAL ASSOCIATE,0.00,-25.53,BROOKLYN,563.0
16,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,PIERRE,2019,REGIS,CEASED,G,0.00,per Annum,67,368.20,0.00,CHILD PROTECTIVE SPECIALIST,-349.06,1.78,BROOKLYN,156.0
17,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,86001.0,DORA,2019,AKHAZETA,CEASED,NaN,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST SUPERVISOR,0.00,21.92,MANHATTAN,98.0
18,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,55814.0,ANDRE,2019,DAVIS,CEASED,L,0.00,per Annum,67,23.36,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX,473.0
19,ADMIN FOR CHILDREN'S SVCS,2006-11-20T00:00:00.000,87271.0,ALFRED,2019,MURPHY,CEASED,J,0.00,per Annum,67,23.44,0.00,PROTECTION AGENT,0.00,0.14,MANHATTAN,222.0
20,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,53519.0,JULIE,2019,PERSAUD,ON LEAVE,M,0.00,per Annum,67,23.88,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX,655.0
21,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,57070.0,DANIKA,2019,SHEA,ON LEAVE,B,0.00,per Annum,67,38.40,-14.00,CHILD PROTECTIVE SPECIALIST,8.28,-22.12,MANHATTAN,3.0
22,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,48605.0,CAONABO,2019,CASTILLO,CEASED,J,0.00,per Annum,67,0.00,0.00,CHILD PROTECTIVE SPECIALIST,0.00,24.75,BROOKLYN,3.0
23,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,43136.0,AUBREY,2019,MARTIN,CEASED,C,0.00,per Annum,67,29.26,0.00,JUVENILE COUNSELOR,0.00,-0.02,BRONX,39.0
24,ADMIN FOR CHILDREN'S SVCS,2014-04-28T00:00:00.000,63436.0,THOMAS,2019,RIZZO,CEASED,V,0.00,per Annum,67,31.35,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN,2962.0
25,ADMIN FOR CHILDREN'S SVCS,2014-08-04T00:00:00.000,57070.0,NISAA,2019,GREENLEY,CEASED,N,0.00,per Annum,67,68.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-34.70,BROOKLYN,2.0
26,ADMIN FOR CHILDREN'S SVCS,2017-08-14T00:00:00.000,48195.0,JEAN,2019,SERVIUS,CEASED,W,0.00,per Annum,67,34.67,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN,735.0
27,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,52341.0,SYDOWNIE,2019,THOMPSON,CEASED,K,0.00,per Annum,67,33.70,0.00,CHILD PROTECTIVE SPECIALIST,1.40,0.00,QUEENS,1.0
28,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,ARIEL,2019,GAYLE,CEASED,S,0.00,per Annum,67,31.04,0.00,CHILD PROTECTIVE SPECIALIST,6.58,0.00,QUEENS,259.0
29,ADMIN FOR CHILDREN'S SVCS,2011-08-30T00:00:00.000,57070.0,MARIE,2019,TALUY,ON LEAVE,R,0.00,per Annum,67,38.74,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN,1204.0
30,ADMIN FOR CHILDREN'S SVCS,2018-04-23T00:00:00.000,48195.0,YANI,2019,LANTIGUA,CEASED,F,0.00,per Annum,67,39.85,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN,4.0
31,ADMIN FOR CHILDREN'S SVCS,2017-07-10T00:00:00.000,39389.0,TERRENCE,2019,MOORE,CEASED,T,0.00,per Annum,67,34.26,0.00,JUVENILE COUNSELOR,4.78,1.27,BRONX,171.0
32,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.0,TATIANA,2019,COLON,CEASED,NaN,0.00,per Annum,67,41.56,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BROOKLYN,233.0
33,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,79748.0,LESLIE,2019,SERRANO,CEASED,E,0.00,per Annum,67,43.03,0.00,ASSOCIATE YOUTH DEVELOPMENT SPECIALIST,0.00,0.34,BROOKLYN,622.0
34,ADMIN FOR CHILDREN'S SVCS,2013-02-11T00:00:00.000,57070.0,ARTHURENE,2019,BAUGH,CEASED,NaN,0.00,per Annum,67,35.99,0.00,CHILD PROTECTIVE SPECIALIST,8.93,1.44,MANHATTAN,5.0
35,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56145.0,VYONNIE,2019,TOMLINSON,CEASED,I,0.00,per Annum,67,49.53,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.46,QUEENS,1.0
36,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,LAVAISHA,2019,JONES,CEASED,S,0.00,per Annum,67,49.19,0.00,CHILD PROTECTIVE SPECIALIST,2.20,0.00,BROOKLYN,3.0
37,ADMIN FOR CHILDREN'S SVCS,2016-08-08T00:00:00.000,52341.0,GITA,2019,MEIMAN,CEASED,NaN,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,1.97,0.00,BROOKLYN,10.0
38,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.0,NADINE,2019,CENORD,ON LEAVE,NaN,0.00,per Annum,67,193.54,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-132.58,MANHATTAN,299.0
39,ADMIN FOR CHILDREN'S SVCS,2015-01-05T00:00:00.000,57070.0,KEISHA,2019,WOODY,CEASED,S,0.00,per Annum,67,61.15,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX,267.0
40,ADMIN FOR CHILDREN'S SVCS,2013-07-03T00:00:00.000,82400.0,SADE,2019,MCINTOSH,CEASED,V,0.00,per Annum,67,63.20,0.00,ADMINISTRATIVE STAFF ANALYST,0.00,0.00,MANHATTAN,79.0
41,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,60644.0,ANTHONY,2019,CLAY,CEASED,B,0.00,per Annum,67,62.73,0.00,ASSOCIATE JUVENILE COUNSELOR,0.00,0.52,BROOKLYN,3696.0
42,ADMIN FOR CHILDREN'S SVCS,2016-12-19T00:00:00.000,96282.0,LORNA,2019,DAVIS,CEASED,O,0.00,per Annum,67,63.38,0.00,COMPUTER SPECIALIST,0.00,0.00,MANHATTAN,157.0
43,ADMIN FOR CHILDREN'S SVCS,2014-10-20T00:00:00.000,57070.0,AAISHA,2019,PEELE,CEASED,L,0.00,per Annum,67,56.95,0.00,CHILD PROTECTIVE SPECIALIST,6.82,0.12,BROOKLYN,8.0
44,ADMIN FOR CHILDREN'S SVCS,2018-02-05T00:00:00.000,48195.0,STEPHANNIE,2019,SANDERS,CEASED,NaN,0.00,per Annum,67,65.21,0.00,CHILD PROTECTIVE SPECIALIST,1.93,0.00,MANHATTAN,6.0
45,ADMIN FOR CHILDREN'S SVCS,2016-09-06T00:00:00.000,66300.0,JENNIFER,2019,PIERRE,CEASED,M,0.00,per Annum,67,67.67,0.00,COMMUNITY COORDINATOR,0.00,0.00,MANHATTAN,4380.0
46,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,SHAINA,2019,SHANNON,CEASED,O,0.00,per Annum,67,73.05,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,BRONX,45.0
47,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,SIOBAHN,2019,DUCEY,CEASED,L,0.00,per Annum,67,53.40,0.00,CHILD PROTECTIVE SPECIALIST,19.85,0.07,RICHMOND,1.0
48,ADMIN FOR CHILDREN'S SVCS,2016-10-17T00:00:00.000,52341.0,STEVEN,2019,CARRINGTON,CEASED,E,0.00,per Annum,67,57.33,0.00,CHILD PROTECTIVE SPECIALIST,17.13,0.00,BRONX,2182.0
49,ADMIN FOR CHILDREN'S SVCS,1997-07-06T00:00:00.000,40068.0,PATRICIA,2019,AGARD,CEASED,R,0.00,per Annum,67,67.83,0.00,CLERICAL ASSOCIATE,0.00,6.87,MANHATTAN,2711.0
50,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,48195.0,KARISIMA,2019,POWELL,CEASED,M,0.00,per Annum,67,63.66,0.00,CHILD PROTECTIVE SPECIALIST,11.49,0.00,BROOKLYN,1.0
51,ADMIN FOR CHILDREN'S SVCS,1998-06-08T00:00:00.000,86994.0,AMY,2019,POLENBERG,CEASED,B,0.00,per Annum,67,77.08,0.00,PROGRAM EVALUATOR,0.00,0.44,MANHATTAN,1069.0
52,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,YMALIELYS,2019,RODRIGUEZ,CEASED,NaN,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,11.34,0.00,MANHATTAN,1.0
53,ADMIN FOR CHILDREN'S SVCS,2018-02-12T00:00:00.000,39389.0,ARNOLD,2019,MCKINLEY,CEASED,R,0.00,per Annum,67,82.91,0.00,CASEWORKER,0.00,0.00,BRONX,102.0
54,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,56966.0,AGNES,2019,ASANTE,CEASED,A,0.00,per Annum,67,97.55,0.00,YOUTH DEVELOPMENT SPECIALIST,-14.13,-0.45,BROOKLYN,108.0
55,ADMIN FOR CHILDREN'S SVCS,2017-06-26T00:00:00.000,63436.0,DWAYNE,2019,CHANDLER,CEASED,L,0.00,per Annum,67,79.05,0.00,PROTECTION AGENT,0.00,5.64,MANHATTAN,231.0
56,ADMIN FOR CHILDREN'S SVCS,2000-09-25T00:00:00.000,35932.0,ALEASE,2019,PATRICK MCDOWAL,CEASED,Y,0.00,per Annum,67,362.25,0.00,CLERICAL ASSOCIATE,0.00,-276.15,QUEENS,4.0
57,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,DEVERON,2019,GREAVES,CEASED,E,0.00,per Annum,67,70.07,0.00,CHILD PROTECTIVE SPECIALIST,19.14,0.00,BROOKLYN,1.0
58,ADMIN FOR CHILDREN'S SVCS,2017-02-06T00:00:00.000,53519.0,DARYA,2019,GOMEROVA,ON LEAVE,NaN,0.00,per Annum,67,89.66,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,RICHMOND,11.0
59,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,NASIA,2019,GASPARD,CEASED,D,0.00,per Annum,67,89.27,0.00,CHILD PROTECTIVE SPECIALIST,0.00,2.49,MANHATTAN,3.0
60,ADMIN FOR CHILDREN'S SVCS,2008-05-19T00:00:00.000,57070.0,LASTARR,2019,DAVIS,ON LEAVE,M,0.00,per Annum,67,93.51,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.00,MANHATTAN,1.0
61,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,52856.0,JAMEL,2019,LAWHORN,CEASED,A,0.00,per Annum,67,93.65,0.00,CHILD WELFARE SPECIALIST,0.00,0.00,MANHATTAN,101.0
62,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,43960.0,CRETENA,2019,ROCHESTER,CEASED,A,0.00,per Annum,67,86.13,0.00,SECRETARY,0.00,7.95,MANHATTAN,1.0
63,ADMIN FOR CHILDREN'S SVCS,1999-06-07T00:00:00.000,57070.0,JACQUELINE,2019,LOVE,CEASED,N,0.00,per Annum,67,248.17,0.00,CHILD PROTECTIVE SPECIALIST,0.00,-153.60,BROOKLYN,1895.0
64,ADMIN FOR CHILDREN'S SVCS,2017-05-22T00:00:00.000,48195.0,STARR,2019,SEALEY,CEASED,C,0.00,per Annum,67,67.29,0.00,CHILD PROTECTIVE SPECIALIST,27.34,0.00,BRONX,16.0
65,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,87997.0,JANE,2019,HOLLAND,CEASED,NaN,0.00,per Annum,67,97.99,0.00,CHILD AND FAMILY SPECIALIST,0.00,0.57,MANHATTAN,415.0
66,ADMIN FOR CHILDREN'S SVCS,2011-07-04T00:00:00.000,45338.0,ESTHER,2019,MATOS MIRANDA,CEASED,L,0.00,per Annum,67,168.59,0.00,JUVENILE COUNSELOR,24.75,-89.15,BRONX,482.0
67,ADMIN FOR CHILDREN'S SVCS,2006-06-19T00:00:00.000,55814.0,ARLENE,2019,PALMER,CEASED,NaN,0.00,per Annum,67,104.31,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.95,MANHATTAN,441.0
68,ADMIN FOR CHILDREN'S SVCS,2016-11-14T00:00:00.000,44426.0,DEANA,2019,WILSON,CEASED,L,0.00,per Annum,67,105.33,0.00,YOUTH DEVELOPMENT SPECIALIST,4.03,0.57,BROOKLYN,50.0
69,ADMIN FOR CHILDREN'S SVCS,1999-05-24T00:00:00.000,55875.0,NEWTON,2019,BROWN,CEASED,W,0.00,per Annum,67,108.96,0.00,CHILD PROTECTIVE SPECIALIST,0.00,0.98,MANHATTAN,6.0
70,ADMIN FOR CHILDREN'S SVCS,2008-03-18T00:00:00.000,63436.0,JAMES,2019,DAVIS,CEASED,S,0.00,per Annum,67,112.46,0.00,PROTECTION AGENT,0.00,0.00,MANHATTAN,3845.0
71,ADMIN FOR CHILDREN'S SVCS,1996-06-23T00:00:00.000,56711.0,ELLEN,2019,LEWIS,CEASED,E,0.00,per Annum,67,114.98,0.00,CHILD WELFARE SPECIALIST,0.00,1.02,MANHATTAN,616.0
72,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,48195.0,TIFFANY,2019,FOSTER,CEASED,M,0.00,per Annum,67,108.73,0.00,CHILD PROTECTIVE SPECIALIST,0.00,8.25,BROOKLYN,1055.0
73,ADMIN FOR CHILDREN'S SVCS,2014-04-14T00:00:00.000,53712.0,ELIZABETH,2019,DIAZ,CEASED,N,0.00,per Annum,67,71.11,0.00,CONGREG CARE SPEC - ACS,46.54,2.31,MANHATTAN,3147.0
74,ADMIN FOR CHILDREN'S SVCS,2017-04-10T00:00:00.000,52341.0,DESTINY,2019,HARGROVES,CEASED,M,0.00,per Annum,67,107.85,0.00,CHILD PROTECTIVE SPECIALIST,14.16,0.00,QUEENS,94.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31202,TEACHERS RETIREMENT SYSTEM,2000-05-22T00:00:00.000,68380.0,KEITHA,2019,HART,ACTIVE,NaN,0.00,per Annum,41,68852.58,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8722.82,MANHATTAN,6.0
31203,TEACHERS RETIREMENT SYSTEM,2004-10-18T00:00:00.000,66109.0,PETER,2019,NG,ACTIVE,NaN,44.75,per Annum,41,66494.74,1825.00,BOOKKEEPER,1609.47,9484.73,MANHATTAN,1777.0
31204,TEACHERS RETIREMENT SYSTEM,2013-09-22T00:00:00.000,72086.0,LORRAINE,2019,GRAY,ACTIVE,M,70.25,per Annum,41,72506.12,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,3201.35,2192.52,MANHATTAN,595.0
31205,TEACHERS RETIREMENT SYSTEM,2002-07-08T00:00:00.000,74457.0,DARA,2019,PINNES,ACTIVE,E,52.00,per Annum,41,73891.89,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,2093.01,2047.99,MANHATTAN,88.0
31206,TEACHERS RETIREMENT SYSTEM,2001-01-02T00:00:00.000,68631.0,SOHIR,2019,FAHMY,ACTIVE,NaN,0.00,per Annum,41,69072.25,1825.00,INVESTMENT ANALYST,0.00,9840.26,MANHATTAN,3.0
31207,TEACHERS RETIREMENT SYSTEM,2002-11-04T00:00:00.000,69975.0,SHELLEY,2019,BUTTS,ACTIVE,NaN,0.00,per Annum,41,70450.73,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,6.37,8548.53,MANHATTAN,109.0
31208,TEACHERS RETIREMENT SYSTEM,2001-06-04T00:00:00.000,78589.0,CHRISTINA,2019,PEREZ,ACTIVE,NaN,0.00,per Annum,41,79064.92,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,1928.0
31209,TEACHERS RETIREMENT SYSTEM,1999-04-19T00:00:00.000,75895.0,DAVID,2019,YERUSHALMI,ACTIVE,NaN,9.00,per Annum,41,75687.04,1825.00,ASSOCIATE STAFF ANALYST,588.11,3927.51,MANHATTAN,3733.0
31210,TEACHERS RETIREMENT SYSTEM,2005-01-03T00:00:00.000,79854.0,DEBRA,2019,ROBINSON,ACTIVE,L,0.00,per Annum,41,79635.15,1825.00,PRINCIPAL ADMINISTRATIVE ASSOCIATE - LEV 1 & 2...,0.00,721.62,MANHATTAN,1036.0
31211,TEACHERS RETIREMENT SYSTEM,2011-04-18T00:00:00.000,74243.0,DION,2019,MCDONALD,ACTIVE,P,0.00,per Annum,41,74728.80,1825.00,MANAGEMENT AUDITOR,0.00,6160.96,MANHATTAN,54.0
31212,TEACHERS RETIREMENT SYSTEM,1998-09-28T00:00:00.000,75863.0,SHOOK,2019,LUONG,ACTIVE,K,0.00,per Annum,41,76346.62,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,4898.01,MANHATTAN,1.0
31213,TEACHERS RETIREMENT SYSTEM,2005-05-23T00:00:00.000,75646.0,DANIEL,2019,JOSE JR,ACTIVE,NaN,85.50,per Annum,41,75438.75,1825.00,ASSOCIATE STAFF ANALYST,4087.83,1859.88,MANHATTAN,3208.0
31214,TEACHERS RETIREMENT SYSTEM,2018-10-29T00:00:00.000,125000.0,JAIMEEN,2019,PATEL,ACTIVE,A,0.00,per Annum,41,81506.84,1230.00,COMPUTER SYSTEMS MANAGER,0.00,0.00,MANHATTAN,1.0
31215,TEACHERS RETIREMENT SYSTEM,1996-11-18T00:00:00.000,72757.0,YEVGENIYA,2019,VIZENTAL,ACTIVE,NaN,0.00,per Annum,41,73254.82,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8549.57,MANHATTAN,36.0
31216,TEACHERS RETIREMENT SYSTEM,1996-03-04T00:00:00.000,76911.0,TINA,2019,FREEMAN-SMITH,ACTIVE,NaN,0.00,per Annum,41,77400.79,1825.00,CUSTOMER INFORMATION REPRESENTATIVE MA L 1549,0.00,4790.76,MANHATTAN,411.0
31217,TEACHERS RETIREMENT SYSTEM,2011-09-18T00:00:00.000,83073.0,JOHN,2019,QUADRINO,ACTIVE,E,0.00,per Annum,41,82384.63,1825.00,ADMINISTRATIVE MANAGER,0.00,0.00,MANHATTAN,5453.0
31218,TEACHERS RETIREMENT SYSTEM,2005-11-21T00:00:00.000,73877.0,SAMUEL,2019,BASILY,ACTIVE,Y,0.00,per Annum,41,74515.27,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,0.00,8389.94,MANHATTAN,646.0
31219,TEACHERS RETIREMENT SYSTEM,2005-08-22T00:00:00.000,82468.0,LENORA,2019,HINES,ACTIVE,D,0.00,per Annum,41,82242.16,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,832.77,MANHATTAN,50.0
31220,TEACHERS RETIREMENT SYSTEM,1999-07-19T00:00:00.000,93178.0,LORNA,2019,DIXON-SAUNDERS,ACTIVE,NaN,0.00,per Annum,41,93742.52,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,157.0
31221,TEACHERS RETIREMENT SYSTEM,2001-03-26T00:00:00.000,93190.0,MARTIN,2019,TEZEN,ACTIVE,R,0.00,per Annum,41,93754.22,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,439.0
31222,TEACHERS RETIREMENT SYSTEM,2001-01-08T00:00:00.000,90722.0,RAYMOND,2019,VINCIGUERRA,ACTIVE,NaN,0.00,per Annum,41,90473.49,1825.00,ASSOCIATE STAFF ANALYST,0.00,3735.26,MANHATTAN,828.0
31223,TEACHERS RETIREMENT SYSTEM,2004-07-19T00:00:00.000,80070.0,DANIEL,2019,FELDMAN,ACTIVE,NaN,152.75,per Annum,41,80536.43,1825.00,COMPUTER ASSOCIATE,8301.28,5391.00,MANHATTAN,3208.0
31224,TEACHERS RETIREMENT SYSTEM,2008-01-07T00:00:00.000,95952.0,MICHAEL,2019,HENSCHEL,ACTIVE,NaN,0.00,per Annum,41,91897.08,1825.00,ADMINISTRATIVE STAFF ANALYST,0.00,2758.62,MANHATTAN,8698.0
31225,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,94004.0,SILVIA,2019,PORTES,ACTIVE,NaN,0.00,per Annum,41,94573.31,1825.00,ADMINISTRATIVE ACCOUNTANT,0.00,521.56,MANHATTAN,179.0
31226,TEACHERS RETIREMENT SYSTEM,1996-01-08T00:00:00.000,94767.0,JAMAIRA,2019,SANCHEZ-MORALES,ACTIVE,NaN,0.00,per Annum,41,95341.02,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,0.00,MANHATTAN,2.0
31227,TEACHERS RETIREMENT SYSTEM,2016-07-04T00:00:00.000,95194.0,PEGGY,2019,TARTT,ACTIVE,A,0.00,per Annum,41,95724.22,1825.00,ADMINISTRATIVE COMMUNITY RELATIONS SPECIALIST,0.00,0.00,MANHATTAN,143.0
31228,TEACHERS RETIREMENT SYSTEM,1998-01-20T00:00:00.000,95061.0,THERESA,2019,SMITH,ACTIVE,NaN,0.00,per Annum,41,95636.77,1825.00,ADMINISTRATIVE RETIREMENT BENEFITS SPECIALIST,0.00,291.44,MANHATTAN,1076.0
31229,TEACHERS RETIREMENT SYSTEM,1983-05-31T00:00:00.000,75506.0,ROBERT,2019,FADELICI,ACTIVE,H,255.00,per Annum,41,76019.53,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,11311.82,8726.18,MANHATTAN,4495.0
31230,TEACHERS RETIREMENT SYSTEM,1998-07-06T00:00:00.000,81774.0,MIGUEL,2019,LEE,ACTIVE,NaN,232.50,per Annum,41,82250.84,1825.00,ASSOCIATE RETIREMENT BENEFITS EXAMINER,12919.18,904.02,MANHATTAN,580.0
31231,TEACHERS RETIREMENT SYSTEM,1997-01-21T00:00:00.000,90219.0,SIEW LING,2019,CHOW,ACTIVE,NaN,3.00,per Annum,41,90751.47,1825.00,COMPUTER ASSOCIATE,160.28,5922.59,MANHATTAN,1.0
31232,TEACHERS RETIREMENT SYSTEM,2003-05-12T00:00:00.000,94498.0,ALONA,2019,KOVARSKAYA,ACTIVE,NaN,0.00,per Annum,41,91431.01,1755.00,COMPUTER SPECIALIST,0.00,5727.95,MANHATTAN,7.0
31233,TEACHERS RETIREMENT SYSTEM,2013-04-21T00:00:00.000,91499.0,MAILEN,2019,NUNEZ,ACTIVE,NaN,0.00,per Annum,41,92615.55,1825.00,COMPUTER SPECIALIST,0.00,5199.16,MANHATTAN,1.0
31234,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,164641.0,SRINIVASAN,2019,NATARAJAN,ACTIVE,NaN,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN,4.0
31235,TEACHERS RETIREMENT SYSTEM,2003-05-05T00:00:00.000,164641.0,KIRAN,2019,BATHI,ACTIVE,K,0.00,per Annum,41,165638.04,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN,33.0
31236,TEACHERS RETIREMENT SYSTEM,2003-06-02T00:00:00.000,165143.0,SATHYA,2019,KRISHNAMURTHY,ACTIVE,NaN,0.00,per Annum,41,166143.42,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN,2.0
31237,TEACHERS RETIREMENT SYSTEM,2003-06-16T00:00:00.000,167960.0,SAIPRASAD,2019,GOTETI,ACTIVE,N,0.00,per Annum,41,168977.45,1825.00,COMPUTER SYSTEMS MANAGER,0.00,5000.00,MANHATTAN,1.0

In [465]:
get_data_set(yearly_result, 'name_count', 1000, 'first_name', 'base_salary')

     first_name  name_count   base_salary
0        THOMAS      2962.0  61933.800827
1         BRIAN      2314.0  61919.695333
2       TIMOTHY      1093.0  61259.884776
3          JOHN      5453.0  59946.682665
4       PATRICK      1387.0  59789.009683
5   CHRISTOPHER      3627.0  59555.056272
6         JAMES      3845.0  58827.109472
7       MICHAEL      8698.0  58583.981357
8          SEAN      1069.0  58573.443209
9         FRANK      1349.0  58447.355560
10       JOSEPH      4798.0  58329.682255
11      STEPHEN      1420.0  58068.498106
12        PETER      1777.0  58034.649325
13       EDWARD      1450.0  58018.909772
14         MARK      1556.0  57868.726774
15      VINCENT      1134.0  57523.094541
16         PAUL      1807.0  57428.599851
17        KEVIN      2460.0  57304.186098
18       DANIEL      3208.0  57235.673725
19       ROBERT      4495.0  56906.554701
20      MATTHEW      2502.0  56839.974724
21       STEVEN      2182.0  56161.613002
22         ERIC      1548.0  56147.196583
23      WILLIAM      2859.0  56106.801654
24      RICHARD      2575.0  55987.111014
25        JASON      1689.0  55858.008372
26      JEFFREY      1219.0  55664.846021
27       ANDREW      1924.0  55536.897729
28      KENNETH      1222.0  55487.977823
29        DAVID      3733.0  54288.716643
30      GREGORY      1186.0  53705.834587
31      CHARLES      1345.0  52701.446238
32       GEORGE      1245.0  52645.610980
33     NICHOLAS      1512.0  52541.564272
34      ANTHONY      3696.0  51925.237857
35       CARLOS      1094.0  50709.187971
36     JONATHAN      1628.0  49961.563237
37          AMY      1069.0  48930.727699
38         JOSE      1910.0  47997.701743
39      MICHELE      1049.0  47103.192765
40         LISA      3110.0  46899.206563
41       LAUREN      1707.0  46365.871670
42        SUSAN      2008.0  46222.862037
43        KAREN      2110.0  46043.303578
44         LUIS      1213.0  45724.860124
45        LAURA      1830.0  45681.312372
46       RACHEL      1135.0  45108.164458
47     JENNIFER      4380.0  44993.167123
48    CHRISTINE      2020.0  44822.244614
49        NANCY      1526.0  44755.240544
50     KATHLEEN      1288.0  44535.210435
51   JACQUELINE      1895.0  44315.103958
52        DEBRA      1036.0  44297.896757
53      MELISSA      2337.0  43987.373530
54    KATHERINE      1164.0  43591.230077
55     MICHELLE      2882.0  43553.548432
56       NICOLE      2893.0  43457.736689
57     DANIELLE      1881.0  43448.228868
58      CYNTHIA      1303.0  43384.691888
59     MARGARET      1159.0  43370.885582
60       ANDREA      1448.0  43213.851278
61      DEBORAH      1553.0  43176.786111
62    ELIZABETH      3147.0  43107.700562
63     KIMBERLY      1395.0  43093.305914
64       SHARON      1611.0  43076.635096
65      JESSICA      3008.0  42911.927696
66      VANESSA      1045.0  42872.198019
67        SARAH      1333.0  42621.764846
68        DONNA      1384.0  42511.630910
69       DENISE      1766.0  42491.145617
70      THERESA      1076.0  41930.056059
71    CATHERINE      1263.0  41771.422241
72        DIANA      1471.0  41540.522583
73        DIANE      1190.0  41243.458151
74         ANNA      1171.0  41162.396661
75    STEPHANIE      2417.0  41004.541572
76         MARY      2254.0  40969.116437
77       ANGELA      1836.0  40943.228660
78    CHRISTINA      1928.0  40699.107220
79        MARIE      1204.0  40438.140814
80       SANDRA      1644.0  40266.371983
81     PATRICIA      2711.0  39878.023807
82      BARBARA      1748.0  39579.408484
83     VICTORIA      1112.0  39348.917059
84       AMANDA      1521.0  38895.724333
85        CAROL      1009.0  38618.203816
86      TIFFANY      1055.0  38421.551905
87     SAMANTHA      1339.0  38069.314914
88        MARIA      4614.0  38001.767083
89        LINDA      1825.0  37828.687556
90          ANA      1176.0  37300.703087
91       CARMEN      1297.0  34980.857872
92       ASHLEY      1217.0  33712.305423

In [466]:
def filter_greater_than(result, column, threshold):
    return result[result[column] > threshold]

In [575]:
def filter_all(result, year, threshold):
    updated_result = filter_result_by_year(result, year)
    pay_basis_result = filter_column_by_value(updated_result, 'pay_basis', 'Hour')
    lesser_result = filter_less_than(pay_basis_result, 'base_salary', 20000)
    add_count_of_value(lesser_result, 'name_count', 'first_name')
    return get_data_set(lesser_result, 'name_count', threshold, 'first_name', 'base_salary')
    # get_data_set(lesser_result, 'first_name', threshold, 'first_name', 'base_salary')

In [576]:
filter_all(updated_result, '2019', 150)

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     first_name  name_count  base_salary
0       MATTHEW         201    19.993483
1        THOMAS         263    19.264183
2         JASON         163    19.199509
3          PAUL         205    19.140537
4         BRIAN         181    18.708674
5         SARAH         151    18.193245
6         NANCY         262    18.186031
7        DANIEL         302    18.045232
8         SUSAN         291    17.920928
9          JOHN         570    17.816526
10     JENNIFER         380    17.618816
11       STEVEN         204    17.460980
12    CHRISTINE         213    17.409437
13        PETER         194    17.356907
14      JESSICA         282    17.170035
15      MICHAEL         826    17.149237
16    ELIZABETH         456    17.083553
17     JONATHAN         210    17.062048
18        DAVID         510    17.059314
19        LAURA         198    16.928434
20       ANDREA         211    16.774123
21       ANDREW         194    16.741237
22  CHRISTOPHER         340    16.683471
23         MARK         159    16.468365
24         ANNA         217    16.401014
25         JOSE         335    16.123104
26      RICHARD         316    16.086203
27      MELISSA         190    16.015105
28       JOSEPH         445    15.951236
29     KATHLEEN         161    15.885714
30         LUIS         242    15.864628
31        KAREN         324    15.808025
32         JUAN         163    15.781472
33       ANGELA         298    15.574060
34       NICOLE         274    15.556423
35        JAMES         452    15.248009
36      ANTHONY         479    15.222004
37       GEORGE         192    15.079740
38       ROBERT         554    15.076516
39    CHRISTINA         176    14.939659
40        MARIA         956    14.905816
41      TIFFANY         187    14.858182
42         LISA         370    14.762027
43        JANET         170    14.753059
44        DIANA         243    14.751934
45       ASHLEY         186    14.502151
46        KEVIN         295    14.489051
47        DEBRA         190    14.439895
48    CATHERINE         197    14.338883
49         ERIC         174    14.319540
50    STEPHANIE         262    14.155954
51      KENNETH         169    14.095680
52          ANA         252    13.906865
53       EDWARD         197    13.682690
54       CARLOS         163    13.522699
55     VICTORIA         158    13.516076
56      CHARLES         229    13.478253
57     KIMBERLY         158    13.464430
58        SONIA         166    13.405060
59     MICHELLE         387    13.166537
60         MARY         482    13.068589
61       EVELYN         220    13.022318
62        DIANE         255    12.966431
63      CRYSTAL         153    12.894248
64      WILLIAM         399    12.877794
65      CYNTHIA         224    12.794732
66         ROSA         262    12.766336
67        DONNA         267    12.583221
68      THERESA         193    12.509741
69     MARGARET         204    12.141324
70        MARIE         244    12.121680
71        CAROL         227    12.070132
72      DEBORAH         295    12.053932
73       CARMEN         357    11.953081
74        LINDA         453    11.895166
75      YOLANDA         156    11.582051
76       RONALD         178    11.462809
77      BARBARA         406    11.373128
78     PATRICIA         572    11.332727
79         JOAN         177    11.078814
80   JACQUELINE         298    10.940403
81       SANDRA         347    10.906023
82       CHERYL         167    10.854970
83       PAMELA         166    10.792892
84       DENISE         335    10.776418
85       SHARON         316    10.673196
86      VALERIE         166    10.156928
87       YVETTE         161     9.730621
88      CAROLYN         155     9.510452
89       GLORIA         261     8.961609
90      SHIRLEY         163     8.921043
91       YVONNE         193     8.869948
92       BRENDA         227     8.553040

In [566]:
def filter_all_salary(result, threshold):
    updated_result = filter_result_by_year(result, '2019')
    greater_result = filter_column_by_value(updated_result, 'pay_basis', 'Annum')
#     greater_result = filter_greater_than(pay_basis_result, 'base_salary', 1)
#     lesser_result = filter_less_than(greater_result, 'base_salary', 20000)
    add_count_of_value(greater_result, 'name_count', 'first_name')
    return get_data_set(greater_result, 'name_count', threshold, 'first_name', 'base_salary')
    # get_data_set(lesser_result, 'first_name', threshold, 'first_name', 'base_salary')

In [567]:
data = filter_all_salary(updated_result, 1000)

/Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [568]:
pip install Genderize

Looking in indexes: https://lina.rudashevski:****@blink.jfrog.io/blink/api/pypi/pypi/simple, https://lina.rudashevski:****@blink.jfrog.io/blink/api/pypi/pypi/simple
Requirement already satisfied: Genderize in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (0.3.1)
Requirement already satisfied: requests>=1.0.0 in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (from Genderize) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (from requests>=1.0.0->Genderize) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (from requests>=1.0.0->Genderize) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (from requests>=1.0.0->Genderize) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/lina.rudashevski/.pyenv/versions/3.6.6/lib/python3.6/site-packages (from requests>=1.0.0->Genderize) (2018.10.15)
WARNING: You are using pip version 19.2.1, however version 19.2.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [569]:
from genderize import Genderize

In [579]:
def genderize(result):
    result['gender']= result.apply(lambda row: Genderize().get([row['first_name']])[0]['gender'], axis=1)

In [580]:
genderize(data)

GenderizeException: ('Request limit reached', 429, {'Server': 'nginx/1.10.3 (Ubuntu)', 'Date': 'Thu, 29 Aug 2019 22:43:23 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '33', 'Connection': 'keep-alive', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Methods': 'GET', 'Access-Control-Allow-Headers': 'Content-Type', 'ETag': 'W/"21-tYoIBroDGdB+35cIAOMCdpXfqjI"'}, 'occurred at index 0')

In [ ]:
data

In [ ]:
new = filter_all(updated_result, '2019', 125)

In [ ]:
genderize(new)

In [ ]:
new

In [ ]:
new.groupby(['gender']).count()

In [ ]:
data.groupby(['gender']).count()

In [ ]:
genderize(salaried_employees_500)

In [ ]:
salaried_employees_500.groupby(['gender']).count()

In [ ]:
salaried_employees_500

In [ ]:
salaried_employees_500['base_salary'].corr(salaried_employees_500['name_count'])

In [ ]:
salaried_employees_500.corr()

In [ ]:
pip install scipy

In [ ]:
from scipy.stats import linregress

In [ ]:
years = get_data_set(yearly_result, 'name_count', 1000, 'first_name', 'base_salary')

In [ ]:
genderize(years)

In [ ]:
years

In [ ]:
def filter_all_day(result, threshold):
    updated_result = filter_result_by_year(result, '2019')
    greater_result = filter_column_by_value(updated_result, 'pay_basis', 'Day')
#     greater_result = filter_greater_than(pay_basis_result, 'base_salary', 1)
#     lesser_result = filter_less_than(greater_result, 'base_salary', 20000)
    add_count_of_value(greater_result, 'name_count', 'first_name')
    return get_data_set(greater_result, 'name_count', threshold, 'first_name', 'base_salary')
    # get_data_set(lesser_result, 'first_name', threshold, 'first_name', 'base_salary')

In [ ]:
filter_all_day(updated_result, 200)

In [ ]:
per_day_salaries = filter_all_day(updated_result, 200)

In [ ]:
genderize(per_day_salaries)

In [ ]:
per_day_salaries

In [ ]:
salaried_employees_500

In [ ]:
salaried_employees_500.to_csv()

In [ ]:
salaried_employees_500.to_csv('salaried_employees_500')

In [ ]:
filter_column_by_value(yearly_result, 'pay_basis', 'Day').sort_values('base_salary', ascending=False)

In [ ]:
pd.set_option('display.max_rows', 1000)

In [ ]:
per_day = filter_column_by_value(yearly_result, 'pay_basis', 'Day').sort_values('base_salary', ascending=False)

In [ ]:
per_day.groupby(['agency_name']).agg({'base_salary': np.mean, 'agency_name': 'count'}).sort_values('base_salary', ascending=False)

In [ ]:
per_day

In [ ]:
yearly_result.groupby(['agency_name']).agg({'base_salary': np.mean}).sort_values('base_salary', ascending=False)

In [ ]:
per_diem_employees = per_day[per_day['agency_name'].str.contains('TEACHER') == False]

In [ ]:
per_diem_employees

In [ ]:
add_count_of_value(per_diem_employees, 'name_count', 'first_name')

In [ ]:
get_data_set(per_diem_employees, 'name_count', 30, 'first_name', 'base_salary')